<div class="row1">
	<div class="col-12 col-lg-6 col-md-12 col-sm-12 position-static">
		<form [formGroup]="regiFormVerifyMpin" (ngSubmit)="submit()">
			<div class="row1">
				<div class="col-12">
					<ul class="step-list">
						<li class="step-matched"> <em> <span class="primary" *ngIf="DataService.regType != 'loan'" >{{"STEP" | translate}} {{"5" | translate}} </span><span class="primary" *ngIf="DataService.regType == 'loan'" >{{"STEP" | translate}} {{"4" | translate}} </span>
							<span *ngIf="DataService.regType != 'loan'" class="secondary">{{"OF_STEP_6" | translate}}</span><span *ngIf="DataService.regType == 'loan'" class="secondary">{{"OF_STEP_5" | translate}}</span> </em> </li>
					</ul>
					<div class="tab-header clearfix">
						<!-- <a  *ngIf="!DataService.isFromMpinLogin"href="javascript:;"  class="skip" (click)="skipStep()">{{"SKIP_THIS_STEP" | translate}} >> </a> -->
						<!-- <small>{{"MPIN_INFO" | translate}}</small> -->
						<div class="row1">
							<div class="col-6 col-md-6">
								<h4>{{"SET_MPIN" | translate}}</h4> </div>
							<!-- <div class="col-6 col-md-6">
								<div class="text-right"> <a *ngIf="!DataService.isFromMpinLogin" href="javascript:;" class="link-txt">{{"SKIP_THIS_STEP" | translate}} >> </a> </div>
							</div> -->
						</div>
						<div class="row1" *ngIf="isAlreadyMBUser == 'Y'">
							<div class="col-12 col-md-12"> <small class="link-text mb-4">
								{{"MPIN_ALREADY_SET" |  translate}}
                                            </small> </div>
						</div>
					</div>
				</div>
				<!-- <div class="tab-header" *ngIf="isAlreadyMBUser == 'Y'" >
                                <small>Mpin is already set for this user.You can skip mpin or update to proceed</small>
                                </div> -->
				<div class="col-sm-12 col-12 col-md-12 col-lg-10">
					<div class="row1">
						<div class="col-12">
							<div class="ux-input mt-0 mb-0">
								<label for="enterTPIN">{{'SET_MPIN' | translate}}</label>
								<a (click)="mpinPolicy()" class="mpin-info-btn">
									<img src="assets/images/svg/information.svg" class="right-img2">
								</a>
							</div>
						</div>
					</div>
					<div class="row4">
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="spassword1" #sMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(0, $event,'spassword')" (focus)="onFocus(0,'spassword')" formControlName="mpin1"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="spassword2" #sMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(1, $event,'spassword')" (focus)="onFocus(1,'spassword')" formControlName="mpin2"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1  mb-0">
								<input id="spassword3" #sMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(2, $event,'spassword')" (focus)="onFocus(2,'spassword')" formControlName="mpin3"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="spassword4" #sMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(3, $event,'spassword')" (focus)="onFocus(3,'spassword')" formControlName="mpin4"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="spassword5" #sMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(4, $event,'spassword')" (focus)="onFocus(4,'spassword')" formControlName="mpin5"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="spassword6" #sMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(5, $event,'spassword')" (focus)="onFocus(5,'spassword')" formControlName="mpin6"> </div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="ux-input mt-0 mb-0">
								<p class="error-message" *ngIf="entermpin"> {{"PLEASE_ENTER_MPIN" | translate }} </p>

							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-12 col-md-12 col-lg-10 mt-4">
					<div class="row1">
						<div class="col-12">
							<div class="ux-input mt-0 mb-0">
								<label for="">{{'CONFIRM_MPIN' | translate}}</label>
							</div>
						</div>
					</div>
					<div class="row4">
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="cpassword1" #cMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(0, $event,'cpassword')" (focus)="onFocus(0,'cpassword')" formControlName="confMpin1"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="cpassword2" #cMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(1, $event,'cpassword')" (focus)="onFocus(1,'cpassword')" formControlName="confMpin2"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="cpassword3" #cMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(2, $event,'cpassword')" (focus)="onFocus(2,'cpassword')" formControlName="confMpin3"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="cpassword4" #cMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(3, $event,'cpassword')" (focus)="onFocus(3,'cpassword')" formControlName="confMpin4"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="cpassword5" #cMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(4, $event,'cpassword')" (focus)="onFocus(4,'cpassword')" formControlName="confMpin5"> </div>
						</div>
						<div class="col-sm-2 col-2 col-md-2">
							<div class="ux-input password1 mb-0">
								<input id="cpassword6" #cMpin type="tel" numbersOnly maxlength="1" placeholder="●" (keyup)="onKeyUp(5, $event,'cpassword')" (focus)="onFocus(5,'cpassword')" formControlName="confMpin6"> </div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="ux-input mt-0 mb-0">
								<p class="error-message" *ngIf="enterConfrmmpin">{{"PLEASE_ENTER_MPIN" | translate }} </p>
								<p class="error-message" *ngIf="mpinNotMatched">{{"MPIN_DIDNOT_MATCH" | translate }} </p>
								<p class="error-message" *ngIf="mpinRepeatError || mpinConsecutiveError">{{"MPIN_SIMPLE_ERROR" | translate }} </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-10 col-md-12 col-sm-12 position-static">
					<div class="ux-footer border-n">
						<div class="row1">
							<div class="col-12 col-md-12">
								<ul class="bottom-footer1">
									<li>
										<div class="btn-div custom-mar hide-m">
											<!-- <button class="ux-button secondary sm-mob cancel-btn" (click)="gotoPrevious()" *ngIf="DataService.isFromOmniReg.isStepVI">{{"PREVIOUS" | translate}}</button> -->
										</div>
										<div class="btn-div custom-mar w100">
											<button class="ux-button primary sm-mob">{{"NEXT" | translate}}</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-12 col-lg-6 col-md-2 col-sm-12 d-none d-lg-block d-xl-block"> <img src="assets/images/svg/SetTPIN.svg" class="right-regImg"> </div>
</div>
