<div class="main bg-m">
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad manage-payee">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<div class="breadcrumb">
								<ul class="lst-breadcrumb">
									<!-- <li> Standing Instructions </li> -->
									<li *ngFor="let name of DataService.breadcrumblist">
										<a (click)="DataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
								</li>
								</ul>
							</div>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="row1 hide-m">
											<div class="col-md-8 col-12">
												<h4>Standing Instructions</h4> </div>
											<div class="col-md-4 col-12"> </div>
										</div>
										<div class="row1">
											<div class="col-sm-12 col-12 col-md-12 mt-0">
												<div class="widget-box5">
													<div class="component-title6 custom-pad">
														<div class="row1">
															<div class="col-12 col-md-4 col-lg-4 col-xl-4">
																<h4 class="default-grey">Standing Instructions List ({{this.standingInstructionListDataVal.length}})</h4> </div>
															<div class="col-12 col-md-8 col-lg-8 col-xl-8">
																<div class="row1">
																	<div class="col-4 col-md-5 hide-m text-right">
																		<button class="ux-button sm primary md" (click)="goToPage('addStandingInstruction')" > <img src="assets/images/svg/plus.svg" alt="add-icon" class="add-btn-icon"> Add SI </button>
																	</div>
																	<div class="col-12 col-md-7">
																		<div class="search-input ux-input  mt-0 mb-0">
																			<input type="text" name="search" placeholder="Search here"  [(ngModel)]="searchText" (ngModelChange)="searchAccount($event)"> <em class="show-searchicon"></em>
																			<p class="error-message"></p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="grey-container">
														<div class="row1">
															<div class="col-6 col-md-6 text-left">
																<button class="ux-linkbutton link-text primary" (click)="goToPage('addStandingInstruction')"> <img src="assets/images/svg/user-profile.svg" alt="star-icon"> Add SI </button>
															</div>
														</div>
													</div>
													<div class="bg-white1">
														<div class="row">
															<ul class="si-grid-list">
																<li class="grey-th">
																	<div class="grid-info">
																		<div class="full-info">
																			<h6>SI Number</h6> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6>Debit Account Number</h6> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6>Credit Account Number</h6> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6>Credit Account Name</h6> </div>
																	</div>
																
																	<div class="grid-info">
																		<div class="full-info">
																			<h6>Next EMI Date</h6> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6>EMI Start Date</h6> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6>Frequency</h6> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6>SI Installment</h6> </div>
																	</div>
																	<!-- <div class="grid-info"> (as discussed with Sushant not to show)
																		<div class="full-info">
																			<h6>Number of Installments Executed</h6> </div>
																	</div> -->
																	<div class="grid-info">
																		<div class="full-info"> </div>
																	</div>
																</li>
																<li *ngFor="let item of standingInstructionListDataVal ; index as i" [class.active]="clicked === i" (click)="clicked = (clicked === i ? null : i )">
																	<div class="grid-info">
																		<div class="full-info">
																			<h6 class="display-mt">SI Number</h6>
																			<h5>{{item.siNum}}</h5> <em></em> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6 class="display-mt">Debit Account Name</h6>
																			<h5>{{item.drAccountNumber}}</h5> </div>
																	</div> 
																	<div class="grid-info">
																		<div class="full-info">
																			<h6 class="display-mt">Credit Account Number</h6>
																			<h5>{{item.crForacid}}</h5> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6 class="display-mt">Credit Account Name</h6>
																			<h5>{{item.crAcctName}}</h5> </div>
																	</div> 
																	
																	<div class="grid-info">
																		<div class="full-info">
																			<h6 class="display-mt">Next EMI Date</h6>
																			<h5>{{item.nextDate}}</h5> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6 class="display-mt">EMI Start Date</h6>
																			<h5>{{item.siStartDate ? item.siStartDate : '-'}}</h5> </div>
																	</div>
																	<div class="grid-info">
																		<div class="full-info">
																			<h6 class="display-mt">Frequency</h6>
																			<h5>{{item.siFreq == 'W' ? 'Weekly' : item.siFreq == 'M' ? 'Monthly' :  item.siFreq == 'H' ? 'Half-Yearly' : item.siFreq == 'Q' ? 'Quartely' : item.siFreq == 'Y' ? 'Yearly' : item.siFreq == 'D' ? 'Daily' : '-'}}</h5> </div>

																	</div>
																
																	<div class="grid-info">
																		<div class="full-info">
																			<h6 class="display-mt">SI Installment</h6>
																			<h5>{{item.flowAmount | customcurrency}}</h5> </div>
																	</div>
																	<!-- <div class="grid-info"> (as discussed with Sushant not to show)
																		<div class="full-info">
																			<h6 class="display-mt">Executed SI</h6>
																			<h5>{{item.numOfTimeSiExe}}/00</h5> </div>
																	</div> -->
																	<div class="grid-info">
																		<div class="full-info text-right">
																			<button class="icon-btn mr delete" (click)="deleteSiPopUp(item)"> <img src="assets/images/svg/delete-g.svg" alt="delete-icon"> </button>
																			<button class="icon-btn mr" (click)="modifySi('modifyStandingInstruction', item)" > <img src="assets/images/svg/edit.svg" alt="Edit-icon"> </button>
																			<button (click)="viewSI(item)" class="ux-button sm primary-custom md" type="submit">View Si </button>
																		</div>
																	</div>
																</li>
																<li *ngIf="standingInstructionListData.length == 0">
																	<div class="col-12">
																		<div class="row mt-3 mb-2">
																			<div class="col-12 col-lg-12 col-md-12 col-sm-12 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block">
																				<div class="dataTables_info text-center">
																					<img src="assets/images/svg/no-rec-found.svg" class="mb-3">
																					<h5 class="mb-5"> {{"NO_RECORD_FOUND" | translate}} </h5>
																				</div>
																			
																			</div>
																		</div>
																	</div>
																</li>
														
																<li style="display: none;">
																	<div class="col-12">
																		<div class="row  mt-3 mb-2">
																			<div class="col-12 col-lg-6 col-md-6 col-sm-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block">
																				<div id="dt-sample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
																					<div class="dataTables_info pt-2" id="dt-sample_info" role="status" aria-live="polite">Showing 1 to 2 of <b>2</b> entries</div>
																				</div>
																			</div>
																			<div class="col-12 col-lg-6 col-md-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block text-right">
																				<div class="custom-paging">
																					<div class="dataTables_wrapper">
																						<div class="dataTables_paginate">
																							<ul class="pagination">
																								<li class="page-item previous disabled"> <a href="javascript:;" class="page-link">Previous</a> </li>
																								<li class="page-item active"> <a href="javascript:;" class="page-link">1</a> </li>
																								<li class="page-item"> <a href="javascript:;" class="page-link">2</a> </li>
																								<li class="page-item next"> <a href="javascript:;" class="page-link">Next</a> </li>
																							</ul>
																							<!--.pagination-->
																						</div>
																						<!--.dataTables_paginate-->
																					</div>
																					<!--.dataTables_wrapper-->
																				</div>
																			</div>
																		</div>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Greencard2 End here -->
								</div>
								<!-- Right Column Ads Start -->
								<div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-xl-block">
									<div class="right-ads">
										<a > <img src="assets/images/banner/my-card-banner.jpg"> </a>
									</div>
									<div class="vspacer30"></div>
									<!-- <div class="offers-card">
										<div class="header-block clearfix">
											<h5>Offers on your card</h5> </div>
										<div class="panel-body">
											<div class="recentpayment-control">
												<ul>
													<li> <img src="assets/images/banner/offer-banner.png"> </li>
												</ul>
											</div>
										</div>
									</div> -->
								</div>
								<!-- Right Column Ads Ends -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->



<!-- ------------------------------------------------------------------------------------------------------------------------------------------------>

<!-- SI Delete pop up start -->
<div class="popup-bottom  sm-popup delete-si">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center">
				<img src="assets/images/svg/information.svg" alt="information-icon"> {{ 'INFORMATION' | translate }}
			</h4>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<p>
				Do you want to delete SI ?
			</p>
		</div>
	</div>
	<div class="row1 mt-2">
		<div class="col-6 text-center">
			<button class="ux-button secondary submit-btn" type="button" (click)="close()">{{ 'CANCEL' | translate}} </button>

		</div>
		<div class="col-6 text-center">
			<button class="ux-button  primary submit-btn" type="submit" (click)="deleteSi()">{{ 'DELETE' | translate}} </button>

		</div>
	</div>
</div>
<!-- SI Delete pop up End -->