<div class="main bg-section3">

    <!--  Header Section Start -->

    <header class="global-header success-bg minus-nav">
        <div class="in-header">
            <div class="header-icons-lft ">
                <div class="header-actions">
                    <button class="ux-button-header">
                        <img src="assets/images/svg/close-w.svg" alt="left-arrow-icon" class="img-vsmall" />
                    </button>
                </div>
            </div>
            <div class="brand-logo">
            </div>
            <div class="header-icons-rit">
                <div class="header-actions">
                    <button class="ux-button-header mr-2">
                        <img src="assets/images/svg/download1-w.svg" alt="download-icon" class="img-small" />
                    </button>
                    <button class="ux-button-header mr-2">
                        <img src="assets/images/svg/share1-w.svg" alt="share-icon" class="img-small" />
                    </button>
                    <button class="ux-button-header">
                        <img src="assets/images/svg/star1-w.svg" alt="star-icon" class="img-small" />
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- Header Section End -->
    <div class="right-main-column mar-custom">
        <div class="right-col-container pad-b">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="bg-section">
                        <div class="col-12">

                            <div class="row1">
                                <div class="col-sm-12 col-12 col-md-12">
                                    <div class="white-box2">
                                        <div class="row">
                                            <div class="success">
                                                <h5> <img src="assets/images/svg/success-arrow1.svg" alt="success-icon">
                                                    Successful</h5>
                                                <small>UPI Global Deactivated</small>
                                                <small class="mt-3">
                                                    <span>
                                                        20 Mar 2020, 12:18 PM
                                                    </span>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="bg-img">
                                            <img src="assets/images/svg/psb-receipt icon.svg" alt="success-bg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12 col-md-12">
                                    <div class="result-container1 mar-top">
                                        <div class="info-bottom">
                                            <div class="info-details mt-4">
                                                <div class="row">
                                                    <h6>Bank Name</h6>
                                                    <h5>PSB Bank</h5>
                                                </div>
                                            </div>
                                            <div class="info-details">
                                                <div class="row">
                                                    <h6>Account Number</h6>
                                                    <h5>XXXXXXXXXXXX2215</h5>
                                                </div>
                                            </div>
                                            <div class="info-details">
                                                <div class="row">
                                                    <h6>UPI Global Status</h6>
                                                    <h5>De-activate</h5>
                                                </div>
                                            </div>
                                            <div class="info-details">
                                                <div class="row">
                                                    <h6>Start Date</h6>
                                                    <h5>30/09/2020</h5>
                                                </div>
                                            </div>
                                            <div class="info-details">
                                                <div class="row">
                                                    <h6>End date</h6>
                                                    <h5>30/10/2020</h5>
                                                </div>
                                            </div>
                                            <div class="info-details">
                                                <div class="row">
                                                    <h6>Per transaction Limit</h6>
                                                    <h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon">
                                                        25,000.00
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="info-details">
                                                <div class="row">
                                                    <h6>Per Day Limit</h6>
                                                    <h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon">
                                                        10,000.00
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="info-details">
                                                <div class="row">
                                                    <h6>Date & Time</h6>
                                                    <h5>04 May 2020, 11:36:30</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>