<div class="main bg-m">
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<div class="breadcrumb">
								<ul class="lst-breadcrumb">
									<li *ngFor="let name of dataService.breadcrumblist">
										<a (click)="dataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12  col-xl-9">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="row1 hide-m">
											<div class="col-md-8 col-12">
												<h4>Close Recurring Deposit</h4> </div>
											<div class="col-md-4 col-12"> </div>
										</div>
										<div class="row1">
											<div class="col-12 col-md-12">
												<from [formGroup]="closeRDForm">
													<div class="row1">
														<div class="col-sm-12 col-12 col-md-12">
															<div class="widget-box5 overflow mb-3">
																<div class="bg-white1 bor-rad pad-custom">
																	<div class="row1">
																		<div class="col-md-12 col-12">
																			<div class="row1">
																				<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																					<div class="ux-input">
																						<label>RD Account</label>
																						<!-- <select formControlName="fdAccount">
																							<option value="select">Select</option>
																							<option value="saving">XXXX XXXX 9897 </option>
																							<option value="saving">XXXX XXXX 9892</option>
																						</select> -->
                                            <input type="text" disabled formControlName="fdAccount">
																						<p class="error-message" *ngIf="closeRDForm.controls['fdAccount'].hasError('required') && (closeRDForm.controls['fdAccount'].dirty || closeRDForm.controls['fdAccount'].touched)"> This field is required </p>
																					</div>
																				</div>
																				<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																					<div class="ux-input ux-disabled">
																						<label>Monthly Installment Amount </label>
																						<input type="text" placeholder="Enter monthly installment amount" disabled formControlName="monthlyInstallment">
																						<p class="error-message"></p>
																					</div>
																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																					<div class="ux-input ux-disabled">
																						<label>Original Maturity Amount</label>
																						<input type="text" placeholder="Enter Original Maturity Amount" disabled formControlName="originalMaturityAmount">
																						<p class="error-message"></p>
																					</div>
																				</div>
																				<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																					<div class="ux-input ux-disabled">
																						<label>Current RD Account Balance</label>
																						<input type="text" placeholder="Enter Current RD Balance" value="1,02,000.00" disabled formControlName="currentRDAccountBalance">
																						<p class="error-message"></p>
																					</div>
																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																					<div class="ux-input ux-disabled mb-0">
																						<label>Maturity Payout Account</label>
																						<input type="text" placeholder="Enter Maturity Payout Account" disabled formControlName="maturityPayoutAccount">
																						<!-- <p class="info-message">No interest will be paid for NRE account if it is broken partially or fully within 1 year</p> -->
																						<p class="error-message"></p>
																					</div>
																					<div class="ux-input mt-0">
																						<p class="info-message">No interest will be paid for NRE account if it is broken partially or fully within 1 year</p>
																					</div>
																				</div>
																				<div class="col-12 col-md-6 col-lg-6 col-xl-4">
																					<div class="ux-input">
																						<label>Remarks</label>
																						<input type="text" placeholder="Enter Remarks" formControlName="remark">
																						<p class="error-message" *ngIf="closeRDForm.controls['remark'].hasError('required') && (closeRDForm.controls['remark'].dirty || closeRDForm.controls['remark'].touched)"> This field is required </p>
																					</div>
																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-md-10 col-lg-10 col-xl-7 col-12">
																					<div class="note-section">
																						<h5>Note</h5>
																						<p>Premature Closure amount is subject to deduction of Penalty and applicable Rate of Interest.</p>
																					</div>
																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-md-6 col-lg-6 col-xl-6 col-12">
																					<div class="ux-selection">
																						<div class="ux-selection1 mar-rcustom p-0">
																							<label>I accept <a (click)="termsConditionPopup('closed')" href="javascript:void(0)">Terms and Conditions</a>
																								<input type="checkbox" (change)="onCheckboxChecked($event)" name="termsCondition" formControlName="termsCondition"> <span class="checkmark"></span> </label>
																						</div>
																						<div class="ux-input m-0">
																							<p class="error-message" *ngIf="(closeRDForm.controls['termsCondition'].hasError('required') && (closeRDForm.controls['termsCondition'].dirty || closeRDForm.controls['termsCondition'].touched)) || (isTermsAndCondition == false)"> This field is required </p>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-12 col-md-12">
															<ul class="bottom-footer1">
																<li>
																	<div class="btn-div">
																		<button class=" ux-button secondary sm-mob" (click)="onCancel()">Cancel</button>
																	</div>
																	<div class="btn-div">
																		<button class=" ux-button primary sm-mob" (click)="openPopup('close-rd-popup')">Submit</button>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</from>
											</div>
										</div>
									</div>
									<!-- Greencard2 End here -->
								</div>
								<div class="col-12 col-md-12 col-lg-12 col-xl-3">
									<div class="row1">
										<!-- Account Details Start here -->
										<div class="col-xl-12 col-lg-6 col-md-12 col-12">
											<div class="show-div inner-right-block account-details" id="account-detail">
												<div class="header-block clearfix">
													<h5>RD Account Details</h5>
													<a class="share-btn right-icon" (click)="shareFdDetails()">
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background: new 0 0 16 16;" xml:space="preserve">
															<g>
																<path class="st0" d="M12.8,5c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5c1.4,0,2.5,1.1,2.5,2.5c0,0,0,0,0,0C15.3,3.9,14.2,5,12.8,5z
																M12.8,1.1c-0.8,0-1.5,0.7-1.5,1.5C11.3,3.4,12,4,12.8,4c0.8,0,1.5-0.7,1.5-1.5c0,0,0,0,0,0C14.3,1.7,13.6,1.1,12.8,1.1L12.8,1.1z" />
																<path class="st0" d="M12.8,15.9c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5c1.4,0,2.5,1.1,2.5,2.5l0,0C15.3,14.8,14.2,15.9,12.8,15.9z
																M12.8,12c-0.8,0-1.5,0.7-1.5,1.5c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5c0,0,0,0,0,0C14.3,12.6,13.6,12,12.8,12L12.8,12z" />
																<path class="st0" d="M3.2,10.5c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5S5.7,6.6,5.7,8l0,0C5.7,9.4,4.6,10.5,3.2,10.5z
																M3.2,6.5C2.4,6.5,1.7,7.2,1.7,8c0,0.8,0.7,1.5,1.5,1.5C4,9.5,4.7,8.8,4.7,8C4.7,7.2,4,6.5,3.2,6.5L3.2,6.5z" />
																<path class="st0" d="M4.9,7.5C4.7,7.5,4.4,7.3,4.4,7c0-0.2,0.1-0.3,0.3-0.4l6.1-3.5C11,3,11.4,3.1,11.5,3.3
																c0.1,0.2,0.1,0.5-0.2,0.7L5.2,7.5C5.1,7.5,5,7.5,4.9,7.5L4.9,7.5z" />
																<path class="st0" d="M11.1,13c-0.1,0-0.2,0-0.2-0.1L4.7,9.4C4.5,9.3,4.4,9,4.5,8.7c0.1-0.2,0.4-0.3,0.7-0.2l6.1,3.5
																c0.2,0.1,0.3,0.4,0.2,0.7C11.4,12.9,11.2,13,11.1,13L11.1,13z" /> </g>
														</svg> Share </a>
												</div>
												<ul class="account-list">
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>RD Account Number</h6>
																	<h5>{{selectedAccData?.account ? selectedAccData?.account : '-'}}</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<!-- <li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Depositor Type</h6>
																	<h5>General Customer (less than 60 years)</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Monthly Debit Date</h6>
																	<h5>1 May 2021</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Start Date</h6>
																	<h5>1 May 2021</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li> -->
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Maturity Date</h6>
																	<h5>{{rdDetailsData?.maturityDate ? rdDetailsData?.maturityDate : '-'}}</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Tenure</h6>
																	<h5>{{rdDetailsData?.depositPeriodMonthsComponent ? rdDetailsData?.depositPeriodMonthsComponent + ' Months' : '-'}}</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Interest Rate </h6>
																	<h5>{{rdDetailsData?.interest_Rate ? rdDetailsData?.interest_Rate : '-'}} %</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<!-- <li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Paid Installments/Installment Due</h6>
																	<h5>12/27</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Next Due Date</h6>
																	<h5>1 Aug 2021</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h6>Joint Holder Name</h6>
																	<h5>Sanjay Madhavan</h5> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li> -->
													<li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span>
                                    </label>
																	</div>
																	<h6>Mode of RD Opening</h6>
																	<h5 *ngIf="rdDetailsData?.account == 'ONLINE USE'">Online</h5>
																	<h5 *ngIf="rdDetailsData?.account != 'ONLINE USE'">Branch</h5>
                                </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<!-- <li>
														<div class="full-container">
															<div class="full-info2">
																<div class="left-info check" [ngClass]="shareDetails ? 'active' : '' ">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h5>Branch</h5>
																	<h6>Andheri (E)</h6> </div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li> -->
													<li>
														<div class="full-container">
															<div class="full-info">
																<div class="left-info check">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h5>Maturity Payout Account</h5>
																	<h6>{{rdDetailsData?.repaymentAccountNumber ? rdDetailsData?.repaymentAccountNumber : '-' }}</h6> </div>
															</div>
															<!-- <div class="full-info">
																<div class="right-info">
																	<button class="ux-linkbutton link-text sm-text primary mt-4">Update</button>
																</div>
															</div> -->
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<!-- <li>
														<div class="full-container">
															<div class="full-info">
																<div class="left-info check">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h5>Maturity Instructions</h5>
																	<h6>Renew with interest</h6> </div>
															</div>
															<div class="full-info">
																<div class="right-info">
																	<button class="ux-linkbutton link-text sm-text primary mt-4">Update</button>
																</div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li>
													<li>
														<div class="full-container">
															<div class="full-info">
																<div class="left-info check">
																	<div class="ux-selection share-info">
																		<label class="ux-selection1">
																			<input type="checkbox" name="" /> <span class="checkmark"></span> </label>
																	</div>
																	<h5>Nominee Details</h5>
																	<h6>Sanjeev sharma</h6> </div>
															</div>
															<div class="full-info">
																<div class="right-info">
																	<button class="ux-linkbutton link-text sm-text primary mt-4">Add/Update</button>
																</div>
															</div>
														</div>
														<div class="full-container">
															<div class="ux-input mt-0 mb-0">
																<p class="error-message"></p>
															</div>
														</div>
													</li> -->
													<li class="btn-section" [ngStyle]="{display : shareDetails ? 'flex' : 'none' } ">
														<div class="full-container">
															<div class="row1">
																<div class="col-6 col-md-6">
																	<button class="cancel-btn ux-button secondary sm-mob" (click)="cancelShare()">Cancel</button>
																</div>
																<div class="col-6 col-md-6">
																	<button class="submit-info ux-button primary sm-mob" (click)="submitShare()">Submit</button>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<!-- Account Details End here -->
									</div>
								</div>
								<!-- Right Side Column End -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--.container-fluid-->
		</div>
		<!--.body-page-container-->
	</div>
	<!--.right-col-container-->
</div>
<!--.right-main-column-->

<!-- main -->
<!-- Success Popup Start -->
<div class="popup-bottom success-popup">
	<div class="row mt-3">
		<div class="success"> <img src="../assets/images/svg/check.svg" alt="success-icon" />
			<h3>Success</h3>
			<h5>Account Details shared Successfully</h5> </div>
	</div>
	<div class="row1 mt-3">
		<div class="col-12 text-center">
			<button class="ux-button primary md ok-btn">Ok</button>
		</div>
	</div>
</div>
<!-- Success Popup End -->

<div class="popup-bottom sm-popup close-rd-popup">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center"> <img src="./assets/images/svg/information.svg" alt="information-icon"> {{'INFORMATION' | translate }}
			</h4>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<p>Do you want to close this RD?</p>
		</div>
	</div>
	<div class="row1 mt-2">
		<div class="col-6 text-center">
			<button class="ux-button primary md" (click)="closeRdSubmit(closeRDForm)">{{'YES' | translate}}</button>
		</div>
		<div class="col-6 text-center">
			<button class="ux-button secondary no md close-btn" (click)="closePopup()">{{'NO' | translate}}</button>
		</div>
	</div>
</div>

<!-- Close FD  : Terms & Conditions Popup End-->

<div class="popup-bottom lg-popup terms-conditions-popup">
  <div class="row1">
      <div class="col-10">
          <h4 class="text-center">Terms and Conditions</h4>
      </div>
      <div class="col-2">
          <button class="ux-button-icon close-btn" (click)="closeTerms()">
              <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall">
          </button>
      </div>
  </div>
<div class="row1 mt-2">
   <div class="scroll-content">
       <div class="content-scroll">
          <div class="col-12 p-2">
              <ol class="order-list">
                  <li>
                      <!-- <h5 class="text-left bold">DEFINITIONS</h5>  -->
                        <!-- <p class="m-text  mt-2 mb-2">In these Terms and Conditions, unless the context indicates otherwise, the following words and phrases shall have the meanings indicated against them:
                         </p> -->
                          <ul class="orderlist">
                              <li>The Online Fixed Deposit in INR will be opened in the same name(s) of the account holder(s) as in account from which it is funded</li>
                              <li>The Online Fixed Deposit will be opened in the same branch where the debit account belongs.</li>
              <li>The interest on the Term Deposit, and the proceeds of the Term Deposit upon maturity, will be credited to the account from which the Term Deposit was funded.</li>
              <li>Bank will deduct the TDS as per the law applicable and in case no tax is to be deducted, form 15H/G has to be submitted by the depositor to the branch just after opening the Term Deposit and at the beginning the Financial Year in the subsequent Financial Years.</li>
              <li>Online Fixed Deposit with additional rate of interest for Senior Citizens will be issued if the age of customer is 60 years or above, on the date of creating the fixed deposit, as per date of birth recorded with the Bank. The minimum days applicable for additional rate of interest for senior citizen will be as per Bank's policy.</li>
              <li>Online Fixed Deposit will be disposed of according to the Maturity Instruction given at the time of opening the deposit. In case of auto renewal, the deposit will be renewed for the same duration for which it was originally kept or maximum 12 months (whichever is lower), at the rate of interest prevailing on the date of renewal for that duration. If auto renewal instructions are given, the instructions will continue to executed till terminated by the account holder.</li>
              <li>The stipulation as to the payment of interest is subject to the condition that the rate of interest agreed to be paid by the Bank will be liable to revision (up or down) in accordance with directives (if any) issued by the Reserve bank of India, in exercise of the powers conferred on it by Section’s 21 & 35A of the Banking Regulations Act, 194 to such extent as may be applicable to this fixed deposit.</li>
              <li>The Bank shall have the first Lien on all kinds of deposits and securities in its possession for any kind of liability in favour of or for monies due to the Bank.</li>
              <li>In case deposit is not renewed interest on deposit ceases from due date.</li>
              <li>Where Interest on FDR’s exceeds or is likely to exceed a specific limit (fixed by I.T. Department from time to time) per depositor during a financial year, the depositor(s) is required to submit the form No. 15G/15H, as applicable invariably for non deduction of tax at source failing which bank will deduct T.D.S. as per Income Tax Rules.</li>

                          </ul>

                   </li>
              </ol>
          </div>
       </div>
    </div>
</div>
</div>
<!-- Terms & Conditions Popup End-->

<div class="ios-nav-overlay"></div>
<!--.toast-messages-->
<div class="toast-messages3"></div>
<!--.toast-messages-->
