<div class="main bg-m">
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad manage-payee">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<div class="breadcrumb">
								<ul class="lst-breadcrumb">
									<!-- <li> <a href="">Service request</a> </li>
									<li> <a href="">Chequebook Services</a> </li>
									<li>Stop cheques </li> -->
									<li *ngFor="let name of DataService.breadcrumblist">
										<a (click)="DataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12  col-xl-9">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="row1 hide-m">
											<div class="col-12">
												<h4> {{ 'STOP_CHEQUE' | translate }}</h4> </div>
										</div>
										<!-- row1 -->
                  					<form [formGroup]="stopChequeForm" (ngSubmit)="stopChequeSubmit()">
										<div class="row1">
											<div class="col-sm-12 col-12 col-md-12">
												<div class="widget-box5 mb-3">
													<div class="bg-white1 pad-custom">
														<div class="row1">
															<div class="col-12 col-md-6 col-lg-6 col-xl-5" (click)="onAccountSelectType()">
																<div class="ux-input" >
																	<label> {{ 'ACCOUNT' | translate }}</label>
																	<select  formControlName="account" *ngIf="platform == 'web'"  (change)="changeCheque($event.target.value)" >
																		<option value=""> {{ 'SELECT_ACCOUNT' | translate }}</option>
																		<option *ngFor="let account of accountList" [value]="account.accountNo" >{{account.SchemeCode}} {{account.sbAccount}}</option>
																		<!-- <option value="1212121212">1212121212</option> -->
																	</select>
																	<div *ngIf="platform != 'web'" >
																		<input type="text" formControlName="accountNo" placeholder="{{ 'SELECT_ACCOUNT' | translate }}" readonly>
																		<span class="right-custom-arrow"></span> </div>

                                   									<p class="error-message" *ngIf="stopChequeForm.controls['account'].hasError('required') && (stopChequeForm.controls['account'].dirty || stopChequeForm.controls['account'].touched)">{{"REQUIRED_MSG" | translate}} </p>

																</div>
															</div>
														</div>
														<div class="row1">
															<div class="col-12 col-md-12 col-lg-12 col-xl-12">
																<div class="ux-selection mt3">
																	<h6> {{ 'I_WANT_TO_STOP' | translate }}</h6> </div>
															</div>
														</div>
														<!-- row1 -->
														<div class="row1">
															<div class="col-12 col-md-12 col-lg-12 col-xl-12">
																<div class="ux-selection">
																	<label class="ux-selection2"> {{'SINGLE_CHEQUE' | translate}}
																		<input type="radio"  [(ngModel)]="chequeTypeModel" [checked]="chequeTypeModel" name="radioboxdemo" value="single" formControlName="radioboxdemo" > <span class="checkmark"    ></span> </label>
																</div>
																<div class="ux-selection">
																	<label class="ux-selection2"> {{'MULTIPLE_CHEQUE' | translate}}
																		<input type="radio"  [(ngModel)]="chequeTypeModel" [checked]="!chequeTypeModel" name="radioboxdemo" value="multiple"  formControlName="radioboxdemo"  > <span class="checkmark"  ></span> </label>
																</div>
															</div>
														</div>
														<div class="row1">
															<div class="col-12 col-md-6 col-lg-6 col-xl-6">
																<div class="single-cheque" *ngIf="chequeTypeModel == 'single' ">
																	<div class="ux-input">
																		<label>{{'CHEQUE_NUMBER' | translate}}</label>
																		<input type="text" numbersOnly placeholder='{{"ENTER_CHEQUE_NUMBER" | translate}}' maxlength="6" numbersOnly formControlName="chequeNumber" (input)="checkEnquiry('chqNo')" >
																		<p class="error-message" *ngIf="stopChequeForm.controls['chequeNumber'].hasError('required') && (stopChequeForm.controls['chequeNumber'].dirty || stopChequeForm.controls['chequeNumber'].touched)">{{"REQUIRED_MSG" | translate}}</p>
																		<p class="error-message" *ngIf="stopChequeForm.controls['chequeNumber'].hasError('minlength') && (stopChequeForm.controls['chequeNumber'].dirty || stopChequeForm.controls['chequeNumber'].touched)"> {{"SIX_DIGIT_CHEQUE_NUMBER" | translate}} </p>
																		<p class="error-message" *ngIf="stopChequeForm.controls['chequeNumber'].hasError('min') && (stopChequeForm.controls['chequeNumber'].dirty || stopChequeForm.controls['chequeNumber'].touched)">   {{"INVALID_CHEQUE_NUMBER" | translate}} </p>
																		<p class="error-message" *ngIf="statusSingle != 'UNUSED' && statusSingle != 'STOPED'  && statusSingle != ''"> The above Cheque has already been used</p>
																		<p class="error-message" *ngIf="statusSingle == 'STOPED'  "> The above Cheque has already been stopped</p>
																	</div>
																</div>
																<!-- Multiple cheque -->
																<div class="multiple-cheque" *ngIf="chequeTypeModel == 'multiple' ">
																	<div class="row1">
																		<div class="" [ngClass]= "platform == 'web' ? 'col-6 col-md-6' : 'col-12 col-md-12' ">
																			<div class="ux-input">
																				<label>{{'FROM_CHEQUE_NUMBER' | translate}}</label>
																				<input numbersOnly maxlength="6" type="text" placeholder='{{"ENTER_CHEQUE_NUMBER" | translate}}' formControlName="frmChequeNumber" (input)="checkEnquiry('frmChqNo')">
																				<p class="error-message" *ngIf="stopChequeForm.controls['frmChequeNumber'].hasError('required') && (stopChequeForm.controls['frmChequeNumber'].dirty || stopChequeForm.controls['frmChequeNumber'].touched)">{{"REQUIRED_MSG" | translate}}</p>
																				<p class="error-message" *ngIf="stopChequeForm.controls['frmChequeNumber'].hasError('minlength') && (stopChequeForm.controls['frmChequeNumber'].dirty || stopChequeForm.controls['frmChequeNumber'].touched)"> {{"SIX_DIGIT_CHEQUE_NUMBER" | translate}} </p>
																				<p class="error-message" *ngIf="status != 'UNUSED' && status != 'STOPED' && status != ''"> The above Cheque has already been used </p>
																				<p class="error-message" *ngIf="status == 'STOPED'  "> The above Cheque has already been stopped</p>
																			</div>
																		</div>
																		<div class="" [ngClass]= "platform == 'web' ? 'col-6 col-md-6' : 'col-12 col-md-12' ">
																			<div class="ux-input">
																				<label>{{'TO_CHEQUE_NUMBER' | translate}}</label>
																				<input numbersOnly maxlength="6" type="text" placeholder='{{"ENTER_CHEQUE_NUMBER" | translate}}' formControlName="toChequeNumber">
																				<p class="error-message" *ngIf="stopChequeForm.controls['toChequeNumber'].hasError('required') && (stopChequeForm.controls['toChequeNumber'].dirty || stopChequeForm.controls['toChequeNumber'].touched)">{{"REQUIRED_MSG" | translate}}</p>
																				<p class="error-message" *ngIf="stopChequeForm.controls['toChequeNumber'].hasError('minlength') && (stopChequeForm.controls['toChequeNumber'].dirty || stopChequeForm.controls['toChequeNumber'].touched)"> {{"SIX_DIGIT_CHEQUE_NUMBER" | translate}} </p>

																			</div>
																		</div>
																	</div>
                                  <div class="ux-input mt-0">
                                    <p class="info-message"> {{'ENTER_CHEQUE_RANGE' | translate}}</p>
                                  </div>
																</div>

															</div>
														</div>

														<!-- row1 -->
														<div class="row1">
															<div class="col-12 col-md-6 col-lg-5 col-xl-4">
																<div class="ux-input mt-3">
																	<label> {{'REASON' | translate}}</label>
																	<!-- <input type="text" placeholder="Enter remark" formControlName="reason" limit-to="50"> -->
                                  									<!-- <p class="error-message" *ngIf="stopChequeForm.controls['remarks'].hasError('pattern') && (stopChequeForm.controls['remarks'].dirty || stopChequeForm.controls['remarks'].touched)">Remarks should be alphanumber only</p> -->
																	  <select required formControlName="reason" (change)="onReasonChange($event.target.value)">
																		<option value="">  {{'SELECT_REASON' | translate}}</option>
																		<option *ngFor="let reason of reasonList" [value]="reason.productName">{{reason.ProductCode}}</option>
																		<!-- <option  value="Others">Others</option> -->
																		<!-- <option value="1212121212">1212121212</option> -->
																	  </select>
																	<p class="error-message" *ngIf="stopChequeForm.controls['reason'].hasError('required') && (stopChequeForm.controls['reason'].dirty || stopChequeForm.controls['reason'].touched)">{{"REQUIRED_MSG" | translate}}</p>

																</div>
															</div>
															<div class="col-12 col-md-6 col-lg-5 col-xl-4" *ngIf="stopChequeForm.controls.reason.value =='999'">
																<div class="ux-input mt-3">
																	<label> {{'REMARKS' | translate}}</label>
																	 <input type="text" placeholder="Enter remark" formControlName="remark" limit-to="50" >
                                  									<!-- <p class="error-message" *ngIf="stopChequeForm.controls['remarks'].hasError('pattern') && (stopChequeForm.controls['remarks'].dirty || stopChequeForm.controls['remarks'].touched)">Remarks should be alphanumber only</p> -->


																	<!-- <p class="error-message" *ngIf="stopChequeForm.controls['remark'].hasError('required') && (stopChequeForm.controls['remark'].dirty || stopChequeForm.controls['remark'].touched)">{{"REQUIRED_MSG" | translate}}</p> -->
																	<p class="error-message" *ngIf="stopChequeForm.controls['remark'].hasError('required') && (stopChequeForm.controls['remark'].dirty || stopChequeForm.controls['remark'].touched)">{{"REQUIRED_MSG" | translate}}</p>

																</div>
															</div>
															<div class="col-12  col-md-12 col-lg-12 col-xl-12">
																<div class="ux-input mt5 pb-0">
																	<label class="pl-0 text-upper" (click)="openchargespopup()"><a  class="reg-txt"> {{'APPLICABLE CHARGES' | translate}}</a> </label>
																	<p class="info-message">{{'CHARGES_APPLICABLE_AS_PER_BANK' | translate}}</p>
																</div>
															</div>
														</div>
														<!-- row1 -->
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<ul class="bottom-footer1">
													<li>
														<div class="btn-div">
															<button class="ux-button secondary sm-mob" type="button" (click)="onCancel()" >{{'CANCEL' | translate}}</button>
														</div>
														<div class="btn-div">
															<button class="ux-button primary sm-mob" >{{ 'SUBMIT' | translate }}</button>
														</div>
													</li>
												</ul>
											</div>
										</div>
                  					</form>
									</div>
								</div>
								<!-- Right Column Ads Start -->
								<div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-md-block d-lg-block d-xl-block">
									<div class="right-ads">
										<a > <img src="assets/images/banner/my-card-banner.jpg"> </a>
									</div>
									<div class="vspacer30"></div>
									<!-- Offercard Start-->
									<!-- <div class="offers-card">
										<div class="header-block clearfix">
											<h5> {{ 'OFFERS_ON_CARD' | translate }}</h5> </div>
										<div class="panel-body">
											<div class="recentpayment-control">
												<ul>
													<li> <img src="assets/images/banner/offer-banner.png"> </li>
												</ul>
											</div>
										</div>
									</div> -->
									<!-- Offercard Ends-->
								</div>
								<!-- Right Column Ads Ends -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
	<!-- Sample cheque Modal Starts-->
	<div id="sampleChequeModal" class="modal fade " role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<div class="mh-bottom">
						<div class="row1">
							<div class="col-10">
								<h4 class="text-center">Sample Cheque</h4></div>
							<div class="col-2"><a href="javascript:;" data-dismiss="modal"><span class="mh-cross" ></span></a></div>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<!-- <img src="assets/images/banner/WaterSupply1.jpg" alt=""> --><img src="assets/images/slides/dashboard-banner.png" alt=""> </div>
			</div>
		</div>
	</div>
	<!-- Sample cheque Modal Ends-->
</div>
<!--main-->

                            <!-- <div class="ios-nav-overlay "></div> -->
                            <div class="popup-bottom sm-popup confirmation1" >
                              <div class="row">
                                  <div class="col-12">
                                      <h4 class="text-center">Confirmation</h4>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-12">
                                      <p *ngIf="stopChequeForm.value.radioboxdemo == 'single'" >
                                        Payment to Cheque {{stopChequeForm.value.chequeNumber}} Number will be stopped.
                                      </p>
                                      <p *ngIf="stopChequeForm.value.radioboxdemo == 'multiple'">
                                        All {{noOfLeaves}} cheques from {{stopChequeForm.value.frmChequeNumber}} to {{stopChequeForm.value.toChequeNumber}} will be stopped.
                                      </p>
                                  </div>
                              </div>
                              <div class="row1 mt-2">
                                  <div class="col-6 text-center">
                                      <button class="ux-button secondary no md close-btn" (click)="closePoup()">{{'CANCEL' | translate}}</button>
                                  </div>
                                  <div class="col-6 text-center">
                                      <button class="ux-button primary md" (click)="proceed()">{{'PROCEED' | translate}}</button>
                                  </div>
                              </div>
                          </div>

						<div class="popup-bottom md-popup chargesPopup" >
							<div class="row">
								<div class="col-12">

									<h4 class="text-center">Applicable Charges</h4>

									<div class="popup-body">
										<h4><b>SB Accounts(All customers)</b></h4>
										<ul>
											<li>* Rs.100/- per instrument maximum Rs.500/- per instruction in all branches.</li>
											<li>* Rs.50/- per instrument and maximum Rs.250/-per instruction in case of pensioners and Senior Citizens.</li>
										</ul>
										<h4><b>Current Accounts/CC/OD Accounts</b></h4>

										<b>Non- Individuals –</b>

										<p>* Rs. 300/- per instrument*, Maximum Rs. 1000/- per instruction</p>



											<b>Individuals-</b>

										<p>	* Rs. 300/- per instrument*, Maximum Rs. 1000/- per instruction</p>



								</div>
							</div>
							</div>

							<div class="row1 mt-2">
								<div class="col-12 text-center">
									<button class="ux-button secondary no md close-btn" (click)="closePoup()">{{'CANCEL' | translate}}</button>
								</div>

							</div>
						</div>





<!-- Select Accounts Popup Start-->
<div class="popup-bottom sel-account">
	<div class="row1">
		<div class="col-10">
			<h4>{{"SELECT_FROM_ACCOUNT" | translate }}</h4> </div>
		<div class="col-2">
			<button class="ux-button-icon close-btn" (click)="_closePopup()" > <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall"> </button>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<div class="row1">
				<div class="col-12 col-md-12" *ngFor="let account of accountList; let i = index">
					<div class="ux-selection mar-custom">
						<label class="ux-selection2">{{account.SchemeCode}} {{account.sbAccount}}
							<input type="radio" [value]="account.accountNo" name="upi-account" [checked]="selectedAccount == item?.accountNo ? true : false" [(ngModel)]="selectedAccount" [ngModelOptions]="{standalone: true}" > <span class="checkmark"></span> </label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 text-center">
			<button class="ux-button primary submit-btn2" (click)="onFromAccountSelect(selectedAccount);_closePopup()">{{ 'SUBMIT' | translate }}</button>
		</div>
	</div>
</div>
<!-- Select Accounts Popup End-->
