<div class="row">
    <div class="col-12 col-lg-6 col-md-10 col-sm-12 position-static">
       <!-- <form [formGroup]="registrationFormCustDtl"> -->
       <div class="row1">
         <div class="col-12">
           
  
           <ul class="step-list">
            <li class="step-matched">
              <em><span class="primary">"STEP 1</span> <span class="secondary">OF STEP 6</span></em>
             
             </li>
            </ul>
          <div class="tab-header">
            <h4>Account Details</h4>
            </div>
  
  
         </div>
         <div class="col-12">
           <div class="details-section">
             <div class="row1">
               <div Class="col-12">
                 <div class="ux-input">
                       <label>Username</label>
                         <input type="text" placeholder='ENTER_Username' formControlName="username" numbersOnly    >
                         <!-- <span class="errormsg" *ngIf="registrationFormCustDtl.controls['mobNumber'].touched && registrationFormCustDtl.controls['mobNumber'].hasError('required')">{{"PLEASE_ENTER_MOBILE_NO" | translate }}</span> -->
                       <p></p>
                     </div>
                 </div>  
                 
               </div>
           </div>
         </div>
         <div class="col-12 col-lg-10 col-md-12 col-sm-12 m-auto position-static">
           <div class="ux-footer border-n">
             <div class="row1">
               <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                 
                 </div>
               <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
                  <button type="button" class="ux-button sm  secondary  cancel-btn ">CANCEL</button>
                  <a class="ux-button primary sm  ml-2" type="submit" (click)="submit()" >NEXT </a>
               </div>
               </div>
             </div> 
         </div>
      </div> 
     <!-- </form> -->
    </div>
    <div class="col-12 col-lg-6 col-md-2 col-sm-12  d-none d-lg-block d-xl-block">
        <img src="assets/images/svg/regImg1.svg" class="right-regImg">
    </div>
  </div>
  
  
  