<div class="main">
	<div class="right-main-column minus-rt-col mar-custom">
		<div class="right-col-container pad-b">
			<div class="body-page-container">
				<div class="container-fluid">
					<div class="row">
						<div class="bg-section">
							<div class="col-12">
								<div class="row1">
									<div class="col-sm-12 col-12 col-md-12">
										<div class="white-bg1 pad-custom">
											<!-- Accordion Start here-->
											<div id="accordion" class="accordion-container">
												<!-- Card Start -->
												<div class="card2" *ngFor="let faq of faqList ; index as i">
													<a class="card-link collapsed" data-toggle="collapse" href="#collapse{{i}}" aria-expanded="false">
														<div class="card-header3">
															<div class="panel-title2">
																<h4>{{faq.id}}. {{faq.question}}</h4> </div> <em></em> </div>
														<!--card-header-->
													</a>
													<div id="collapse{{i}}" class="collapse" data-parent="#accordion">
														<div class="card-body bg-lg3">
															<div class="row">
																<p> {{faq.answer}} </p>
															</div>
														</div>
													</div>
												</div>
												<!--Card End-->
											</div>
											<!-- Accordion End here-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- main -->