
    .badge-upcoming1 {
        position: absolute;
        background: #AD1C29;
        color: #fff;
        font-size: .5rem;
        padding: 1px 5px;
        border-radius: 10px;
        top: 0px;
        // right: 10px;
        text-transform: capitalize;
    }