<div class="main">
    <div class="right-main-column minus-rt-col bg1 mar-custom">
        <div class="right-col-container">
            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="bg-section">
                        <div class="col-sm-12 col-12 col-md-12">
                            <div class="row">
                                <div class="sub-header2">
                                    <div class="in-header">
                                        <div class="header-icons-lft">
                                            <div class="header-actions">
                                            </div>
                                        </div>
                                        <div class="brand-logo m-auto text-center">
                                            <h4>
                                                {{ 'RECEIPT' | translate }}
                                                <!-- Receipt -->
                                            </h4>
                                        </div>
                                        <div class="header-icons-rit">
                                            <div class="header-actions">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row1">
                                <div class="col-sm-12 col-12 col-md-12">
                                    <div class="grey-bg2 mt-0">
                                        <div class="row1">
                                            <div class="col-12">
                                                <div class="logo2">
                                                    <img src="assets/images/logo/bhim-logo.png" alt="bhim-upi-logo">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 mt-2 text-center m-auto">
                                                <div class="success-card">
                                                    <img src="assets/images/svg/success.svg" alt="success-icon">
                                                    <h2 class="success">
                                                        {{ 'CONGRATULATIONS' | translate }}
                                                        <!-- Congratulations -->
                                                    </h2>
                                                    <p>
                                                        {{ 'UPI_REG_SUCCESS_MSG' | translate }}
                                                        <!-- You are successfully registered on BHIM PSB for UPI services. -->
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- <div class="col-12 text-center"> -->
                                            <!-- <button class="ux-button primary" (click)="goToLogin()" data-toggle="modal" data-target="#confirmModal"> -->
                                            <!-- {{ 'LETS_START' | translate }} -->
                                            <!-- Let's Start -->
                                            <!-- </button> -->
                                        </div>
                                    </div>

                                    <div class="grey-bg2">
                                        <div class="row1">
                                            <div class="col-12">
                                                <div>
                                                    <h4 class="info-heading"><img src="assets/images/svg/safty-icon.svg"
                                                            alt="safty-icon">
                                                        Important Safety Check Points</h4>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-12 mt-2 text-center m-auto">
                                                <ul class="unorderlist2">
                                                    <li>Enter UPI PIN only on UPI IN page</li>
                                                    <li>Only sending money requires UPI PIN</li>
                                                    <li>Avoid sharing financial information on social media. Contact the
                                                        services provider through correct channels.</li>
                                                    <li>Don’t share OTP with anyone</li>
                                                </ul>
                                            </div>

                                            <div class="col-12 text-center">
                                                <button class="ux-button primary" (click)="gotoDashboard()">{{ 'LETS_START'
                                                    | translate }}</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="col-12 text-center">
                                        <div class="powered-logo2">
                                            <img src="assets/images/logo/powered-upi-logo.svg"
                                                alt="powered-upi-logo">
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- footer section start -->

            <div class="footer-container sticky-actions box-shadow">
                <div class="footer-inactions minus-rt-col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 text-center">
                                <div class="powered-logo2">
                                    <img src="assets/images/svg/powered-by-upi-big.svg" alt="powered-upi-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer section end -->

        </div>
    </div>

</div>

<!-- main -->