<div class="main">

    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="col-sm-12 col-12 col-md-12">
                                        <div class="white-bg1">
                                            <div class="row">
                                                <div class="col-sm-12 col-12 col-md-12 p-0">
                                                    <div class="ux-input">
                                                        <input type="text" placeholder="Search for ups id/mobile number"
                                                            required>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-12 col-md-12 p-0">
                                                    <ul class="contact-list2">
                                                        <li>
                                                            <a >
                                                                <div class="list-ful">
                                                                    <h5>A</h5>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <div class="list-full1">
                                                                <div class="list-lft">
                                                                    <span class="green1">
                                                                        <img src="assets/images/icons/user3.png"
                                                                            alt="user-img">
                                                                        <div class="rounded-circle">
                                                                            <img src="assets/images/icons/psb-icon.png"
                                                                                alt="psb-icon-img">
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                                <div class="list-rit">
                                                                    <div class="row1">
                                                                        <div class="col-8 col-md-10">
                                                                            <h5>Aarti Singh</h5>
                                                                            <h6>9820225255</h6>
                                                                        </div>
                                                                        <div class="col-4 col-md-2">
                                                                            <a
                                                                                class="status-info ux-linkbutton1 sm-link2 primary float-right mt-4">
                                                                                <span class="info">Invite</span> <span
                                                                                    class="hide-info">Invited</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="list-full1">
                                                                <div class="list-lft">
                                                                    <span class="green1">
                                                                        <img src="assets/images/icons/user7.png"
                                                                            alt="user-img">
                                                                    </span>
                                                                </div>
                                                                <div class="list-rit">
                                                                    <div class="row1">
                                                                        <div class="col-8 col-md-10">
                                                                            <h5>Aarav Shetty</h5>
                                                                            <h6>9820589655</h6>
                                                                        </div>
                                                                        <div class="col-4 col-md-2">
                                                                            <a
                                                                                class="status-info ux-linkbutton1 sm-link2 primary float-right mt-4">
                                                                                <span class="info">Invite</span> <span
                                                                                    class="hide-info">Invited</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="list-full1">
                                                                <div class="list-lft">
                                                                    <span class="green1">
                                                                        <h6>AK</h6>
                                                                        <div class="rounded-circle">
                                                                            <img src="assets/images/icons/psb-icon.png"
                                                                                alt="psb-icon-img">
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                                <div class="list-rit">
                                                                    <div class="row1">
                                                                        <div class="col-8 col-md-10">
                                                                            <h5>Anuj Kumar</h5>
                                                                            <h6>9820145212</h6>
                                                                        </div>
                                                                        <div class="col-4 col-md-2">
                                                                            <a
                                                                                class="status-info ux-linkbutton1 sm-link2 primary float-right mt-4">
                                                                                <span class="info">Invite</span> <span
                                                                                    class="hide-info">Invited</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="list-full1">
                                                                <div class="list-lft">
                                                                    <span class="yellow">
                                                                        <h6>A</h6>
                                                                    </span>
                                                                </div>
                                                                <div class="list-rit">
                                                                    <div class="row1">
                                                                        <div class="col-8 col-md-10">
                                                                            <h5>Akshay</h5>
                                                                            <h6>9820363636</h6>
                                                                        </div>
                                                                        <div class="col-4 col-md-2">
                                                                            <a
                                                                                class="status-info ux-linkbutton1 sm-link2 primary float-right mt-4">
                                                                                <span class="info">Invite</span> <span
                                                                                    class="hide-info">Invited</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a >
                                                                <div class="list-ful">
                                                                    <h5>B</h5>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <div class="list-full1">
                                                                <div class="list-lft">
                                                                    <span class="yellow">
                                                                        <h6>BS</h6>
                                                                        <div class="rounded-circle">
                                                                            <img src="assets/images/icons/psb-icon.png"
                                                                                alt="psb-icon-img">
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                                <div class="list-rit">
                                                                    <div class="row1">
                                                                        <div class="col-8 col-md-10">
                                                                            <h5>Birjesh Singh</h5>
                                                                            <h6>9820363636</h6>
                                                                        </div>
                                                                        <div class="col-4 col-md-2">
                                                                            <a
                                                                                class="status-info ux-linkbutton1 sm-link2 primary float-right mt-4">
                                                                                <span class="info">Invite</span> <span
                                                                                    class="hide-info">Invited</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="list-full1">
                                                                <div class="list-lft">
                                                                    <span class="red1">
                                                                        <h6>BS</h6>
                                                                    </span>
                                                                </div>
                                                                <div class="list-rit">
                                                                    <div class="row1">
                                                                        <div class="col-8 col-md-10">
                                                                            <h5>Bharat Seth</h5>
                                                                            <h6>9758124577</h6>
                                                                        </div>
                                                                        <div class="col-4 col-md-2">
                                                                            <a
                                                                                class="status-info ux-linkbutton1 sm-link2 primary float-right mt-4">
                                                                                <span class="info">Invite</span> <span
                                                                                    class="hide-info">Invited</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="list-full1">
                                                                <div class="list-lft">
                                                                    <span class="blue1">
                                                                        <h6>BP</h6>
                                                                    </span>
                                                                </div>
                                                                <div class="list-rit">
                                                                    <div class="row1">
                                                                        <div class="col-8 col-md-10">
                                                                            <h5>Bonney Pathak</h5>
                                                                            <h6>9758125843</h6>
                                                                        </div>
                                                                        <div class="col-4 col-md-2">
                                                                            <a
                                                                                class="status-info ux-linkbutton1 sm-link2 primary float-right mt-4">
                                                                                <span class="info">Invite</span> <span
                                                                                    class="hide-info">Invited</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="list-full1">
                                                                <div class="list-lft">
                                                                    <span class="green1">
                                                                        <h6>BS</h6>
                                                                    </span>
                                                                </div>
                                                                <div class="list-rit">
                                                                    <div class="row1">
                                                                        <div class="col-8 col-md-10">
                                                                            <h5>Binita Soni</h5>
                                                                            <h6>9758884574</h6>
                                                                        </div>
                                                                        <div class="col-4 col-md-2">
                                                                            <a
                                                                                class="status-info ux-linkbutton1 sm-link2 primary float-right mt-4">
                                                                                <span class="info">Invite</span> <span
                                                                                    class="hide-info">Invited</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>