<div class="main bg-m">
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad myprofile">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<div class="breadcrumb">
								<ul class="lst-breadcrumb">
									<!-- <li> <a>My Accounts</a> </li>
									<li> <a>Operative Accounts</a> </li>
									<li> <a>Saving Account Details</a> </li>
									<li> Nominee Details </li> -->
									<li *ngFor="let name of DataService.breadcrumblist">
										<a (click)="DataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
								</li>
								</ul>
							</div>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="row1 hide-m">
											<div class="col-md-10 col-12">
												<h4>Nominee Details</h4> </div>
											<div class="col-md-2 col-12"> </div>
										</div>
                                        <form [formGroup]="addNomineeDetails">
										<div class="row1">
											<div class="col-sm-12 col-12 col-md-12">
												<div class="widget-box5 mb-3">
													<div class="bg-white1 pad-custom">
														<div class="row1">
															<div class="flex-container2">
																<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 full-info">
																	<div class="row1">
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label>Nominee Name</label>
																				<input type="text" placeholder="Enter Name" formControlName="nomineeName" limit-to="30">
																				<p class="error-message" *ngIf="addNomineeDetails.controls['nomineeName'].hasError('required') && (addNomineeDetails.controls['nomineeName'].dirty || addNomineeDetails.controls['nomineeName'].touched)"> This field is required </p>
																				<p class="error-message" *ngIf="addNomineeDetails.controls['nomineeName'].hasError('pattern') && (addNomineeDetails.controls['nomineeName'].dirty || addNomineeDetails.controls['nomineeName'].touched)"> Only Alphabet is allowed </p>

																			</div>
																		</div>
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label>Relationship with nominee</label>
																				<select formControlName="nomineeRelationship">
																					<option value=""> Select </option>
																					<option *ngFor="let relationShip of relationShipList" [value]="relationShip.ref_code">{{relationShip.DESCRIPTION  | titlecase}}</option>
																				</select>
																				<p class="error-message" *ngIf="addNomineeDetails.controls['nomineeRelationship'].hasError('required') && (addNomineeDetails.controls['nomineeRelationship'].dirty || addNomineeDetails.controls['nomineeRelationship'].touched)"> This field is required </p>

																			</div>
																		</div>
																	</div>
																	<div class="row1">
																		<!-- <div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<h6 class="mb-2">Communication address</h6>
																				<div class="ux-selection1 mar-rcustom pt-0 ">
																					<label>Same as applicant Permanent address
																						<input type="checkbox" name=""> <span class="checkmark setcheckbox"></span> </label>
																				</div>
																			</div>
																		</div> -->
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label> Date of Birth</label>
																				<!-- <input type="text" class="datepicker1" placeholder="DD/MM/YYYY" value="23/03/2005" formControlName="nomineeDob"> <em class=" calendar-ic cal-top"></em>
																				<p class="error-message">Nominee is minor</p> -->
                                                                                <input type="text" [(ngModel)]="defaultDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="DD/MM/YYYY"   formControlName="dob"  [max]="max" (ngModelChange)="onDateChange($event)">
																				<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time><em class=" calendar-ic cal-top" [owlDateTimeTrigger]="dt1" ></em>
                                        										<p class="error-message" *ngIf="addNomineeDetails.controls['dob'].hasError('required') && (addNomineeDetails.controls['dob'].dirty || addNomineeDetails.controls['dob'].touched)"> This field is required </p>

                                                                            </div>
																		</div>
																	</div>
																	<div class="row1" *ngIf="nomineeAge < 18">
																		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2">
																			<h6 class="detail-heading">Please Provide Guardian Details</h6> </div>
																	</div>
																	<div class="row1" *ngIf="nomineeAge < 18">
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label>Guardian Name</label>
																				<input type="text" placeholder="Select Guardian Name" value="Rajesh Shah" formControlName="guardianName" limit-to="20">
																				<p class="error-message" *ngIf="addNomineeDetails.controls['guardianName'].hasError('required') && (addNomineeDetails.controls['guardianName'].dirty || addNomineeDetails.controls['guardianName'].touched)"> This field is required </p>
																				<p class="error-message" *ngIf="addNomineeDetails.controls['guardianName'].hasError('pattern') && (addNomineeDetails.controls['guardianName'].dirty || addNomineeDetails.controls['guardianName'].touched)"> This field is required </p>

																			</div>
																		</div>
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label>Guardian Relationship with Nominee</label>
																				<select formControlName="guardianRelationShip">
																					<option value=""> Select Guardian Type </option>
																					<option *ngFor="let gardian of gardianTypeList" [value]="gardian.ref_code">{{gardian.DESCRIPTION}}</option>
																				</select>
																				<p class="error-message" *ngIf="addNomineeDetails.controls['guardianRelationShip'].hasError('required') && (addNomineeDetails.controls['guardianRelationShip'].dirty || addNomineeDetails.controls['guardianRelationShip'].touched)"> This field is required </p>
																			</div>
																		</div>
                                                                            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                                                                                <div class="ux-input">
                                                                                    <label>Guardian Address</label>
                                                                                    <input type="text" placeholder="Enter Address line 1" formControlName="guardianAddress" limit-to="25">
                                                                                    <p class="error-message" *ngIf="addNomineeDetails.controls['guardianAddress'].hasError('required') && (addNomineeDetails.controls['guardianAddress'].dirty || addNomineeDetails.controls['guardianAddress'].touched)"> This field is required </p>

                                                                                </div>
                                                                            </div>
																		</div>
																	<div class="row1">
																		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2">
																			<h6 class="detail-heading">Nominee's Communication Address</h6> </div>
																	</div>
																	<div class="row1">
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label>Address line 1</label>
																				<input type="text" placeholder="Enter Address line 1" formControlName="address1" limit-to="25">
                                                                                <p class="error-message" *ngIf="addNomineeDetails.controls['address1'].hasError('required') && (addNomineeDetails.controls['address1'].dirty || addNomineeDetails.controls['address1'].touched)"> This field is required </p>

																			</div>
																		</div>
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label>Address line 2</label>
																				<input type="text" placeholder="Enter Address line 2" formControlName="address2" limit-to="30">
                                                                                <p class="error-message" *ngIf="addNomineeDetails.controls['address2'].hasError('required') && (addNomineeDetails.controls['address2'].dirty || addNomineeDetails.controls['address2'].touched)"> This field is required </p>

																			</div>
																		</div>
																	</div>
																	<div class="row1">
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label>State</label>
																				<select formControlName="state" (change)="getCity($event.target.value)">
																					<option value=""> Select State </option>
                                                                                    <option *ngFor="let stateDtl of stateList" [value]="stateDtl.ID" >{{stateDtl.state  | titlecase}}</option>
																				</select>
                                                                                <p class="error-message" *ngIf="addNomineeDetails.controls['state'].hasError('required') && (addNomineeDetails.controls['state'].dirty || addNomineeDetails.controls['state'].touched)"> This field is required </p>

																			</div>
																		</div>
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="row1">
																				<div class="col-6">
																					<div class="ux-input">
																						<label>City</label>
																						<select formControlName="city" >
																							<option value=""> Select city </option>
                                                                                            <option *ngFor="let cityDtl of cityList" [value]="cityDtl.ID" >{{cityDtl.city  | titlecase}}</option>
																						</select>
                                                                                        <p class="error-message" *ngIf="addNomineeDetails.controls['city'].hasError('required') && (addNomineeDetails.controls['city'].dirty || addNomineeDetails.controls['city'].touched)"> This field is required </p>

																					</div>
																				</div>
																				<div class="col-6">
																					<div class="ux-input">
																						<label>PIN</label>
																						<input type="text" placeholder="Enter PIN" formControlName="pinCode" limit-to="6" numbersOnly >
                                                                                        <p class="error-message" *ngIf="addNomineeDetails.controls['pinCode'].hasError('required') && (addNomineeDetails.controls['pinCode'].dirty || addNomineeDetails.controls['pinCode'].touched)"> This field is required </p>

																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<ul class="bottom-footer1">
													<li>
														<div class="btn-div">
															<button class="ux-button secondary sm-mob" (click)="gotToPage()">Cancel</button>
														</div>
														<div class="btn-div">
															<button class="ux-button primary sm-mob" type="submit" (click)="addNomineeSubmit()">Update</button>
														</div>
													</li>
												</ul>
											</div>
										</div>
                                    </form>
									</div>
								</div>
								<!-- Greencard2 End here -->
								<!-- Right Column Ads Start -->
								<div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-xl-block">
									<div class="right-ads">
										<a> <img src="assets/images/banner/my-card-banner.jpg"> </a>
									</div>
								</div>
								<!-- Right Column Ads Ends -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->
