<div class="main bg-m">
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad manage-payee">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<div class="breadcrumb">
								<ul class="lst-breadcrumb">
									<!-- <li> <a [routerLink]="['/myAccount']">My Accounts</a> </li>
									<li> <a [routerLink]="['/myBorrowings']">My Borrowings</a> </li>
									<li> <a [routerLink]="['/loanDetails']">Loan Account Details</a> </li>
									<li> Standing Instruction </li> -->
									<li *ngFor="let name of dataService.breadcrumblist">
										<a (click)="dataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
								</li>
								
								</ul>
							</div>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="row1 hide-m">
											<div class="col-md-8 col-12">
												<h4>Add Standing Instructions</h4>
											 </div>
											<div class="col-md-4 col-12"> </div>
										</div>
										<form [formGroup]="standingInstructionForm">
										<div class="row1">
											<div class="col-12 col-md-12">
												<div class="widget-box5 mb-3">
													<div class="bg-white1 pad-custom">
														<div class="row1">
															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input">
																	<label>From Account</label>
																	<select required formControlName="debitAccount">
																		<option value="">Select Account</option>
																		<option *ngFor="let account of totalOperativeAccount" [value]="account.accountNo">{{account.sbAccount}}</option>
																	</select>
																	<p class="error-message" *ngIf="standingInstructionForm.controls['debitAccount'].hasError('required') && (standingInstructionForm.controls['debitAccount'].dirty || standingInstructionForm.controls['debitAccount'].touched)">This field is required</p>
																</div>
															</div>
															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input">
																	<label>Credit Account</label>
																	<select required formControlName="creditAccount">
																		<option value="">Select Account</option>
																		<!-- <option *ngFor="let account of totalOperativeAccount" [value]="account.accountNo">{{account.sbAccount}}</option> -->
																		<option *ngFor="let account of totalAccountList" [value]="account.accountNo">{{account.sbAccount}}</option>
																	</select>
																	<!-- <p class="info-message">Can use all operative, loan accounts & deposit of Punjab & Sind Bank</p> -->
																	<p class="error-message" *ngIf="standingInstructionForm.controls['creditAccount'].hasError('required') && (standingInstructionForm.controls['creditAccount'].dirty || standingInstructionForm.controls['creditAccount'].touched)">This field is required</p>
																	<p class="error-message" *ngIf="standingInstructionForm.value.debitAccount == standingInstructionForm.value.creditAccount && (standingInstructionForm.controls['creditAccount'].dirty || standingInstructionForm.controls['creditAccount'].touched)">SI not possible for same account</p>
																
																</div>
															</div>
														</div>
														<div class="row1">
															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input">
																	<label> Next Execution Date</label>
																	<input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="DD/MM/YYYY" readonly formControlName="datepicker1" (ngModelChange)="onDateChange($event)" [min]="tommorow">
																	<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time><!--<em class=" calendar-ic cal-top"></em>-->
																	<em [ngClass]="disable == true ? 'calendar-disable' : 'calendar-enable'" [owlDateTimeTrigger]="dt1" ></em>
																	<p class="error-message" *ngIf="standingInstructionForm.controls['datepicker1'].hasError('required') && (standingInstructionForm.controls['datepicker1'].dirty || standingInstructionForm.controls['datepicker1'].touched)">This field is required</p>
																</div>
															</div>

															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input">
																	<label>Payment Frequency</label>
																	<select required formControlName="paymentFrequency">
																		<option value="">Select Frequecy</option>
																		<option [value]="item.siFreq" *ngFor="let item of frequencyType">{{item.frequency}}</option>

																	</select>
																	<p class="error-message" *ngIf="standingInstructionForm.controls['paymentFrequency'].hasError('required') && (standingInstructionForm.controls['paymentFrequency'].dirty || standingInstructionForm.controls['paymentFrequency'].touched)">This field is required</p>
																</div>
															</div>
															<!-- <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input no-label p-0 mt-0 mb-0">
																	<label>End Date</label>
																	<input type="text" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="DD/MM/YYYY" readonly formControlName="datepicker2" >
																	<owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
																	<em [ngClass]="disable == true ? 'calendar-disable' : 'calendar-enable'"></em>
																	<p class="error-message" *ngIf="standingInstructionForm.controls['datepicker2'].hasError('required') && (standingInstructionForm.controls['datepicker2'].dirty || standingInstructionForm.controls['datepicker2'].touched)">This field is required</p>
																</div>
															</div> -->
														</div>
														<div class="row1">
															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input">
																	<label>Total Number of Payments</label>
																	<input type="text" placeholder="Enter number of Payments"  numbersOnly formControlName="installmentNumber" limit-to="9999">
																	<!-- <select required formControlName="installmentNumber">
																		<option value="">0</option>
																		<option value="10">10</option>
																		<option value="20">20</option>
																		<option value="30">30</option>
																	</select> -->
																	<p class="error-message" *ngIf="standingInstructionForm.controls['installmentNumber'].hasError('required') && (standingInstructionForm.controls['installmentNumber'].dirty || standingInstructionForm.controls['installmentNumber'].touched)">This field is required</p>
																	<p class="error-message" *ngIf="standingInstructionForm.controls['installmentNumber'].hasError('maxlength') && (standingInstructionForm.controls['installmentNumber'].dirty || standingInstructionForm.controls['installmentNumber'].touched)">Max limit reach </p>
																
																</div>
															</div>
														<!-- <div class="row1">
															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input">
																	<label>Payment Frequency</label>
																	<select required formControlName="paymentFrequency">
																		<option value="">Select Frequecy</option>
																		<option value="W">Weekly</option>
																		<option value="M">Monthly</option>
																		<option value="H">Half-Yearly</option>
																		<option value="Q">Quaterly</option>
																		<option value="Y">Yearly</option>
																	</select>
																	<p class="error-message" *ngIf="standingInstructionForm.controls['paymentFrequency'].hasError('required') && (standingInstructionForm.controls['paymentFrequency'].dirty || standingInstructionForm.controls['paymentFrequency'].touched)">This field is required</p>
																</div>
															</div>
													
														
															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input">
																	<label>Payment Frequency Type</label>
																	<select required formControlName="frequencyType">
																		<option value="">Select</option>
																		<option value="Recurring">Recurring</option>
																		<option value="Onetime">Onetime</option>
																	</select>
																	<p class="error-message" *ngIf="standingInstructionForm.controls['frequencyType'].hasError('required') && (standingInstructionForm.controls['frequencyType'].dirty || standingInstructionForm.controls['frequencyType'].touched)">This field is required</p>
																</div>
															</div>
														</div>
													 -->
															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input ">
																	<label>Amount</label>
																	<input type="text" id="amt" inputmode="decimal" placeholder="₹ 0" autocomplete="off" formControlName="amount" limit-to="12"  data-a-sign="Rs."  (blur)="formatCurrency($event.target.value)" (focus)="focusAmount(amountModel)" [(ngModel)]="amountModel">
																	<p class="error-message" *ngIf="standingInstructionForm.controls['amount'].hasError('required') && (standingInstructionForm.controls['amount'].dirty || standingInstructionForm.controls['amount'].touched)">This field is required</p>
																</div>
															</div>
														</div>

														<div class="row1">
															<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12">
																<div class="ux-input ">
																	<label>Remarks</label>
																	<input type="text" formControlName="remarks" placeholder="Enter Remarks">
																	<p class="error-message"></p>
																</div>
															</div>
														</div>

														
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<ul class="bottom-footer1">
													<li>
														<div class="btn-div">
															<button class=" ux-button secondary sm-mob" type="submit" (click)="cancel()" >Cancel</button>
														</div>
														<div class="btn-div">
															<button class=" ux-button primary sm-mob" type="submit" (click)="standingInstructionSubmit(standingInstructionForm.value);" >Submit</button> 
														</div>
													</li>
												</ul>
											</div>
										</div>
									</form>
									</div>
									<!-- Greencard2 End here -->
								</div>
								<!-- Right Column Ads Start -->
								<div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-xl-block">
									<div class="right-ads">
										<a > <img src="assets/images/banner/my-card-banner.jpg"> </a>
									</div>
									<div class="vspacer30"></div>
									<!-- <div class="offers-card">
										<div class="header-block clearfix">
											<h5>Offers on your card</h5> </div>
										<div class="panel-body">
											<div class="recentpayment-control">
												<ul>
													<li> <img src="assets/images/banner/offer-banner.png"> </li>
												</ul>
											</div>
										</div>
									</div> -->
								</div>
								<!-- Right Column Ads Ends -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->
