<div class="main">


    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="col-sm-12 col-12 col-md-12">
                                        <div class="white-bg1">
                                            <div class="row1">
                                                <div class="col-12 col-sm-12 col-md-6">
                                                    <div class="ux-input">
                                                        <label for="">Biller Category</label>
                                                        <select required="" class="biller">
                                                            <option value="">Select</option>
                                                            <option value="Electricity">Electricity</option>
                                                            <option value="Gas">Gas</option>
                                                        </select>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-12 col-md-6">
                                                    <div class="ux-input">
                                                        <label for="">Biller Name</label>
                                                        <select required="" class="biller">
                                                            <option value="">Select</option>
                                                            <option value="Adani Electricity">Adani Electricity</option>
                                                            <option value="Mahanagar Gas">Mahanagar Gas</option>
                                                        </select>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-12 col-md-6">
                                                    <div class="ux-input">
                                                        <label for="nickName">Nick Name for Reminder</label>
                                                        <input type="text" name="nickName" placeholder="Enter Nick Name"
                                                            required>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-12 col-md-6">
                                                    <div class="ux-input">
                                                        <label for="">Reminder Date for Each Month</label>
                                                        <select required="" class="biller">
                                                            <option value="">Select</option>
                                                            <option value="25">25</option>
                                                        </select>
                                                        <p></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row1">
                                    <div class="col-12">
                                        <div class="text-center mt-3">
                                            <div class="ux-selection1 mar-rcustom">
                                                <label class="custom-label"> I here by, wish to get bills generated by
                                                    this biller on regular basis. I also agree to share the require
                                                    details for receiving bills reminders
                                                    <input type="checkbox" name="">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div>
    </div>

</div> -->




            <!-- footer section start -->

            <div class="footer-container sticky-actions">
                <div class="footer-inactions minus-rt-col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 text-center">
                                <button class="proceed1 ux-button primary md"
                                    (click)="goToPage('addBillReminderConfirmation')">Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticky-actions-spacer"></div>

            <!-- footer section end -->

        </div>
    </div>

</div>


<!-- main -->