<div class="main">


    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="col-sm-12 col-12 col-md-12">
                                        <div class="row1">
                                            <div class="col-sm-12 col-12 col-md-12">
                                                <div class="ux-nav-tabs" style="margin:0">
                                                    <div class="responsive3">
                                                        <ul class="nav nav-tabs nav-justified bor-n" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" data-toggle="tab"
                                                                    href="#paybills">Pay Bill</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab"
                                                                    href="#recentpay">Recent Payments</a>
                                                            </li>
                                                        </ul>

                                                        <!-- Tab panes -->
                                                        <div class="tab-content p-0 custom-tab-content2 bg-transparent">
                                                            <div id="paybills" class=" tab-pane active">
                                                                <div class="row1">
                                                                    <div class="col-sm-12 col-12 col-md-12">
                                                                        <div class="white-bg1 pad-custom mar-tb">
                                                                            <div class="row mt-2">
                                                                                <div class="col-sm-12 col-12 col-md-12">
                                                                                    <div class="ux-input">
                                                                                        <input type="text"
                                                                                            placeholder="Search for ups id/mobile number"
                                                                                            required>
                                                                                        <p></p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12 col-12 col-md-12 p-0">
                                                                                <ul class="biller-info-list">
                                                                                    <li>
                                                                                        <a >
                                                                                            <div class="list-full">
                                                                                                <div class="icon1">
                                                                                                    <img src="assets/images/icons/adani.png"
                                                                                                        alt="adani-logo">
                                                                                                </div>
                                                                                                <h6>Adani Electricity
                                                                                                    Mumbai</h6>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a >
                                                                                            <div class="list-full">
                                                                                                <div class="icon1">
                                                                                                    <img src="assets/images/icons/aasam-power.png"
                                                                                                        alt="aasam-power-logo">
                                                                                                </div>
                                                                                                <h6>Assam Power - Non
                                                                                                    RAPDR</h6>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a >
                                                                                            <div class="list-full">
                                                                                                <div class="icon1">
                                                                                                    <img src="assets/images/icons/aasam-power.png"
                                                                                                        alt="aasam-power-logo">
                                                                                                </div>
                                                                                                <h6>Assam Power - RAPDR
                                                                                                </h6>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a >
                                                                                            <div class="list-full">
                                                                                                <div class="icon1">
                                                                                                    <img src="assets/images/icons/bescom.png"
                                                                                                        alt="bescom-logo">
                                                                                                </div>
                                                                                                <h6>BESCOM - Bangalore
                                                                                                </h6>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a >
                                                                                            <div class="list-full">
                                                                                                <div class="icon1">
                                                                                                    <img src="assets/images/icons/best-mumbai.png"
                                                                                                        alt="best-mumbai-logo">
                                                                                                </div>
                                                                                                <h6>BEST - Mumbai</h6>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a >
                                                                                            <div class="list-full">
                                                                                                <div class="icon1">
                                                                                                    <img src="assets/images/icons/bses.png"
                                                                                                        alt="bses-logo">
                                                                                                </div>
                                                                                                <h6>BSES Rajdhani -
                                                                                                    Delhi</h6>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a >
                                                                                            <div class="list-full">
                                                                                                <div class="icon1">
                                                                                                    <img src="assets/images/icons/bses.png"
                                                                                                        alt="bses-logo">
                                                                                                </div>
                                                                                                <h6>BSES Yamuna - Delhi
                                                                                                </h6>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="recentpay" class="tab-pane fade">
                                                                <div class="row1">
                                                                    <div class="col-sm-12 col-12 col-md-12">
                                                                        <div class="white-bg1 pad-custom mar-tb">
                                                                            <ul class="payment-list">
                                                                                <li>
                                                                                    <div class="full-container">
                                                                                        <div class="row1">
                                                                                            <div class="col-8 col-md-8">
                                                                                                <div class="left-info">
                                                                                                    <h5>Money Sent</h5>
                                                                                                    <h6>To : MSEDCL</h6>
                                                                                                    <div
                                                                                                        class="rupee-info">
                                                                                                        <span
                                                                                                            class="red1">
                                                                                                            <img src="assets/images/svg/rupee-r.svg"
                                                                                                                alt="rupees-icon">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4 col-md-4">
                                                                                                <div class="right-info">
                                                                                                    <h5> <img
                                                                                                            src="assets/images/svg/rupee-bl.svg"
                                                                                                            alt="rupees-icon">
                                                                                                        1200.<span>00</span>
                                                                                                    </h5>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="full-container">
                                                                                        <div class="row1">
                                                                                            <div class="col-8 col-md-8">
                                                                                                <div class="left-info1">
                                                                                                    <em>05 Aug 2020
                                                                                                        12:18</em>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4 col-md-4">
                                                                                                <div class="right-info">
                                                                                                    <em>Successful <img
                                                                                                            src="assets/images/svg/success-circle.svg"
                                                                                                            alt="success-icon"
                                                                                                            class="img-small">
                                                                                                    </em>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="full-container">
                                                                                        <div class="row1">
                                                                                            <div class="col-8 col-md-8">
                                                                                                <div class="left-info">
                                                                                                    <h5>Money Sent</h5>
                                                                                                    <h6>To : MSEDCL</h6>
                                                                                                    <div
                                                                                                        class="rupee-info">
                                                                                                        <span
                                                                                                            class="red1">
                                                                                                            <img src="assets/images/svg/rupee-r.svg"
                                                                                                                alt="rupees-icon">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4 col-md-4">
                                                                                                <div class="right-info">
                                                                                                    <h5> <img
                                                                                                            src="assets/images/svg/rupee-bl.svg"
                                                                                                            alt="rupees-icon">
                                                                                                        1800.<span>00</span>
                                                                                                    </h5>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="full-container">
                                                                                        <div class="row1">
                                                                                            <div class="col-8 col-md-8">
                                                                                                <div class="left-info1">
                                                                                                    <em>05 July 2020
                                                                                                        10:10</em>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4 col-md-4">
                                                                                                <div class="right-info">
                                                                                                    <em>Successful <img
                                                                                                            src="assets/images/svg/success-circle.svg"
                                                                                                            alt="success-icon"
                                                                                                            class="img-small">
                                                                                                    </em>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="full-container">
                                                                                        <div class="row1">
                                                                                            <div class="col-8 col-md-8">
                                                                                                <div class="left-info">
                                                                                                    <h5>Money Sent</h5>
                                                                                                    <h6>To : MSEDCL</h6>
                                                                                                    <div
                                                                                                        class="rupee-info">
                                                                                                        <span
                                                                                                            class="red1">
                                                                                                            <img src="assets/images/svg/rupee-r.svg"
                                                                                                                alt="rupees-icon">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4 col-md-4">
                                                                                                <div class="right-info">
                                                                                                    <h5> <img
                                                                                                            src="assets/images/svg/rupee-bl.svg"
                                                                                                            alt="rupees-icon">
                                                                                                        1600.<span>00</span>
                                                                                                    </h5>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="full-container">
                                                                                        <div class="row1">
                                                                                            <div class="col-8 col-md-8">
                                                                                                <div class="left-info1">
                                                                                                    <em>05 June 2020
                                                                                                        10:10</em>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4 col-md-4">
                                                                                                <div class="right-info">
                                                                                                    <em>Successful <img
                                                                                                            src="assets/images/svg/success-circle.svg"
                                                                                                            alt="success-icon"
                                                                                                            class="img-small">
                                                                                                    </em>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="full-container">
                                                                                        <div class="row1">
                                                                                            <div class="col-8 col-md-8">
                                                                                                <div class="left-info">
                                                                                                    <h5>Money Sent</h5>
                                                                                                    <h6>To : MSEDCL</h6>
                                                                                                    <div
                                                                                                        class="rupee-info">
                                                                                                        <span
                                                                                                            class="red1">
                                                                                                            <img src="assets/images/svg/rupee-r.svg"
                                                                                                                alt="rupees-icon">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4 col-md-4">
                                                                                                <div class="right-info">
                                                                                                    <h5> <img
                                                                                                            src="assets/images/svg/rupee-bl.svg"
                                                                                                            alt="rupees-icon">
                                                                                                        800.<span>00</span>
                                                                                                    </h5>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="full-container">
                                                                                        <div class="row1">
                                                                                            <div class="col-8 col-md-8">
                                                                                                <div class="left-info1">
                                                                                                    <em>05 June 2020
                                                                                                        10:10</em>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4 col-md-4">
                                                                                                <div class="right-info">
                                                                                                    <em>Successful <img
                                                                                                            src="assets/images/svg/success-circle.svg"
                                                                                                            alt="success-icon"
                                                                                                            class="img-small">
                                                                                                    </em>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <!-- <li>
														<div class="full-container">
														<div class="row1">
															<div class="col-8 col-md-8">
																<div class="left-info">
																	<h5>Money Sent</h5>
																	<h6>To : Mahalaxmi Medicine</h6>
																	<div class="rupee-info"> 
																		<span class="red1">
																			<img src="assets/images/svg/rupee-r.svg" alt="rupees-icon">
																		</span>
																	</div>
																</div>
															</div>
															<div class="col-4 col-md-4">
																<div class="right-info">
																	<h5> <img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 500.<span>00</span></h5>
																</div>
															</div>
														</div>
														</div>
														<div class="full-container">
														<div class="row1">
															<div class="col-8 col-md-8">
																<div class="left-info1">
																	<em>02 Mar 2020 15:12</em>
																</div>
															</div>
															<div class="col-4 col-md-4">
																<div class="right-info">
																	<em>Failed <img src="assets/images/svg/warning.svg" alt="failed-icon" class="img-small">  </em>
																</div>
															</div>
														</div>
														</div>	 
													</li>
													<li>
														<div class="full-container">
														<div class="row1">
															<div class="col-8 col-md-8">
																<div class="left-info">
																	<h5>Request</h5>
																	<h6>By : Tarini Enterprices</h6>
																	<div class="rupee-info"> 
																		<span class="red1">
																			<img src="assets/images/svg/rupee-r.svg" alt="rupees-icon">
																		</span>
																	</div>
																</div>
															</div>
															<div class="col-4 col-md-4">
																<div class="right-info">
																	<h5> <img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 800.<span>00</span></h5>
																</div>
															</div>
														</div>
														</div>
														<div class="full-container">
														<div class="row1">
															<div class="col-8 col-md-8">
																<div class="left-info1">
																	<em>02 Mar 2020 15:12</em>
																</div>
															</div>
															<div class="col-4 col-md-4">
																<div class="right-info">
																	<em>Decline <img src="assets/images/svg/disable.svg" alt="failed-icon" class="img-small"> </em>
																</div>
															</div>
														</div>
														</div>	 
													</li> -->
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<!-- main -->

<!-- footer section start -->

<!-- <div class="footer-container sticky-actions">
		<div class="footer-inactions minus-rt-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-3 col-lg-4">
                    </div>
			      <div class="col-12 col-md-6 col-lg-4">
						<div class="row">	
							<button class="ux-button primary md" onclick="window.location.href = '#'">Proceed</button>
						 </div>
				       </div>
				   <div class="col-12 col-md-3 col-lg-4">
				  </div>
				</div> 
			</div> 
		</div> 
	</div> 
    <div class="sticky-actions-spacer"></div> -->

<!-- footer section end -->

<!-- =========== modal popup start ===============  -->


<!-- Filter Popup Start -->

<div class="popup-bottom filter1">
    <div class="row1">
        <div class="col-10">
            <h4>Filter</h4>
        </div>
        <div class="col-2">
            <button class="ux-button-icon close-btn">
                <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall">
            </button>
        </div>
    </div>
    <form action="#" id="filter-form">
        <div class="row1 mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ux-input">
                    <label for="upiId">UPI ID</label>
                    <select required="">
                        <option value="">Select</option>
                        <option value="9768245145@psb">9768245145@psb</option>
                    </select>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
        <div class="row1">
            <div class="col-6">
                <div class="ux-input">
                    <label>Start Date</label>
                    <input type="text" class="datepicker1" placeholder="DD/MM/YYYY">
                    <em class="calendar-ic cal-top"></em>
                </div>
            </div>
            <div class="col-6">
                <div class="ux-input">
                    <label>End Date</label>
                    <input type="text" class="datepicker1" placeholder="DD/MM/YYYY">
                    <em class="calendar-ic cal-top"></em>
                </div>
            </div>
        </div>
        <div class="row1">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ux-input">
                    <label for="">Transaction Type</label>
                    <select required="">
                        <option value="">Select</option>
                        <option value="Collect">Collect</option>
                    </select>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
        <div class="row1 mt-2">
            <div class="col-6 text-center">
                <button class="ux-button secondary  md" >Clear</button>
            </div>
            <div class="col-6 text-center">
                <button class="ux-button primary md" >Apply</button>
            </div>
        </div>
    </form>
</div>

<!-- Filter Popup End -->
<!-- <div class="ios-nav-overlay"></div> -->