<div class="main">

    <header class="global-header  brand-bg2  minus-nav">
        <div class="in-header">
            <div class="header-icons-lft">
                <div class="header-actions">
                    <button class="ux-button-header" (click)="goToBack()">
                    <img src="assets/images/svg/close-w.svg"  alt="cross-icon" class="img-vsmall"/>
                </button>
                </div>
            </div>
            <div class="brand-logo">
                <h3>{{'VIEW_DETAILS' | translate}}</h3>
            </div>
            <div class="header-icons-rit" *ngIf="pendingMandateWithPayer.umn != null && pendingMandateWithPayer.umn != 'null'">
                <div class="header-actions">
                    <button class="ux-button-header">
                    <img src="assets/images/svg/scan-qr-w.svg"  alt="scan-icon" class="img-small" (click)="generateQRCode()" />
                </button>
                </div>
            </div>
        </div>
    </header>

    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="col-sm-12 col-12 col-md-12">

                                        <div class="white-bg1 pad-custom">
                                            <ul class="complaint-list">
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'PENDING_WITH' | translate}} {{pendingMandateWithPayer.initiatedBy == 'PAYER'? pendingMandateWithPayer.payeeName : pendingMandateWithPayer.payerName}} </h6>
                                                                    <h5>{{'UPI_ID' | translate }} : {{pendingMandateWithPayer.initiatedBy == 'PAYER'? pendingMandateWithPayer.payeeAddress : pendingMandateWithPayer.payerAddress}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'DEPOSIT_TO_UPI_ID' | translate}}</h6>
                                                                    <h5>{{'UPI_ID' | translate }} : {{pendingMandateWithPayer.initiatedBy == 'PAYER'? pendingMandateWithPayer.payerAddress : pendingMandateWithPayer.payeeAddress}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'LINKED_ACCOUNT' | translate}}</h6>
                                                                    <!-- <h5> {{VPAAccountDetails.accType}}
                                    {{VPAAccountDetails.maskedAccountNumber}}</h5> -->
                                                                    <h5 *ngIf="DataService.getMandateInciatedBy(pendingMandateWithPayer) == 'PAYEE'">
                                                                        {{pendingMandateWithPayer.payeeAccount | maskAccountNo}}
                                                                    </h5>
                                                                    <h5 *ngIf="DataService.getMandateInciatedBy(pendingMandateWithPayer) == 'PAYER'">
                                                                        {{pendingMandateWithPayer.payerAccount | maskAccountNo}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info" *ngIf="DataService.getMandateInciatedBy(pendingMandateWithPayer) == 'PAYEE'">
                                                                    <h6>{{'PAYEE_NAME' | translate}}</h6>
                                                                    <h5>
                                                                        {{pendingMandateWithPayer.payeeName}}
                                                                    </h5>
                                                                </div>
                                                                <div class="left-info" *ngIf="DataService.getMandateInciatedBy(pendingMandateWithPayer) == 'PAYER'">
                                                                    <h6>{{'PAYER_NAME' | translate}}</h6>
                                                                    <h5>
                                                                        {{pendingMandateWithPayer.payerName}}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'MANDATE_CREATED_ON' | translate}}</h6>
                                                                    <h5>
                                                                        {{pendingMandateWithPayer.createdTime}}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'START_DATE' | translate}}</h6>
                                                                    <h5>{{pendingMandateWithPayer.validityStart | formatDate}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'END_DATE' | translate}}</h6>
                                                                    <h5>{{pendingMandateWithPayer.validityEnd | formatDate}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'EXPIRY_DATE_AND_TIME' | translate}}</h6>
                                                                    <h5>
                                                                        {{pendingMandateWithPayer.requestExpireTime}}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'AMOUNT' | translate}}</h6>
                                                                    <h5>
                                                                        <!-- <img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> -->
                                                                        {{pendingMandateWithPayer.amount | customcurrency:'symbol'}}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'DEBIT_FREQUENCY' | translate}}</h6>
                                                                    <h5>{{pendingMandateWithPayer.frequency}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li *ngIf="pendingMandateWithPayer.umn">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'UMN' | translate}}</h6>
                                                                    <h5>{{pendingMandateWithPayer.umn != null && pendingMandateWithPayer.umn != 'null' ? pendingMandateWithPayer.umn : 'NA'}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>{{'REMARKS' | translate}}</h6>
                                                                    <h5>{{pendingMandateWithPayer?.remarks ? pendingMandateWithPayer?.remarks : '-' }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>


                                            <!-- <div class="ux-footer border-n">
                        <div class="row1">
                          <div class="col-6 col-lg-6 col-md-6 col-sm-6 text-center">
                            <button class="revoke-btn ux-button secondary" type="button" (click)="openPopup('revokeMandate')">{{'REVOKE' | translate}}</button>
                          </div>
                          <div class="col-6 col-lg-6 col-md-6 col-sm-6 text-center">
                            <button class="modify-btn ux-button primary" type="button" (click)="goToPage('modifyMandate')">{{'MODIFY' | translate}}</button>
                          </div>
                        </div>
                      </div> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </div>
  </div>

</div> -->


            <!-- footer section start -->

            <!-- <div class="footer-container sticky-actions">
        <div class="footer-inactions minus-rt-col">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6 col-lg-6 col-md-6 text-center">
                <button class="revoke-btn ux-button secondary" (click)="openPopup('revokeMandate')">{{'REVOKE' |
                  translate}}</button>
              </div>
              <div class="col-6 col-lg-6 col-md-6 text-center">
                <button class="modify-btn ux-button primary" (click)="goToPage('modifyMandate')">{{'MODIFY' |
                  translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sticky-actions-spacer"></div> -->
            <!-- footer section end -->


        </div>
    </div>

</div>

<!-- main -->


<!-- =========== modal popup start ===============  -->

<!-- Revoke Mandate Popup Start -->

<div class="popup-bottom revokeMandate">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">{{'REVOKE_MANDATE' | translate}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                {{'DO_YOU_WANT_TO_REVOKE_MANDATE_REQ_SENT_TO' | translate}} {{pendingMandateWithPayer.payerName}} ?
            </p>
        </div>
    </div>
    <div class="row1 mt-2">
        <div class="col-6 text-center">
            <button class="ux-button secondary md close-btn" type="button" (click)="closePopup('revokeMandate')">{{'NO' |
        translate}}</button>
        </div>
        <div class="col-6 text-center">
            <button class="ux-button primary md" type="button" (click)="revokeMandate()">{{'YES' | translate}}</button>
        </div>
    </div>
</div>

<!-- Revoke Mandate Popup End -->

<!-- Complaint Success Popup Start -->

<div class="popup-bottom revoke-success">
    <div class="row mt-3">
        <div class="success">
            <img src="assets/images/svg/check.svg" alt="success-icon">
            <h3>{{'SUCCESS' | translate}}</h3>
            <h5>{{mandateRevokeMsg}}</h5>
        </div>
    </div>
    <div class="row1 mt-3">
        <div class="col-12 text-center">
            <button class="ux-button primary md" (click)="closePopup('revoke-success')">{{'OK' | translate}}</button>
        </div>
    </div>
</div>

<!-- Complaint Success Popup End -->
<!-- <div class="popup-bottom show-qr-code">
    <div class="row1">
        <div class="col-10">
          <h4 class="mb-0">{{'GENERATED_QR' | translate}}</h4>
        </div>
        <div class="col-2">
          <button class="ux-button-icon close-btn">
            <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall" (click)="closePopup('show-qr-code')">
          </button>
        </div>
      </div>
    <div class="row1">
        <div class="col-12 text-center">
            <div class="white-bg1">
                <div class="scan-container">
                    <div class="inner1" id="QRContainer">
                        <div class="qr-container" >
                            <img [src]="generateQR" alt="QR-code-icon" class="qr">
                            <div class="overlap-logo">
                                <img src="assets/images/svg/psb-icon-y.svg" alt="psb-icon" class="icon1">
                                <img src="assets/images/icons/upi-icon1.png" alt="upi-icon" class="icon1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row1 mt-2">
        <div class="col-12 text-center" (click)="generateQRCode(false,true)">
            <button class="ux-button primary submit-btn" type="button">share</button>
        </div>
        <div class="col-12 text-center" (click)="generateQRCode(true,false)">
            <button class="ux-button primary submit-btn" type="button">download</button>
        </div>
    </div>
</div>  -->
<!-- <div class="ios-nav-overlay"></div>  -->


<!-- Generate QR Popup Start -->

<div class="popup-bottom show-qr-code">
    <div class="row1">
        <div class="col-10">
            <h4>{{'GENERATED_QR' | translate}}</h4>
        </div>
        <div class="col-2">
            <button class="ux-button-icon close-btn">
        <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall"
          (click)="closePopup('show-qr-code')">
      </button>
        </div>
    </div>
    <div class="row1">
        <div class="col-sm-12 col-12 col-md-12">
            <div class="scan-container">
                <div class="inner1 white-bg1" id="QRContainer" *ngIf="constant.getPlatform() == constant.val_android">
                    <div class="qr-container">
                        <div class="qr-img">
                            <img [src]="generateQR" alt="QR-code-icon" class="qr">
                            <div class="overlap-logo">
                                <img src="assets/images/svg/psb-icon-y.svg" alt="psb-icon" class="icon1">
                                <img src="assets/images/svg/upi-icon2.svg" alt="upi-icon" class="icon1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner1 white-bg1" *ngIf="constant.getPlatform() == constant.val_ios">
                    <div class="qr-container" id="QRContainer">
                        <div class="qr-img">
                            <img [src]="generateQR" alt="QR-code-icon" class="qr">
                            <!--Comment both icons for iOS-->
                            <!-- <div class="overlap-logo">
                <img src="assets/images/svg/psb-icon-y.svg" alt="psb-icon" class="icon1">
                <img src="assets/images/svg/upi-icon2.svg" alt="upi-icon" class="icon1">
              </div> -->
                        </div>
                    </div>
                </div>
                <div class="inner1">
                    <div class="row1 mt-3 mb-3">
                        <button class="ux-linkbutton primary sm1 float-left" (click)="QRDownload();"><img
                src="assets/images/svg/download.svg" alt="download-icon">{{'DOWNLOAD' | translate}}</button>
                        <button class="ux-linkbutton primary sm1 float-right" (click)="shareQRCode();"><img
                src="assets/images/svg/share.svg" alt="share-icon">{{'SHARE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Generate QR Popup End -->