<div class="prelogin-page">
  <div class="registration-steps">
    <div class="row">
      <div class="col-12 position-static">
        <div class="inner-header">
          <div class="registration-container">
            <h4> Completed</h4>
            <!-- <a class="close-registration" ><img (click)="mobPrevclick('cross')" src="../assets/images/svg/close-w.svg"></a> -->
          </div>
        </div>

        <div
          class="registrationsteps-block registration-container success-page"
        >
          <div class="img-block">
            <img src="assets/images/svg/reg-success.svg" alt="reg-success" />
          </div>
          <h3>Success!</h3>
          <p>
            <!-- Username has been sent to your registered mobile number and email
            address -->
          </p>
          <!-- <span class="reference"> Reference ID 345438764 </span> -->

          <a routerLink="/login" class="ux-button sm primary">Login Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
