<div class="ios-nav-overlay"></div>
<div class="prelogin-page">
	<div class="registration-steps ">
		<div class="row1">
			<div class="col-12 position-static">
				<div class="inner-header">
					<div class="registration-container">
						<a class="prev-tab" (click)="backToPrevPage()"><img src="assets/images/svg/left-arrow.svg"></a>
						<h4>FORGOT PASSWORD</h4>
						<a class="close-registration"><img (click)="goToLogin()"
								src="assets/images/svg/close-w.svg"></a>
						<!--(click)="mobPrevclick('cross')"-->
					</div>
				</div>
				<div class="registrationsteps-block custom-pad registration-container ">
					<!--acc-opening-page-->
					<div class="row1">
						<div class="background-block"
							style="background-image: url(assets/images/background/basic-background.png);"> </div>
						<div class="middle-block">
							<div class="pageHeader">
								<h3>User Authentication</h3> <span>Please authenticate yourself with
									debit-card/OTP</span>
							</div>
							<form [formGroup]="forgotpasswordauthForm">
								<div class="row1">
									<div class="col-12">
										<!-- <ul class="channel-tab">
                                            <li (click)="changeTab('card')"><a href="#debit-card" class="active"><img src="assets/images/svg/debit-card-e.svg">Debit Card</a></li>
                                            <li (click)="changeTab('otp')"><a href="#banktoken"><img src="assets/images/icons/card.png">OTP Validation</a></li>
                                        </ul> -->
										<ul class="tabs info-list3" role="tablist">
											<li role="presentation" class="mt-0" (click)="changeTab('card')"
												[ngClass]="selectedtab == 'card' ? 'active' : '' ">
												<a class="nav-link cust-pad2">
													<div class="round-circle">
														<!-- <img src="assets/images/svg/debit-card-e.svg" alt="debit-card-icon">   -->
														<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.542 24">
															<path id="debit-card-e"
																d="M32.542,65.712V84.288A2.715,2.715,0,0,1,29.831,87H2.712A2.715,2.715,0,0,1,0,84.288V76.153a.542.542,0,1,1,1.085,0v8.136a1.629,1.629,0,0,0,1.627,1.627H29.831a1.629,1.629,0,0,0,1.627-1.627V65.712a1.629,1.629,0,0,0-1.627-1.627H2.712a1.629,1.629,0,0,0-1.627,1.627v2.169h27.8a.542.542,0,0,1,0,1.085H1.085v3.525h27.8a.542.542,0,0,1,0,1.085H.542A.542.542,0,0,1,0,73.034V65.712A2.715,2.715,0,0,1,2.712,63H29.831A2.715,2.715,0,0,1,32.542,65.712ZM28.2,79.814a1.764,1.764,0,0,0-2.72-1.479,2.847,2.847,0,1,1-.737-.807,2.847,2.847,0,1,1,1.695,5.134.542.542,0,1,1,0-1.085A1.765,1.765,0,0,0,28.2,79.814Zm-3.39,0a1.763,1.763,0,1,0-1.763,1.763A1.765,1.765,0,0,0,24.814,79.814ZM4.949,78.661H9.492a.542.542,0,0,0,0-1.085H4.949a.542.542,0,0,0,0,1.085Zm0,3.39H9.492a.542.542,0,0,0,0-1.085H4.949a.542.542,0,0,0,0,1.085Z"
																transform="translate(0 -63)" />
														</svg>
													</div>
													<div class="text-center"> <em>Debit Card</em> </div>
												</a>
											</li>
											<li role="presentation" class="mt-0" (click)="changeTab('otp')"
												[ngClass]="selectedtab == 'otp' ? 'active' : '' ">
												<a class="nav-link cust-pad2">
													<div class="round-circle">
														<!-- <img src="assets/images/svg/otp-val.svg" alt="otp-icon">   -->
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
															xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
															viewBox="0 0 100.8 100"
															style="enable-background:new 0 0 100.8 100;"
															xml:space="preserve">
															<g transform="translate(0 0)">
																<path id="Forma_1" class="st0" d="M19.8,100c-3.3,0-6-2.7-6-6V6.7c0-3.3,2.7-6,6-6h46.8c3.3,0,6,2.7,6,6v18.6h8.9
                                                                    c3,0,5.5,2.4,5.5,5.5v22.1c0,3-2.5,5.4-5.5,5.4l-8.9,0V94c0,3.3-2.7,6-6,6L19.8,100z M18.3,94c0,0.8,0.7,1.5,1.5,1.5h46.8
                                                                    c0.8,0,1.5-0.7,1.5-1.5v-8.3H18.3V94z M18.3,81.2h49.8V58.4h-4.2l-8.3,7.2c-0.9,0.8-2.4,0.7-3.2-0.2c-0.4-0.4-0.6-0.9-0.6-1.5v-5.5
                                                                    l-4.7,0h0c-3,0-5.5-2.4-5.5-5.4V30.8c0-3,2.5-5.5,5.5-5.5h20.9v-5.8H18.3V81.2z M46.5,30.1c-0.2,0.2-0.3,0.4-0.3,0.7v22.1
                                                                    c0,0.5,0.4,0.9,0.9,0.9h0l7,0c1.2,0,2.2,1,2.3,2.3v2.8l5.2-4.5c0.4-0.4,0.9-0.6,1.5-0.6l18.4,0c0.2,0,0.5-0.1,0.7-0.3
                                                                    c0.2-0.2,0.3-0.4,0.3-0.7V30.8c0-0.5-0.4-0.9-0.9-0.9H47.1C46.9,29.8,46.7,29.9,46.5,30.1L46.5,30.1z M18.3,6.7V15h49.8V6.7
                                                                    c0-0.8-0.7-1.5-1.5-1.5H19.8C19,5.2,18.3,5.9,18.3,6.7z M40.9,90.2c0-1.2,1-2.3,2.3-2.3c1.2,0,2.3,1,2.3,2.3c0,1.2-1,2.3-2.3,2.3
                                                                    c0,0,0,0,0,0C41.9,92.5,40.9,91.5,40.9,90.2C40.9,90.2,40.9,90.2,40.9,90.2z M69.6,46.6c0-1.2,1-2.3,2.3-2.3c1.2,0,2.3,1,2.3,2.3
                                                                    c0,1.2-1,2.3-2.3,2.3c0,0,0,0,0,0C70.6,48.8,69.6,47.8,69.6,46.6C69.6,46.6,69.6,46.6,69.6,46.6z M62.1,46.6c0-1.2,1-2.3,2.3-2.3
                                                                    c1.2,0,2.3,1,2.3,2.3c0,1.2-1,2.3-2.3,2.3c0,0,0,0,0,0C63.1,48.8,62.1,47.8,62.1,46.6C62.1,46.6,62.1,46.6,62.1,46.6z M54.5,46.6
                                                                    c0-1.2,1-2.3,2.3-2.3c1.2,0,2.3,1,2.3,2.3c0,1.2-1,2.3-2.3,2.3c0,0,0,0,0,0C55.5,48.8,54.5,47.8,54.5,46.6
                                                                    C54.5,46.6,54.5,46.6,54.5,46.6z" />
															</g>
														</svg>
													</div>
													<div class="text-center"> <em>OTP Validation</em> </div>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-12 col-md-12">
										<div class="panel entry-content tab-pane" id="debit-card"
											[ngStyle]="{ display : selectedtab == 'card' ? 'block' : 'none' }">
											<div class="row1">
												<div class="col-12">
													<div class="ux-input mb-0">
														<!-- modified by USER PSB1-->
														<label>Enter Debit Card Number</label>
														<!-- modified by USER PSB1 Ends-->
													</div>
												</div>
												<div class="col-12 col-md-12">
													<div class="row4">
														<div class="col-3 col-md-3">
															<div class="ux-input debit-number grp-digit">
																<input id="spassword1" autocomplete="off" #debitcardRow
																	numbersOnly type="tel" placeholder="●●●●"
																	(keyup)="onKeyUpEvent(0, $event, 'card')"
																	limit-to="4" (focus)="onFocusEvent(0, 'card')"
																	formControlName="cardNumber1" />
															</div>
														</div>
														<div class="col-3 col-md-3">
															<div class="ux-input debit-number grp-digit">
																<input id="spassword2" autocomplete="off" #debitcardRow
																	numbersOnly type="tel" placeholder="●●●●"
																	(keyup)="onKeyUpEvent(1, $event, 'card')"
																	limit-to="4" (focus)="onFocusEvent(1, 'card')"
																	formControlName="cardNumber2" />
															</div>
														</div>
														<div class="col-3 col-md-3">
															<div class="ux-input debit-number grp-digit">
																<input id="spassword3" autocomplete="off" #debitcardRow
																	numbersOnly type="tel" placeholder="●●●●"
																	(keyup)="onKeyUpEvent(2, $event, 'card')"
																	limit-to="4" (focus)="onFocusEvent(2, 'card')"
																	formControlName="cardNumber3" />
															</div>
														</div>
														<div class="col-3 col-md-3">
															<div class="ux-input debit-number grp-digit">
																<input id="spassword4" autocomplete="off" #debitcardRow
																	numbersOnly type="tel" placeholder="●●●●"
																	(keyup)="onKeyUpEvent(3, $event, 'card')"
																	limit-to="4" (focus)="onFocusEvent(3, 'card')"
																	formControlName="cardNumber4" />
															</div>
														</div>
													</div>
												</div>
												<div class="col-12 col-md-12 col-lg-10 col-xl-10">
													<div class="ux-input">
														<p class="error-message" *ngIf="debitCardError">
															{{debitCardError}}</p>
													</div>
												</div>
												<div class="col-12 col-md-12 col-lg-10 col-xl-10" *ngIf="invalidCard">
													<div class="ux-input">
														<p class="error-message">
															Please Enter Valid Details</p>
													</div>
												</div>

												
											</div>
											<!-- <div class="col-3 pr-1 pl-0">
                                                        <div class="ux-input debit-number grp-digit mr-1">
                                                          <input id="spassword1" #debitcardRow numbersOnly type="text" placeholder="●●●●" (keyup)="onKeyUpEvent(0, $event, 'card')" limit-to="4" (focus)="onFocusEvent(0, 'card')" formControlName="cardNumber1"/>
                                                        </div>
                                                        </div>
                                                        <div class="col-3 pr-1 pl-0">
                                                        <div class="ux-input debit-number grp-digit mr-1">
                                                          <input id="spassword2" #debitcardRow numbersOnly type="text" placeholder="●●●●" (keyup)="onKeyUpEvent(1, $event, 'card')" limit-to="4" (focus)="onFocusEvent(1, 'card')" formControlName="cardNumber2" />
                                                        </div>
                                                        </div>
                                                        <div class="col-3 pr-1 pl-0">
                                                        <div class="ux-input debit-number grp-digit mr-1">
                                                          <input id="spassword3" #debitcardRow numbersOnly type="text" placeholder="●●●●" (keyup)="onKeyUpEvent(2, $event, 'card')" limit-to="4" (focus)="onFocusEvent(2, 'card')" formControlName="cardNumber3"/>
                                                        </div>
                                                        </div>
                                                        <div class="col-3 pr-1 pl-0">
                                                        <div class="ux-input debit-number grp-digit">
                                                          <input id="spassword4" #debitcardRow numbersOnly type="text" placeholder="●●●●" (keyup)="onKeyUpEvent(3, $event, 'card')" limit-to="4" (focus)="onFocusEvent(3, 'card')" formControlName="cardNumber4"/>
                                                        </div>
                                                        </div> -->
											<!-- </div>
                                                <p class="errormsg mt-2" *ngIf="debitCardError">{{debitCardError}}</p> -->
											<div class="row1">
												<div class="col-12 col-md-6 col-lg-6 col-xl-6">
													<div class="ux-input mb-0">
														<label>Debit Card Expiry Date</label>
													</div>
													<div class="row1">
														<div class="col-10 col-sm-10 col-md-12 col-lg-12">
															<div class="date-list">
																<div class="grid-col-info">
																	<div class="ux-input expiry-input mb-1">
																		<input id="expiry1" autocomplete="off"
																			#expdateRow numbersOnly type="tel"
																			placeholder="M" limit-to="1"
																			(keyup)="onKeyUpEvent(0, $event, 'expdate')"
																			formControlName="expDate1" />
																	</div>
																</div>
																<div class="grid-col-info">
																	<div class="ux-input expiry-input mb-1">
																		<input id="expiry2" autocomplete="off"
																			#expdateRow numbersOnly type="tel"
																			placeholder="M" limit-to="1"
																			(keyup)="onKeyUpEvent(1, $event, 'expdate')"
																			formControlName="expDate2" />
																	</div>
																</div>
																<div class="grid-col-info">
																	<p class="custom-text2">/</p>
																</div>
																<div class="grid-col-info">
																	<div class="ux-input expiry-input mb-1">
																		<input id="expiry3" autocomplete="off"
																			#expdateRow numbersOnly type="tel"
																			placeholder="Y" limit-to="1"
																			(keyup)="onKeyUpEvent(2, $event, 'expdate')"
																			formControlName="expDate3" />
																	</div>
																</div>
																<div class="grid-col-info">
																	<div class="ux-input expiry-input mb-1">
																		<input id="expiry4" autocomplete="off"
																			#expdateRow numbersOnly type="tel"
																			placeholder="Y" limit-to="1"
																			(keyup)="onKeyUpEvent(3, $event, 'expdate')"
																			formControlName="expDate4" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row1">
														<div Class="col-12 col-md-12 col-lg-12">
															<div class="ux-input mt-0">
																<p class="error-message"></p>
															</div>
														</div>
													</div>
												</div>
												<!-- <div class="col-12 col-md-12">

                                                        <div class="ux-input expiry-input input-data mr-1">
                                                          <input id="expiry1" #expdateRow numbersOnly type="text"  placeholder="M"  limit-to="1" (keyup)="onKeyUpEvent(0, $event, 'expdate')" (focus)="onFocusEvent(0, 'expdate')" formControlName="expDate1"/>
                                                        </div>

                                                        <div class="ux-input expiry-input input-data">
                                                          <input id="expiry2" #expdateRow numbersOnly type="text" placeholder="M" limit-to="1" (keyup)="onKeyUpEvent(1, $event, 'expdate')" (focus)="onFocusEvent(1, 'expdate')"  formControlName="expDate2"/>
                                                        </div>

                                                    <p class="custom-text mx-4" style="display: inline-block;    font-size: 37px;
                                                    line-height: 24px;
                                                    vertical-align: middle;">/</p>

                                                        <div class="ux-input expiry-input input-data mr-1">
                                                          <input id="expiry3" #expdateRow numbersOnly type="text" placeholder="Y" limit-to="1" (keyup)="onKeyUpEvent(2, $event, 'expdate')" (focus)="onFocusEvent(2, 'expdate')" formControlName="expDate3"/>
                                                        </div>

                                                        <div class="ux-input expiry-input input-data">
                                                          <input id="expiry4" #expdateRow numbersOnly type="text" placeholder="Y"  limit-to="1" (keyup)="onKeyUpEvent(3, $event, 'expdate')" (focus)="onFocusEvent(3, 'expdate')" formControlName="expDate4"/>
                                                        </div>
                                                    </div> -->
												<!-- <div class="col-12 col-md-12">
                                                        <div class="ux-input mb-0">
                                                            <label>CVV</label>
                                                        </div>
                                                    </div> -->
												<!-- <div class="col-12 col-md-12">

                                                        <div class="ux-input expiry-input card-pin mr-1">
                                                          <input #cardPinRow id="expiry1" type="password" formControlName="cvvPin1" limit-to="1"  placeholder="●" (keyup)="onKeyUpEvent(0, $event, 'cardpin')" (focus)="onFocusEvent(0, 'cardpin')" />
                                                        </div>

                                                        <div class="ux-input expiry-input card-pin  mr-1">
                                                          <input #cardPinRow id="expiry2" type="password" formControlName="cvvPin2" limit-to="1"  placeholder="●" (keyup)="onKeyUpEvent(1, $event, 'cardpin')" (focus)="onFocusEvent(1, 'cardpin')"  />
                                                        </div>

                                                        <div class="ux-input expiry-input card-pin  mr-1">
                                                             <input #cardPinRow id="expiry3" type="password" formControlName="cvvPin3" limit-to="1" placeholder="●" (keyup)="onKeyUpEvent(2, $event, 'cardpin')" (focus)="onFocusEvent(2, 'cardpin')"  />
                                                        </div>


                                                    </div> -->
												<!-- </div> -->
												<div class="col-12 col-md-6 col-lg-6 col-xl-6">
													<div class="ux-input mb-0">
														<!-- <label>Debit card PIN</label> -->
														<label>PIN</label>
													</div>
													<div class="row4">
														<div class="col-sm-3 col-3 col-md-3">
															<div class="ux-input password1 mb-1 password1">
																<!-- <input id="dcppassword1" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent6(1, event)" onfocus="onfocusEvent6(1)"> </div> -->
																<input #cardPinRow autocomplete="off" id="expiry1"
																	type="tel" formControlName="cvvPin1" limit-to="1"
																	placeholder="●"
																	(keyup)="onKeyUpEvent(0, $event, 'cardpin')"
																	(focus)="onFocusEvent(0, 'cardpin')" />
															</div>
														</div>
														<div class="col-sm-3 col-3 col-md-3">
															<div class="ux-input password1 mb-1">
																<!-- <input id="dcppassword2" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent6(2, event)" onfocus="onfocusEvent6(2)"> </div> -->
																<input #cardPinRow autocomplete="off" id="expiry2"
																	type="tel" formControlName="cvvPin2" limit-to="1"
																	placeholder="●"
																	(keyup)="onKeyUpEvent(1, $event, 'cardpin')"
																	(focus)="onFocusEvent(1, 'cardpin')" />
															</div>
														</div>
														<div class="col-sm-3 col-3 col-md-3">
															<div class="ux-input password1 mb-1">
																<!-- <input id="dcppassword3" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent6(3, event)" onfocus="onfocusEvent6(3)"> </div> -->
																<input #cardPinRow autocomplete="off" id="expiry3"
																	type="tel" formControlName="cvvPin3" limit-to="1"
																	placeholder="●"
																	(keyup)="onKeyUpEvent(2, $event, 'cardpin')"
																	(focus)="onFocusEvent(2, 'cardpin')" />
															</div>
														</div>
														<div class="col-sm-3 col-3 col-md-3">
															<div class="ux-input password1 mb-1">
																<!-- <input id="dcppassword3" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent6(3, event)" onfocus="onfocusEvent6(3)"> </div> -->
																<input #cardPinRow autocomplete="off" id="expiry3"
																	type="tel" formControlName="cvvPin4" limit-to="1"
																	placeholder="●"
																	(keyup)="onKeyUpEvent(3, $event, 'cardpin')"
																	(focus)="onFocusEvent(3, 'cardpin')" />
															</div>
														</div>
														<!-- <div class="col-sm-3 col-3 col-md-3">
															<div class="ux-input password1 mb-1">
																<input id="dcppassword4" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent6(4, event)" onfocus="onfocusEvent6(4)"> </div>
														</div> -->
													</div>
													<div class="row1">
														<div Class="col-12 col-md-12 col-lg-12">
															<div class="ux-input mt-0">
																<p class="error-message"></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- <div class="row1">
												<div class="col-12 position-static">
													<div class="row1">
														<div class="col-6 col-md-6 text-center">
															<div class="text-center button-block">
																<button class="ux-button secondary">Back</button>
															</div>
														</div>
														<div class="col-6 col-md-6 text-center">
															<div class="text-center button-block" (click)="prevstep()">
																<button class="ux-button primary" type="submit" (click)="submitForm()">Continue</button>
															</div>
														</div>
													</div>
												</div>
											</div> -->
										</div>
										<div class="panel entry-content tab-pane" id="otp"
											[ngStyle]="{ display : selectedtab == 'otp' ? 'block' : 'none' }">
											<div class="row1">
												<div class="col-12 col-md-12 col-xl-12 col-lg-12">
													<div class="ux-input">
														<label for="mobileNumber">Mobile Number {{maskedMobile}}</label>
														<input type="password" numbersOnly name="mobile" limit-to="10"
															formControlName="mobile" placeholder="Enter Mobile Number"
															autocomplete="off">
														<p class="error-message"
															*ngIf="forgotpasswordauthForm.controls['mobile'].hasError('required') && (forgotpasswordauthForm.controls['mobile'].dirty || forgotpasswordauthForm.controls['mobile'].touched)">
															{{ 'ENTER_MOBILE_ERROR' | translate }} </p>
														<p class="error-message"
															*ngIf="forgotpasswordauthForm.controls['mobile'].hasError('minlength') && (forgotpasswordauthForm.controls['mobile'].dirty ||forgotpasswordauthForm.controls['mobile'].touched)">
															{{ 'MINIMUM_MOBILE_NUMBER_LENGTH_ERROR' | translate }} </p>
														<p class="error-message"
															*ngIf="forgotpasswordauthForm.controls['mobile'].hasError('min') && (forgotpasswordauthForm.controls['mobile'].dirty ||forgotpasswordauthForm.controls['mobile'].touched)">
															{{ 'MOBILE_NUMBER_CANNOTBE_ZERO_ERROR' | translate }} </p>
													</div>
												</div>
												<div class="col-12 col-md-12 col-xl-12 col-lg-12">
													<div class="ux-input">
														<label for="email">Email Address {{maskedEmail}}</label>
														<input type="text" name="email"
															placeholder="Enter Email Address" autocomplete="off"
															formControlName="email">
														<p class="error-message"
															*ngIf="forgotpasswordauthForm.controls['email'].hasError('required')  && (forgotpasswordauthForm.controls['email'].dirty || forgotpasswordauthForm.controls['email'].touched)">
															{{ 'ENTER_EMAIL_ERROR' | translate }} </p>
														<p class="error-message"
															*ngIf="forgotpasswordauthForm.controls['email'].hasError('pattern')  && (forgotpasswordauthForm.controls['email'].dirty || forgotpasswordauthForm.controls['email'].touched)">
															{{ 'INVALID_EMAIL' | translate }} </p>
													</div>
												</div>
											</div>
											<!-- <div class="row1">
												<div class="col-12 position-static">
													<div class="row1">
														<div class="col-6 col-md-6 text-center">
															<div class="text-center button-block">
																<button class="ux-button secondary" (click)="prevstep()">Back</button>
															</div>
														</div>
														<div class="col-6 col-md-6 text-center">
															<div class="text-center button-block">
																<button class="otp-btn ux-button primary" type="submit" (click)="submitForm()">Continue</button>
															</div>
														</div>
													</div>
												</div>
											</div> -->
										</div>
										<!--
                                            <div id="banktoken" class="main-pannel">
                                              <div class="row1">
                                                  <div class="col-12 col-xl-12 col-lg-12 col-md-12">
                                                      <div class="ux-input pb-0">
                                                          <label for="upiId">Mobile number {{maskedMobile}}</label>
                                                          <input type="text" name="upiId" autocomplete="off" numbersOnly limit-to="10" placeholder="Enter Mobile Number" formControlName="mobile" >
                                                          <span class="errormsg"
                                                          *ngIf="forgotpasswordauthForm.controls['mobile'].hasError('required')  && forgotpasswordauthForm.controls['mobile'].touched">
                                                          {{ 'ENTER_MOBILE_ERROR' | translate }}
                                                        </span>
                                                        <span class="errormsg"
                                                          *ngIf="forgotpasswordauthForm.controls['mobile'].hasError('pattern') && forgotpasswordauthForm.controls['mobile'].touched">
                                                          {{ 'INVALID_NUMBER' | translate }}
                                                        </span>
                                                      </div>
                                                  </div>

                                                  <div class="col-12 col-xl-12 col-lg-12 col-md-12">
                                                      <div class="ux-input pb-0">
                                                          <label for="upiId">Email address {{maskedEmail}}</label>
                                                          <input type="text" name="upiId" autocomplete="off" formControlName="email" placeholder="Enter Email address" >
                                                          <span class="errormsg"
                                                          *ngIf="forgotpasswordauthForm.controls['email'].hasError('required')  && forgotpasswordauthForm.controls['email'].touched">
                                                          {{ 'ENTER_EMAIL_ERROR' | translate }}
                                                        </span>
                                                        <span class="errormsg"
                                                          *ngIf="forgotpasswordauthForm.controls['email'].hasError('pattern') && forgotpasswordauthForm.controls['email'].touched">
                                                          {{ 'INVALID_EMAIL' | translate }}
                                                        </span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div> -->
									</div>
								</div>
							</form>
							<div class="row1">
								<div class="col-12 position-static">
									<div class="row1">
										<div class="col-6 col-md-6 text-center">
											<div class="text-center button-block">
												<button class="ux-button secondary" (click)="prevstep()">Back</button>
											</div>
										</div>
										<div class="col-6 col-md-6 text-center">
											<div class="text-center button-block">
												<button class="otp-btn ux-button primary" type="submit"
													(click)="submitForm()">Continue</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<!-- </div> -->
<div class="popup-bottom md-popup otp-popup">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center">OTP Verification</h4>
			
		</div>
		<!-- <div class="col-2">
			<button class="ux-button-icon close-btn" (click)="closePopup('otp-popup')"> <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall"> </button>
		</div> -->
	</div>
	<div class="row1">
		<div class="col-12 col-md-8 col-lg-8 col-xl-8 m-auto">
			<div class="mob-icon"> <img src="assets/images/icons/mobile.svg" alt="mobile-icon"> </div>
			<!-- <h6 class="text-center mar-tb">OTP sent on your mobile number ending with ********9708 </h6> -->
		</div>
	</div>
	<form [formGroup]="otpForm">
		<div class="row1">
			<div class="col-12 col-md-8 col-lg-8 col-xl-8  m-auto">
				<div class="row1">
					<div class="col-12 col-md-12 col-xl-12 col-lg-12">
						<div class="ux-input password1 mb-1">
							<label for="mobileOtp text-center">Mobile OTP</label>
							<h6 class="text-center">Please enter 6 digit OTP sent on registered Mobile Number ending with
								{{maskedMobile}}</h6>
						</div>
					</div>
					<div class="col-12">
						<div class="row4">
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="mobile1" type="tel" #mobileOTPRow maxlength="1" numbersOnly
										placeholder="●" (keyup)=" onKeyUpEventOtp(0, $event ,'mobile' )"
										(focus)="onFocusEvent(0,'mobile')" formControlName="mobile1">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="mobile2" type="tel" #mobileOTPRow maxlength="1" numbersOnly
										placeholder="●" (keyup)=" onKeyUpEventOtp(1, $event,'mobile')"
										(focus)="onFocusEvent(1,'mobile')" formControlName="mobile2">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="mobile3" type="tel" #mobileOTPRow maxlength="1" numbersOnly
										placeholder="●" (keyup)=" onKeyUpEventOtp(2, $event,'mobile')"
										(focus)="onFocusEvent(2,'mobile')" formControlName="mobile3">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="mobile4" type="tel" #mobileOTPRow maxlength="1" numbersOnly
										placeholder="●" (keyup)=" onKeyUpEventOtp(3, $event,'mobile')"
										(focus)="onFocusEvent(3,'mobile')" formControlName="mobile4">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1  mb-1">
									<input id="mobile5" type="tel" #mobileOTPRow maxlength="1" numbersOnly
										placeholder="●" (keyup)=" onKeyUpEventOtp(4, $event,'mobile')"
										(focus)="onFocusEvent(4,'mobile')" formControlName="mobile5">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="mobile6" type="tel" #mobileOTPRow maxlength="1" numbersOnly
										placeholder="●" (keyup)=" onKeyUpEventOtp(5, $event,'mobile')"
										(focus)="onFocusEvent(5,'mobile')" formControlName="mobile6">
								</div>
							</div>
						</div>
						<div class="row1">
							<div class="col-12">
								<div class="ux-input password1 mt-0 mb-0">
									<p class="error-message"></p>
								</div>
							</div>
						</div>
						<div class="row4">
							<div class="col-6 col-md-6">
								<div class="text-left">
									<p class="text-left"> <span class="success-text"
											*ngIf="mobileCounter > 0">{{mobileCounter| formatTimer }}</span> </p>
								</div>
							</div>
							<div class="col-6 col-md-6">
								<div class="text-right">
									<button class="ux-linkbutton default-underline mt-3"
										[ngClass]="mobileCounter > 0 ? 'mydisabled' : 'resendActive'"
										(click)="resendOTPLink('mobile')">Resend</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row1">
			<div class="col-12 col-md-8 col-lg-8 col-xl-8  m-auto">
				<div class="row1">
					<div class="col-12 col-md-12 col-xl-12 col-lg-12">
						<div class="ux-input password1 mb-1">
							<label for="emailOtp text-center">Email OTP</label>
							<h6 class="text-center">Please enter 6 digit OTP sent on registered email ending with
								{{maskedEmail}}</h6>
						</div>
					</div>
					<div class="col-12 col-md-12">
						<div class="row4">
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="email1" type="tel" #emailOTPRow maxlength="1" placeholder="●"
										(keyup)="onKeyUpEventOtp(0, $event,'email')" (focus)="onFocusEvent(0,'email')"
										formControlName="email1">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="email2" type="tel" #emailOTPRow maxlength="1" placeholder="●"
										(keyup)="onKeyUpEventOtp(1, $event,'email')" (focus)="onFocusEvent(1,'email')"
										formControlName="email2">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="email3" type="tel" #emailOTPRow maxlength="1" placeholder="●"
										(keyup)="onKeyUpEventOtp(2, $event,'email')" (focus)="onFocusEvent(2,'email')"
										formControlName="email3">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="email4" type="tel" #emailOTPRow maxlength="1" placeholder="●"
										(keyup)="onKeyUpEventOtp(3, $event,'email')" (focus)="onFocusEvent(3,'email')"
										formControlName="email4">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1  mb-1">
									<input id="email5" type="tel" #emailOTPRow maxlength="1" placeholder="●"
										(keyup)="onKeyUpEventOtp(4, $event,'email')" (focus)="onFocusEvent(4,'email')"
										formControlName="email5">
								</div>
							</div>
							<div class="col-sm-2 col-2 col-md-2">
								<div class="ux-input password1 mb-1">
									<input id="email6" type="tel" #emailOTPRow maxlength="1" placeholder="●"
										(keyup)="onKeyUpEventOtp(5, $event,'email')" (focus)="onFocusEvent(5,'email')"
										formControlName="email6">
								</div>
							</div>
						</div>
						<div class="row1">
							<div class="col-12">
								<div class="ux-input password1 mt-0 mb-0">
									<p class="error-message">{{errormsg}}</p>
								</div>
							</div>
						</div>
						<div class="row4">
							<div class="col-6 col-md-6">
								<div class="text-left">
									<p class="text-left"> <span class="success-text" *ngIf="counter > 0">{{counter|
											formatTimer }}</span> </p>
								</div>
							</div>
							<div class="col-6 col-md-6">
								<div class="text-right">
									<button class="ux-linkbutton default-underline mt-3"
										[ngClass]="counter > 0 ? 'mydisabled' : 'resendActive'"
										(click)="resendOTPLink('email')">Resend</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row1 mt-2">
		<div class="col-12 col-md-8 col-lg-8 col-xl-8  m-auto">
			<div class="row1">
				<div class="col-6 text-center">
					<button class="ux-button secondary sm-mob close-btn" type="submit"
						(click)="closePopup('otp-popup')">Cancel</button>
				</div>
				<div class="col-6 text-center">
					<button class="ux-button primary sm-mob otp-submit" type="submit" (click)="validateOtp()"
						[disabled]="otpForm.invalid">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- OTP Popup End-->