.commingSoon{
    position: absolute;
    background: #ad1c29;
    color: #ffffff;
    font-size: .5rem;
    padding: 1px 5px;
    border-radius: 10px;
    bottom: -8px;
    right: 8px;
    text-transform: capitalize;
}


.commingSoonMob{
    position: absolute;
    background: #ad1c29;
    color: #ffffff;
    font-size: .5rem;
    padding: 1px 5px;
    border-radius: 10px;
    top: 46%;
    // left: 62px;
    text-transform: capitalize;
}