.oops-page h3{
    //color: brown;
    color: #707273;    
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: 600;
}
.oops-page p {
    font-size: 14px !important;
    margin-bottom: 50px!important;
    /* font-weight: 500!important; */
}
