<div class="prelogin-page">
	<div class="registration-steps">
		<div class="row">
			<div class="col-12 position-static">
				<div class="inner-header">
					<div class="registration-container">
						<h4>{{'INFORMATION' | translate}}</h4>
						<!-- <a class="close-registration" ><img (click)="mobPrevclick('cross')" src="../assets/images/svg/close-w.svg"></a> --></div>
				</div>
				<div class="registrationsteps-block registration-container success-page oops-page ">
					<div class="img-block"> <img src="assets/images/background/Session-time-out.png" alt="reg-opps"> </div>
					<h3>{{DataService.timeoutHeader | translate}}</h3>
					<p>{{DataService.timeoutMsg | translate}}</p> <a class="ux-button sm secondary " routerLink="/login"> {{'LOGIN_AGAIN' | translate}}</a> </div>
			</div>
		</div>
	</div>
	<!-- .full-container -->
</div>