<div class="right-main-column">
    <div class="right-col-container pad-b full-width">

 
        <!-- ======== body page content start from here ======== -->

        <div class="body-page-container main-dashborad">
            <div class="container-fluid">

              <div class="row">
                    <div class="col-12 p-0">
                        <div class="breadcrumb">
                            <ul class="lst-breadcrumb">
                                <!-- <li>
                                     Loans
                                </li> -->
                                <li *ngFor="let name of dataService.breadcrumblist">
                                    <a (click)="dataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
             <!--.row -->
             <div class="vspacer15 customize"></div>
                <div class="row no-gutters">
                    <div class="col-12">
                       <div class="row1">
                           <div class="col-12">
                            <div class="ux-acc-container" style="margin: 0">
                                <div class="acc-slide slide-active">
                                    <a href="javascript:;" class="arrow-toggle custom">
                                        <h6 class="panel-title">
                                            <em>Personal Loan</em>	
                                        </h6>
                                        <i></i>
                                    </a> <!-- arrow-toggle -->
                                    <div class="acc-slide-content" style="display:block;">
                                        <div class="slide-body pad-0">
                                            <div class="row1">
                                                <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                      <div class="datatable-box">
                                                        <div class="table-responsive" *ngIf="myPersonalLoan.length >0">
                                                            <table id="dt-sample3" class="table table-hover display table-borderless">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="display-n">Account Number</th>
                                                                        <th class="display-n">Branch</th>
                                                                        <th class="display-n">Currency</th>
                                                                        <th class="display-n">Tenure in Months</th>
                                                                        <th class="text-right display-n">EMI</th>
                                                                        <th class="text-right display-n">Loan Amount</th>
                                                                 </tr>
                                                                </thead>
                                                                 <tbody>
                                                                     <tr class="no-borders" *ngFor="let loan of myPersonalLoan"  (click)="navigateToLoanDetails('Personal Loan',loan)" > 
                                                                        <td class="pl fs1">{{loan?.accountNumber}}</td>
                                                                        <td class="display-n">{{loan?.branch_name}}</td>
                                                                        <td class="display-n">{{loan?.currency}}</td>
                                                                        <td class="display-n">{{loan?.TenureInMonths}}</td>
                                                                        <td class="text-right display-n">{{loan?.EMI | customcurrency}}</td>
                                                                        <td class="text-right display-n">{{loan?.sbBalance | customcurrency}}</td>
                                                                     </tr>
                                                                     <tr class="t-footer"> 
                                                                        <td class="display-n"><em>Total</em></td>
                                                                        <td class="display-n"> </td>
                                                                        <td class="display-n"> </td>
                                                                        <td class="display-n"> </td>
                                                                        <td class="text-right display-n"><em>{{getTotalEMIAmount(myPersonalLoan) | customcurrency}}</em></td>
                                                                        <td class="text-right display-n"><em>{{getTotalLoanAmount(myPersonalLoan) | customcurrency}}</em></td>
                                                                     </tr>
                                                                  </tbody>
                                                              </table>	
                                                         </div>
                                                         <div class="text-center" *ngIf="myPersonalLoan.length == 0"> No personal loan available</div>
                                                     </div>
                                                 </div>
                                            </div>
                                          </div><!--.slide-body-->
                                     </div><!--.acc-slide-content-->
                                </div><!--.acc-slide-->

                                <div class="acc-slide">
                                    <a href="javascript:;" class="arrow-toggle custom">
                                        <h6 class="panel-title">
                                            <em>Home Loan</em>	
                                        </h6>
                                        <i></i>
                                    </a> <!-- arrow-toggle -->
                                    <div class="acc-slide-content" >
                                        <div class="slide-body pad-0">
                                            <div class="row1">
                                                <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <div class="datatable-box">
                                                      <div class="table-responsive" *ngIf="myHomeLoan.length > 0">
                                                          <table id="dt-sample3" class="table table-hover display table-borderless">
                                                            <thead>
                                                                <tr>
                                                                    <th class="display-n">Account Number</th>
                                                                    <th class="display-n">Branch</th>
                                                                    <th class="display-n">Currency</th>
                                                                    <th class="display-n">Tenure in Months</th>
                                                                    <th class="text-right display-n">EMI</th>
                                                                    <th class="text-right display-n">Loan Amount</th>
                                                             </tr>
                                                            </thead>
                                                             <tbody>
                                                                 <tr class="no-borders" *ngFor="let loan of myHomeLoan" (click)="navigateToLoanDetails('Home Loan',loan)"> 
                                                                    <td class="pl fs1">{{loan?.accountNumber}}</td>
                                                                    <td class="display-n">{{loan?.branch_name}}</td>
                                                                    <td class="display-n">{{loan?.currency}}</td>
                                                                    <td class="display-n">{{loan?.TenureInMonths}}</td>
                                                                    <td class="text-right display-n">{{loan?.EMI | customcurrency}}</td>
                                                                    <td class="text-right display-n">{{loan?.sbBalance | customcurrency}}</td>
                                                                 </tr>
                                                                 <tr class="t-footer"> 
                                                                    <td class="display-n"><em>Total</em></td>
                                                                    <td class="display-n"> </td>
                                                                    <td class="display-n"> </td>
                                                                    <td class="display-n"> </td>
                                                                    <td class="text-right display-n"><em>{{getTotalEMIAmount(myHomeLoan) | customcurrency}}</em></td>
                                                                    <td class="text-right display-n"><em>{{getTotalLoanAmount(myHomeLoan) | customcurrency}}</em></td>
                                                                 </tr>
                                                              </tbody>
                                                            </table>	
                                                       </div>
                                                       <div class="text-center" *ngIf="myHomeLoan.length == 0"> No home loan available</div>
                                                   </div>
                                               </div>
                                            </div>
                                      </div><!--.slide-body-->
                                 </div><!--.acc-slide-content-->
                                </div><!--.acc-slide-->

                                <div class="acc-slide">
                                    <a href="javascript:;" class="arrow-toggle custom">
                                        <h6 class="panel-title">
                                            <em>Vehicle Loan</em>	
                                        </h6>
                                        <i></i>
                                    </a> <!-- arrow-toggle -->
                                    <div class="acc-slide-content" >
                                        <div class="slide-body pad-0">
                                            <div class="row1">
                                                <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <div class="datatable-box">
                                                      <div class="table-responsive" *ngIf="myVehicleLoan.length > 0">
                                                          <table id="dt-sample3" class="table table-hover display table-borderless">
                                                            <thead>
                                                                <tr>
                                                                    <th class="display-n">Account Number</th>
                                                                    <th class="display-n">Branch</th>
                                                                    <th class="display-n">Currency</th>
                                                                    <th class="display-n">Tenure in Months</th>
                                                                    <th class="text-right display-n">EMI</th>
                                                                    <th class="text-right display-n">Loan Amount</th>
                                                             </tr>
                                                            </thead>
                                                             <tbody>
                                                                 <tr class="no-borders" *ngFor="let loan of myVehicleLoan" (click)="navigateToLoanDetails('Vehicle Loan',loan)"> 
                                                                    <td class="pl fs1">{{loan?.accountNumber}}</td>
                                                                    <td class="display-n">{{loan?.branch_name}}</td>
                                                                    <td class="display-n">{{loan?.currency}}</td>
                                                                    <td class="display-n">{{loan?.TenureInMonths}}</td>
                                                                    <td class="text-right display-n">{{loan?.EMI | customcurrency}}</td>
                                                                    <td class="text-right display-n">{{loan?.sbBalance | customcurrency}}</td>
                                                                 </tr>
                                                                 <tr class="t-footer"> 
                                                                    <td class="display-n"><em>Total</em></td>
                                                                    <td class="display-n"> </td>
                                                                    <td class="display-n"> </td>
                                                                    <td class="display-n"> </td>
                                                                    <td class="text-right display-n"><em>{{getTotalEMIAmount(myVehicleLoan) | customcurrency}}</em></td>
                                                                    <td class="text-right display-n"><em>{{getTotalLoanAmount(myVehicleLoan) | customcurrency}}</em></td>
                                                                 </tr>
                                                              </tbody>
                                                         </table>	
                                                       </div>
                                                       <div class="text-center" *ngIf="myVehicleLoan.length == 0"> No vehicle loan available</div>

                                                   </div>
                                               </div>
                                            </div>
                                          <div class="vspacer10 d-block d-sm-block d-xl-none d-lg-none d-md-none"></div>
                                      </div><!--.slide-body-->
                                 </div><!--.acc-slide-content-->
                                </div><!--.acc-slide-->

                           </div>
                         
                        </div>
                       </div>
                    </div>
                    
                </div>


            </div><!--.container-fluid-->
        </div><!--.body-page-container-->   


    </div><!--.right-col-container-->  
</div><!--.right-main-column--> 