<div class="main">


    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="col-sm-12 col-12 col-md-12">

                                        <div class="white-bg1 pad-custom">
                                            <ul class="complaint-list">
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>Transaction ID</h6>
                                                                    <h5>465464646421</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>Customer Mobile Number</h6>
                                                                    <h5>8654136412</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>Complaint Reason</h6>
                                                                    <h5>Amount Deducted multiple times</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>Complaint Description</h6>
                                                                    <h5>Please resolve the issue</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </div>
    </div>

</div> -->


            <!-- footer section start -->

            <div class="footer-container sticky-actions">
                <div class="footer-inactions minus-rt-col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 text-center">
                                <button class="ux-button primary md"
                                    (click)="goToPage('billRaiseComplaintTransactionSuccess')">Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer section end -->

        </div>
    </div>

</div>

<!-- main -->