<div class="main main-bg2">


    <div class="right-main-column mar-custom">
        <div class="right-col-container pad-b">

            <div class="body-page-container">
                <div class="vspacer5 d-sm-block d-none"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section2">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="payee-info1 mar-b">
                                        <div class="row">
                                            <div class="info-inner">
                                                <div class="info-lft">
                                                    <span class="green1">
                                                        <img src="assets/images/icons/user1.png" alt="user-img">
                                                    </span>
                                                </div>
                                                <div class="info-center">
                                                    <a> <img src="assets/images/svg/double-right-arrows.svg"
                                                            alt="double-left-arrows-icon"> </a>
                                                </div>
                                                <div class="info-rit">
                                                    <span class="white1">
                                                        <h6 class="red1">SRK</h6>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-12">
                                                <h5>Payment to SRK Enterpises</h5>
                                                <h5><span>merchant@psb</span></h5>
                                                <h6>9824151241</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row1">
                                    <div class="col-sm-5 col-8 col-md-3 m-auto">
                                        <div class="ux-input white-input mar-tb">
                                            <input type="text" placeholder="0" required id="amt" data-a-sign="Rs.">
                                            <p class="text-center error-message"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row1">
                                    <div class="col-sm-5 col-5 col-md-3 m-auto">
                                        <div class="ux-input dark-input mar-tb">
                                            <input type="text" placeholder="Remarks" required>
                                            <p class="text-center error-message"></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Info Bottom Container Start -->
                                <div class="info-bottom-container">
                                    <div class="row1 mt-5">
                                        <div class="col-sm-12 col-12 col-md-12 m-auto">
                                            <div class="row">
                                                <div class="text-left">
                                                    <div>
                                                        <div class="ux-selection-custom mar-rcustom">
                                                            <label>I agree to share my PAN / Aadhaar details as
                                                                available with the remitter bank to claim the tax
                                                                incentive applicable for this transaction.
                                                                <input type="checkbox" name="">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- bottom info Start -->
                                            <div class="bottom-info">
                                                <div class="row1">
                                                    <div class="col-12">
                                                        <h4>From UPI ID</h4>
                                                    </div>
                                                </div>
                                                <form action="#" id="payment-form">
                                                    <div class="row1 mt-2">
                                                        <div class="col-12">
                                                            <h5>9768245145@psb</h5>
                                                            <h6>Savings XXXXXXXXXXXX9557</h6>
                                                            <em>Punjab & Sindh Bank</em>
                                                        </div>
                                                        <div class="col-12 mt-1 ">
                                                            <div>
                                                                <a class="reg-txt">Change A/C</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row1 mt-2">
                                                        <div class="col-12 text-center">
                                                            <button class="ux-button primary pay-btn md"
                                                               >Pay Now</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- <div class="row1">
                                                    <div class="col-12 text-center mt-4">
                                                        <div class="powered-logo">
                                                            <img src="assets/images/logo/powered-upi-logo.svg"
                                                                alt="powered-upi-logo">
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <!-- bottom info End -->

                                        </div>
                                    </div>
                                </div>
                                <!-- Info Bottom Container End -->



                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- main -->

<!-- =========== modal popup start ===============  -->

<!-- Alert Popup Start -->

<div class="popup-bottom alert1">
    <div class="row1">
        <div class="col-12">
            <h4 class="text-center">Alert</h4>
        </div>
    </div>
    <div class="row1">
        <div class="col-12">
            <p>
                Transaction was successful but it is not eligible for claiming tax incentive as the required PAN /
                Aadhaar details is not available with your remitter bank.
            </p>
        </div>
    </div>
    <div class="row1 mt-2">
        <div class="col-12 text-center">
            <button class="ux-button primary md" (click)="goToPage('pendingRequestUpi')">Ok</button>
        </div>
    </div>
</div>

<!-- Alert Popup End -->

<div class="ios-nav-overlay"></div>