
<div class="main main-bg2">

 <div class="right-main-column mar-custom">
    <div class="right-col-container pad-b">
               
    <div class="body-page-container">
	  <div class="vspacer5 d-sm-block d-none"></div> 
		 <div class="container-fluid">
			  <div class="row"> 
                <div class="bg-section2"> 
				 <div class="col-12"> 	
				   <div class="row1">
					 <div class="payee-info1 mar-b">
						<div class="row">
						 <div class="info-inner">
                              <div class="info-lft">
								 <span class="green1">
									   <img src="assets/images/icons/user1.png" alt="user-img">
								 </span>
							   </div>
								<div class="info-center">
									 <a > <img src="assets/images/svg/double-right-arrows.svg" alt="double-left-arrows-icon"> </a>
								</div>
								<div class="info-rit">
									<span class="white1">
										<img src="assets/images/icons/mahanagar-gas.png" alt="mahanagar-gas-logo">
									</span>
								 </div>
							   </div>
					    	</div>
							  <div class="row">
                                <div class="col-12 col-md-12">
									 <h5>Payment to MahaGas</h5>
									 <h6>Savings XXXXXXXXXXXX2541</h6>
								 </div>
							 </div>
							 <div class="row">
								 <div class="calculate-amt text-center col-12" style="display: none;">
								      <div class="info-inner2">
											<div class="info-lft">
												<em>Bill Amount</em>
												<em><img src="assets/images/svg/rupee.svg" alt="rupees-icon"> 140.00</em>
											</div>
											<div class="info-center">
												 <em>+</em>
											</div>
											<div class="info-rit">
												<em>Customer Conv Fee</em>
												<em><img src="assets/images/svg/rupee.svg" alt="rupees-icon"> 10.00</em>
											</div>
										</div>
								      </div>
							      </div>
							 </div>
						   </div>
						   <div class="row1">
								<div class="col-sm-5 col-8 col-md-3 m-auto">
									<div class="ux-input white-input mar-tb">
										<input type="text"  name="amount"  placeholder="0" required data-a-sign="Rs.">
										<p class="text-center error-message"></p>
									</div> 
								</div> 
						  </div>
						   <div class="row1">
								 <div class="col-sm-5 col-5 col-md-3 m-auto">
									<div class="ux-input dark-input mar-tb">
										<input type="text" placeholder="Remarks" required>
									    <p class="text-center error-message"></p>
								  </div> 
							 </div> 
						 </div>


			 <!-- Info Bottom Container Start -->
				  <div class="info-bottom-container">
                    <div class="row1 mt-5">
						<div class="col-sm-12 col-12 col-md-12 m-auto">
						   <!-- bottom-info Start -->
								<div class="bottom-info">
									<div class="row1">
										<div class="col-12">
										  <h4>From UPI ID</h4>
										</div>
									  </div>
									  <form action="#" id="payment-form"> 
										  <div class="row1 mt-2">
											  <div class="col-12">
												  <h5>9768245145@psb</h5>
												  <h6>Savings XXXXXXXXXXXX9557</h6>
												  <em>Punjab & Sindh Bank</em>	 
											  </div>
											  <div class="col-12 mt-1 ">
												  <div>
													  <a  class="reg-txt">Change A/C</a>
												  </div>
											   </div>
										  </div>
										<div class="row1 mt-2">
											<div class="col-12 text-center">
												<button class="ux-button primary submit md">Pay Now</button>
											</div>
										 </div>
									  </form>
									  <!-- <div class="row1">
										<div class="col-12 text-center mt-4">
											<div class="powered-logo">
                                                <img src="assets/images/logo/powered-upi-logo.svg" alt="powered-upi-logo">
											</div>
										 </div>
									 </div> -->
								</div> 
							<!-- bottom-info End -->	
	 
							 </div>  
						   </div>
						</div>
					 <!-- Info Bottom Container End -->	
						    
						
					  </div>
					</div>  
						 
                  </div> 
			 </div> 
 
		  </div> 
	   </div> 
	  </div>  
          
    </div> 
