    
    .upiform{
        input[type=text], input[type=password],  input[type=number]{
            padding: 5px 50px 5px 8px;
        }
    }
    .psbmark{position: absolute;
        right: 10px;
        top: 38px;
        font-weight: 700;
        text-transform: lowercase;  
        }