<div class="main">
    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">
            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="col-sm-12 col-12 col-md-12">
                                        <div class="white-bg1 pad-custom">
                                            <ul class="complaint-list">
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>
                                                                        <!-- Bank Name -->
                                                                        {{ 'BANK_NAME' | translate }}
                                                                    </h6>
                                                                    <h5>
                                                                        {{ confirmGlobalUpiData.bankName }}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>
                                                                        <!-- Account Number -->
                                                                        {{ 'ACCOUNT_NUMBER' | translate }}
                                                                    </h6>
                                                                    <h5>
                                                                        {{ confirmGlobalUpiData.maskedAccountNumber }}
                                                                        <!-- XXXXXXXXXXXX2215 -->
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>
                                                                        <!-- UPI Global Status -->
                                                                        {{ 'UPI_GLOBAL_STATUS' | translate }}
                                                                    </h6>
                                                                    <h5>
                                                                        {{ confirmGlobalUpiData.upiGlobalStatus }}
                                                                        <!-- Activate -->
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>
                                                                        <!-- Start Date -->
                                                                        {{ 'START_DATE' | translate }}
                                                                    </h6>
                                                                    <h5>
                                                                        {{ confirmGlobalUpiData.startDate }}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>
                                                                        <!-- End Date -->
                                                                        {{ 'END_DATE' | translate }}
                                                                    </h6>
                                                                    <h5>
                                                                        {{ confirmGlobalUpiData.endDate }}
                                                                        <!-- 30/10/2020 -->
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>
                                                                        <!-- Per Transaction Limit -->
                                                                        {{ 'PER_TRANSACTION_LIMIT' | translate }}
                                                                    </h6>
                                                                    <h5>
                                                                        <img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon" />
                                                                        <!-- 25,000.00 -->
                                                                        {{ confirmGlobalUpiData.perTransactionLimit }}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="bor-n">
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-12 col-md-12">
                                                                <div class="left-info">
                                                                    <h6>
                                                                        <!-- Per Day Limit -->
                                                                        {{ 'PER_DAY_LIMIT' | translate }}
                                                                    </h6>
                                                                    <h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon">
                                                                        <!-- 10,000.00 -->
                                                                        {{ confirmGlobalUpiData.perDayLimit }}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container sticky-actions">
                <div class="footer-inactions minus-rt-col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12 text-center">
                                <button class="ux-button primary md" (click)="callNpciLibrary()">
									<!-- Confirm -->
									{{ 'CONFIRM' | translate }}
								</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticky-actions-spacer"></div>
        </div>
    </div>
</div>