<div class="main">
    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="white-subheader">
                            <div class="in-header">
                                <div class="header-icons-lft">
                                    <div class="header-actions">
                                    </div>
                                </div>
                                <div class="brand-logo m-auto text-center">
                                    <img src="assets/images/logo/psb-logo.png" alt="psb-logo" class="logo1">
                                    <img src="assets/images/logo/bharatqr.png" alt="bharatqr" class="logo2">
                                </div>
                                <div class="header-icons-rit">
                                    <div class="header-actions">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="widget-box6">
                            <div class="component-title6">
                                <div class="row1">
                                    <div class="col-8 col-md-9">
                                        <h3>{{'RECENT' | translate}}</h3>
                                    </div>
                                    <div class="col-4 col-md-3">
                                        <!-- <a class="ux-linkbutton sm float-right">View All</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="component-box">
                                <div class="row1">
                                    <div class="col-12">
                                        <div class="ux-small-scroll3">
                                            <a href="javascript:;">
                                                <span class="green1">
                                                    <h6>RS</h6>
                                                </span>
                                                <em>Rohan Singh</em>
                                            </a>
                                            <a href="javascript:;">
                                                <span class="green1">
                                                    <img src="assets/images/icons/user2.png" alt="user-img">
                                                </span>
                                                <em>Aarti</em>
                                            </a>
                                            <a href="javascript:;">
                                                <span class="green1">
                                                    <img src="assets/images/icons/user3.png" alt="user-img">
                                                </span>
                                                <em>Sohan</em>
                                            </a>
                                            <a href="javascript:;">
                                                <span class="green1">
                                                    <img src="assets/images/icons/user6.png" alt="user-img">
                                                </span>
                                                <em>Jyoti</em>
                                            </a>
                                            <a href="javascript:;">
                                                <span class="green1">
                                                    <img src="assets/images/icons/user4.png" alt="user-img">
                                                </span>
                                                <em>Nivedita </em>
                                            </a>
                                        </div>
                                        <!--.ux-small-scroll-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="scan-bg">
                        <div class="row">
                            <div class="col-12">
                                <h5>{{'POINT_AT_QR_CODE_TO_PAY' | translate}}</h5>
                            </div>
                            <div class="col-12">
                                <div class="scan-img"> <img src="assets/images/svg/qr-code-bw1.svg" alt="qr-img">
                                </div>
                            </div>
                            <div class="col-12">
                                <h5> <a> <img src="assets/images/svg/art.svg" alt="gallery-img"> {{'SCAN_FROM_GALLERY' |
                                        translate}}</a></h5>
                            </div>
                        </div>
                    </div>

                </div>
             
            </div>
               <!-- footer section start -->

               <div class="footer-container sticky-actions">
                <div class="footer-inactions minus-rt-col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 text-center">
                                <div class="powered-logo mt-0">
                                    <img src="assets/images/logo/powered-upi-logo.svg" alt="powered-upi-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticky-actions-spacer"></div>

            <!-- footer section end -->
        </div>

    </div>
</div>