<div class="main bg-m">

<!-- Start Global Nav -->

<div class="nav-overlay"></div>

<!-- End Global Nav -->


       <div class="right-main-column ">
           <div class="right-col-container pad-b full-width">


               <!-- ======== body page content start from here ======== -->

               <div class="body-page-container main-dashborad manage-payee">
                   <div class="container-fluid">

                     <div class="row">
                           <div class="col-12 p-0">
                               <div class="breadcrumb">
                                   <ul class="lst-breadcrumb">
                                       <!-- <li>
                                           <a href="">{{"DASHBOARD" | translate}}</a>
                                       </li>
                                       <li>
                                           <a href="">{{"FREEEZE_ACCOUNT" | translate}}</a>
                                       </li>
                                       <li>
                                           {{"RECEIPT" | translate}}
                                       </li> -->
                                       <li *ngFor="let name of dataService.breadcrumblist">
                                        <a (click)="dataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
                                </li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                    <!--.row -->

                    <div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>

                       <div class="row no-gutters">
                           <div class="col-12">
                              <div class="row1">

                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">

                                       <!-- Greencard2 Start here -->
                                         <div class="greencard2">
                                               <div class="row1 hide-m">
                                                   <div class="col-md-8 col-12">
                                                       <h4>{{"RECEIPT" | translate}}</h4>
                                                   </div>
                                                   <div class="col-md-4 col-12">

                                                   </div>
                                               </div>
                                               <div class="row1">
                                                    <div class="col-sm-12 col-12 col-md-12">
                                                       <div class="white-box2 mar-t pad-custom custom-bor">
                                                           <div class="row">
                                                             <div class="success">
                                                                 <h5> <img src="assets/images/svg/success-arrow.svg" alt="success-icon"> Success</h5>
                                                                <small>{{"DEBIT_FREEZE_SUCCESS_MSG" | translate}}</small>

                                                                <small class="mt-5">

                                                                   <span>
                                                                       Ref ID 7859200249
                                                                   </span>
                                                            </small>
                                                         </div>
                                                         </div>
                                                            <div class="bg-img">
                                                               <img src="assets/images/svg/psb-receipt icon.svg"  alt="success-bg" />
                                                            </div>
                                                       </div>
                                                   </div>
                                                    <div class="col-sm-12 col-12 col-md-12">
                                                         <div class="result-container1 mar-top">
                                                                 <div class="info-bottom pad-custom">
                                                                     <div class="info-details mt-3">
                                                                           <div class="row">
                                                                               <h6>Account Number</h6>
                                                                               <h5>Savings XXXX XXXX 9557</h5>
                                                                               <h5>Savings XXXX XXXX 9557</h5>
                                                                               <h5>Savings XXXX XXXX 9557</h5>
                                                                            </div>
                                                                       </div>
                                                                       <div class="info-details">
                                                                           <div class="row">
                                                                               <h6>Type of Freeze</h6>
                                                                               <h5>Debit</h5>
                                                                             </div>
                                                                       </div>
                                                                       <div class="info-details">
                                                                           <div class="row">
                                                                               <h6>Remarks</h6>
                                                                               <h5>Lorem Ipsum</h5>
                                                                           </div>
                                                                       </div>
                                                                       <div class="info-details">
                                                                           <div class="row">
                                                                               <h6>Date</h6>
                                                                               <h5>7 July 2021</h5>
                                                                           </div>
                                                                       </div>

                                                                    </div>
                                                                </div>
                                                             </div>


                                               </div>
                                               <div class="row1">
                                                   <div class="col-md-12 col-lg-6 col-12">
                                                       <ul class="link-list hide-m">
                                                           <li>
                                                               <a href="#"><img src="assets/images/svg/share.svg" alt="share-icon">Share</a>
                                                           </li>
                                                           <li>
                                                              <a href="#"><img src="assets/images/svg/download.svg" alt="download-icon">Download</a>
                                                          </li>
                                                          <li>
                                                              <a href="#"> <img src="assets/images/svg/print.svg" alt="print-icon">Print</a>
                                                          </li>
                                                       </ul>
                                                   </div>
                                                   <div class="col-md-12 col-lg-6 col-12">
                                                       <ul class="bottom-footer1">
                                                           <li>
                                                               <div class="btn-div w100">
                                                                   <button class="ux-button primary sm-mob">Back to My Account</button>
                                                               </div>
                                                           </li>
                                                       </ul>
                                                   </div>
                                               </div>
                                         </div>
                                       <!-- Greencard2 End here -->


                                     </div>



                                 <!-- Right Column Ads Start -->

                                   <div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-xl-block">
                                       <div class="right-ads">
                                           <a>
                                               <img src="assets/images/banner/my-card-banner.jpg">
                                           </a>
                                       </div>
                                     </div>
                                <!-- Right Column Ads Ends -->

                               </div>

                               </div>
                       </div>

                   </div>
               </div>


           </div><!--.right-col-container-->
       </div><!--.right-main-column-->


   </div> <!-- main -->


   <aside class="notification-panel sticky-panel ">
       <div class="notp-header">
           <a href="javascript:;" class="btn-closenoty"></a>
           <h5>{{"THEME_CUSTOMIZER" | translate}}</h5>
       </div>
       <div class="notp-content">
           <div class="notp-innercontent">
               <div class="notp-nodatafound">
                <div class="col-12">
                  <h5>{{"NAVIGATION" | translate}}</h5>
                    <div>
                       <label class="ux-selection2">{{"VERTICAL" | translate}}
                           <input type="radio" checked="checked" name="radioboxdemo">
                           <span class="checkmark"></span>
                       </label>
                       <label class="ux-selection2">{{"HORIZONTAL" | translate}}
                           <input type="radio" name="radioboxdemo">
                           <span class="checkmark"></span>
                       </label>
                   </div>
              <div class="vspacer20"></div>
                 <h5>{{"THEME_COLOR" | translate}}</h5>
                   <div class="row1 mb-1">
                       <div class="col-12">
                           <ul class="theme-list">
                               <li class="blue"></li>
                               <li class="green"></li>
                           </ul>
                       </div>
                   </div>
                  </div>
                 </div>
            <div class="vspacer20"></div>
            <div class="vspacer20"></div>
          <div class="row1">
              <div class="col-12 col-xl-12 col-lg-12 col-md-12 ">
                   <div class="ux-footer">
                      <button class="ux-button sm primary float-right">{{"SUBMIT" | translate}}</button>
                   </div>
                </div>
             </div>

             </div>
           </div>
       <!-- <div class="notp-footer">
           <p>Test</p>
       </div>  -->
       <!-- <div class="page-tools">
           <div class="lst-page-tools">
                 <a href="#" class="rightpannel">
                     <img src="assets/images/svg/adjust.svg" alt="adjust-icon">
                   </a>
            </div>
        </div> -->
   </aside>
   <div class="notpanel-overlay"></div>
