

    <div class="prelogin-page">
  
        <div class="full-container full">
            <div class="login-container">
                <div class="central-box">

              <!-- Banner Container Start -->
                    <div class="banner-container">
                        <div class="left-image">
                            <img src="./assets/images/background/login_image.png" alt="login image">
                        </div>
                        <div class="left-content">
                            <h5>{{"IMP_SECURITY_INFO" | translate }}</h5>
                            <div class="vspacer10"></div>
                            <p>
                                {{"BEST_VIEW_IN_IE" | translate }}<br />
                                {{"YOUR_LOGIN_PWD" | translate }}<br />
                                {{"ACCESS_TO_DATA" | translate }}
                            </p>
                            <div class="vspacer10"></div>
                            <button role="button"
                                class="ux-button sm primary ml-0">{{"SEQ_TIPS" | translate }}</button>
                        </div>
                        
                    </div>
              <!-- Banner Container End -->

                 <!-- Loginform Container Start -->
                    <div class="loginform-container">
                       <div class="login-form">
                                <!-- <div class="vspacer10"></div> -->
                            <div class="login-heading">
                                    <div class="brand-logo">
                                        <img src="./assets/images/logo/logo1.png" alt="kiya-logo">  
                                    </div>
                                    <div class="vspacer40"></div>
                                    <div class="vspacer5"></div>
                                     <h3> {{mobNumber}} </h3>
                                     <h5>Above Mobile Number is already registered<br/>
                                    
                                    </h5>
                                </div>
                       
                             <div class="vspacer40"></div>
                                 <div class="row1"> 
                                  <div Class="col-12">
                                      <div class="ux-input">
                                            
                                            <h4 for="otp">Please Register using Different mobile number Or get in touch with us.</h4>
                                          </div>
                                     </div>
                                    </div>
                           
                               <div class="vspacer20"></div>
                                       <div class="row1">
                                          
                                       <div Class="col-6">
                                        <div class="formfooter">
                                            <button (click)="routeTo('/login')"  class="ux-button sm primary d-block w-100 m-0">Ok</button>
                                        </div>
                                    </div>
                                </div>
                  
                          <div class="vspacer40"></div>  
                          <div class="vspacer40"></div>
                          <div class="vspacer40"></div>
                      </div>
                      <app-footer-mobile></app-footer-mobile>
               
           <!-- Loginform Container End -->
               </div>
              
            </div>
            
         </div>
        <!-- .full-container -->
        
    </div>