<div class="main">



    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="col-sm-12 col-12 col-md-12">

                                        <div class="white-bg1 pad-custom">
                                            <ul class="payment-list">
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-8 col-md-8">
                                                                <div class="left-info">
                                                                    <h5>Money Sent</h5>
                                                                    <h6>To : MSEDCL</h6>
                                                                    <div class="rupee-info">
                                                                        <span class="red1">
                                                                            <img src="assets/images/svg/rupee-r.svg"
                                                                                alt="rupees-icon">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <div class="right-info">
                                                                    <h5> <img src="assets/images/svg/rupee-bl.svg"
                                                                            alt="rupees-icon"> 1200.<span>00</span></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-8 col-md-8">
                                                                <div class="left-info1">
                                                                    <em>05 Aug 2020 12:18</em>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <div class="right-info">
                                                                    <em>Successful <img
                                                                            src="assets/images/svg/success-circle.svg"
                                                                            alt="success-icon" class="img-small"> </em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-8 col-md-8">
                                                                <div class="left-info">
                                                                    <h5>Money Sent</h5>
                                                                    <h6>To : MSEDCL</h6>
                                                                    <div class="rupee-info">
                                                                        <span class="red1">
                                                                            <img src="assets/images/svg/rupee-r.svg"
                                                                                alt="rupees-icon">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <div class="right-info">
                                                                    <h5> <img src="assets/images/svg/rupee-bl.svg"
                                                                            alt="rupees-icon"> 1800.<span>00</span></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-8 col-md-8">
                                                                <div class="left-info1">
                                                                    <em>05 July 2020 10:10</em>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <div class="right-info">
                                                                    <em>Successful <img
                                                                            src="assets/images/svg/success-circle.svg"
                                                                            alt="success-icon" class="img-small"> </em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-8 col-md-8">
                                                                <div class="left-info">
                                                                    <h5>Money Sent</h5>
                                                                    <h6>To : MSEDCL</h6>
                                                                    <div class="rupee-info">
                                                                        <span class="red1">
                                                                            <img src="assets/images/svg/rupee-r.svg"
                                                                                alt="rupees-icon">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <div class="right-info">
                                                                    <h5> <img src="assets/images/svg/rupee-bl.svg"
                                                                            alt="rupees-icon"> 1600.<span>00</span></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-8 col-md-8">
                                                                <div class="left-info1">
                                                                    <em>05 June 2020 10:10</em>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <div class="right-info">
                                                                    <em>Successful <img
                                                                            src="assets/images/svg/success-circle.svg"
                                                                            alt="success-icon" class="img-small"> </em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-8 col-md-8">
                                                                <div class="left-info">
                                                                    <h5>Money Sent</h5>
                                                                    <h6>To : MSEDCL</h6>
                                                                    <div class="rupee-info">
                                                                        <span class="red1">
                                                                            <img src="assets/images/svg/rupee-r.svg"
                                                                                alt="rupees-icon">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <div class="right-info">
                                                                    <h5> <img src="assets/images/svg/rupee-bl.svg"
                                                                            alt="rupees-icon"> 800.<span>00</span></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="full-container">
                                                        <div class="row1">
                                                            <div class="col-8 col-md-8">
                                                                <div class="left-info1">
                                                                    <em>05 June 2020 10:10</em>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <div class="right-info">
                                                                    <em>Successful <img
                                                                            src="assets/images/svg/success-circle.svg"
                                                                            alt="success-icon" class="img-small"> </em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </div>
    </div>

</div> -->
            <!-- footer section start -->

            <div class="footer-container sticky-actions ">
				<div class="footer-inactions minus-rt-col">
					<div class="container-fluid">
						<div class="row">
						   <div class="col-12 col-md-12 col-lg-12 text-center">
								<button  class="ux-button primary sm2 filter-btn b-overflow"> 
										<img src="assets/images/svg/filter.svg" alt="filter-icon"> 
										filter
										<span class=""></span>
									</button>
							</div>
					    </div> 
					</div> 
				</div> 
			</div> 
			<div class="sticky-actions-spacer"></div>

            <!-- footer section end -->

        </div>
    </div>

</div>

<!-- main -->

<!-- =========== modal popup start ===============  -->


<!-- Filter Popup Start -->

<div class="popup-bottom filter1">
    <div class="row1">
        <div class="col-10">
            <h4>Filter</h4>
        </div>
        <div class="col-2">
            <button class="ux-button-icon">
                <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall">
            </button>
        </div>
    </div>
    <div class="row1 mt-2">
        <div class="col-12">
            <div class="ux-input pb-0">
                <label>Search by</label>
            </div>
        </div>
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row1">
                <div class="col-7 col-md-7">
                    <div class="ux-selection mar-custom">
                        <label class="ux-selection2">Transaction Number
                            <input type="radio" checked="checked" value="transaction" name="search1">
                            <span class="checkmark"></span>
                        </label>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-5 col-md-5">
                    <div class="ux-selection mar-custom">
                        <label class="ux-selection2">Duration
                            <input type="radio" value="duration" name="search1">
                            <span class="checkmark"></span>
                        </label>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="transaction1">
                <div class="row1 mt-3">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="ux-input">
                            <label for="transactionNumber">Transaction Number</label>
                            <input type="text" placeholder="" required>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
                <div class="row1 mt-2">
                    <div class="col-6 text-center">
                        <button class="ux-button secondary no md close-btn">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="ux-button primary md" (click)="goToPage('paymentHistorySuccess')">Apply</button>
                    </div>
                </div>
            </div>
            <div id="duration1" style="display:none;">
                <div class="row1 mt-3">
                    <div class="col-sm-6 col-6 col-md-6">
                        <div class="ux-input">
                            <label>Start Date</label>
                            <input type="text" class="datepicker1" placeholder="DD/MM/YYYY">
                            <em class="calendar-ic cal-top"></em>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-6 col-md-6">
                        <div class="ux-input">
                            <label>End Date</label>
                            <input type="text" class="datepicker1" placeholder="DD/MM/YYYY">
                            <em class="calendar-ic cal-top"></em>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
                <div class="row1 mt-2">
                    <div class="col-6 text-center">
                        <button class="ux-button secondary no md close-btn">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="duration-filter ux-button primary md">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--  Filter Popup End -->

<!-- <div class="ios-nav-overlay"></div> -->