<div class="main bg-m">
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad manage-payee">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<div class="breadcrumb">
								<ul class="lst-breadcrumb">
									<li *ngFor="let name of DataService.breadcrumblist">
										<a (click)="DataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
								  </li>
								</ul>
							</div>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="row1 hide-m">
											<div class="col-md-8 col-12">
												<h4>Receipt</h4> </div>
											<div class="col-md-4 col-12"> </div>
										</div>
										<div class="row1">
											<div class="col-sm-12 col-12 col-md-12">
												<div class="white-box2 mar-t pad-custom custom-bor">
													<div class="row">
														<div class="success">
															<h5 class="pl-0" [ngClass]="{'success': receiptType === constant.val_Successful, 'error' : receiptType != constant.val_Successful }"><img [src]="receiptType == constant.val_Successful ? 'assets/images/svg/success-arrow.svg' :  'assets/images/svg/fail.svg'" alt="success-icon"> {{receiptType}}</h5>
                              <small>{{ receiptMsg }}</small>
															<!-- <h4 class="pl-0" [ngClass]="{'success': receiptType === constant.val_Successful, 'error' : receiptType != constant.val_Successful }"><img src="assets/images/svg/rupee2.svg" alt="rupees-icon">{{receiptResp.premiumAmount | customcurrency}}</h4> <small class="mar-t bold">Policy Number 197247128930</small> -->
                              <small class="mt-3">
                                <span>
                                  Transaction ID {{receipdRefID}}
                                </span>
															</small>
                            </div>
													</div>
													<div class="bg-img"> <img src="assets/images/svg/success-bg.svg" alt="success-bg" /> </div>
												</div>
											</div>
											<div class="col-12"> </div>
											<div class="col-sm-12 col-12 col-md-12">
												<div class="result-container1 mar-top">
											        <div class="info-bottom pad-custom">
														<div class="info-details mt-3">
															<div class="row">
																<h6>Scheme</h6>
																<h5>{{receiptResp.scheme}}</h5>
															</div>
														</div>
														<div class="info-details">
															<div class="row">
																<h6>Name </h6>
																<h5>{{receiptResp.name}}</h5>
															</div>
														</div>
														<div class="info-details">
															<div class="row">
																<h6>Date of Birth</h6>
																<h5>{{receiptResp.dob}}</h5>
															</div>
														</div>
														<div class="info-details">
															<div class="row">
																<h6>Nominee Name</h6>
																<h5>{{receiptResp.nomineeName}}</h5>
															</div>
														</div>
														<div class="info-details">
															<div class="row">
																<h6> Debit Account </h6>
																<h5>{{receiptResp.debitAccount}}</h5>
															</div>
														</div>
														<div class="info-details">
															<div class="row">
																<h6>Premium Amount </h6>
																<h5>{{receiptResp.premiumAmount | customcurrency}}</h5>
															</div>
														</div>
														<div class="info-details">
															<div class="row">
																<h6> Date of Enrollment </h6>
																<h5>{{receiptResp.dateOfEnrollment}}</h5>
															</div>
														</div>
														<!-- <div class="info-details">
															<div class="row">
																<h6>Maturity Date </h6>
																<h5>{{receiptResp.scheme}}</h5>
															</div>
														</div> -->

													</div>

												</div>
											</div>
											<div class="col-12 col-md-12">
												<div class="row1">
													<div class="col-md-12 col-lg-6 col-12">
														<ul class="link-list hide-m">
															<li (click)="shareDetails()">
																<a><img src="assets/images/svg/share.svg" alt="share-icon">Share</a>
															</li>
															<li (click)="downloadPdfReceipt('N')">
																<a><img src="assets/images/svg/download.svg" alt="download-icon">Download</a>
															</li>
															<li (click)="downloadPdfReceipt('Y')">
																<a> <img src="assets/images/svg/print.svg" alt="print-icon">Print</a>
															</li>
														</ul>
													</div>
													<div class="col-md-12 col-lg-6 col-12">
														<ul class="bottom-footer1">
															<li>
																<div class="btn-div">
																	<button class=" ux-button primary sm-mob" (click)="onHomeClick()">Back to Home</button>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Greencard2 End here -->
								</div>
								<!-- Right Column Ads Start -->
								<div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-xl-block">
									<div class="right-ads">
										<a> <img src="assets/images/banner/my-card-banner.jpg"> </a>
									</div>
									<div class="vspacer30"></div>
								</div>
								<!-- Right Column Ads Ends -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->
