	<div class="main bg-m">
	<div class="nav-overlay"></div>
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<div class="breadcrumb">
								<ul class="lst-breadcrumb">
									<li *ngFor="let name of DataService.breadcrumblist">
										<a (click)="DataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
								</li>
								</ul>
							</div>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<!-- Greencard2 Start here -->
									<div class="greencard2 mycard">
										<div class="info-box">
											<div class="flex-container no-bg">
												<div class="full-info">
													<div class="ac-info hide-m">
														<h4 class="white-c mt-2">Transaction For</h4> </div>
													<div class="ac-info" (click)="onAccountSelectType()">
														<div class="greenbg-input ux-input">
															<select required="" class="hide-m" (change)="onFromAccountSelect($event.target.value)">
																<!-- <option value="select">Select</option> -->
                                								<option *ngFor="let account of formAccList" [value]="account.accountNo" [selected]="account.accountNo == selectedAccount" >{{account?.SchemeCode}} {{account.sbAccount}} </option>
																<!-- <option value="saving">Saving Account XXX XXX 9897</option> -->
															</select>
															<!-- <div class="custom-selectbox">
																<span *ngIf="accountValue != '' ">{{accountValue}}</span>
																<span class="right-arrow"></span>
															</div> -->

															<div class="custom-selectbox">  <span *ngIf="accountValue != '' ">{{accountValue}}</span> <span class="right-arrow"></span> </div>
															<p class="error-message"></p>
														</div>
													</div>
													<div class="ac-info">
														<div class="greenbg-input ux-input">
															<p class="info-message2"><i class="hide-d">Total Available Balance</i> <span>{{accBalance | customcurrency: "symbol"}}</span></p>
														</div>
													</div>
													<div class="ac-info hide-m">
														<button class="refresh-btn" (click)="getAccountBalance(selectedAccount)"><img src="assets/images/svg/refresh.svg" alt="refresh-icon"></button> <span class="refresh-text"> Last refreshed on {{refreshedTime}}</span> </div>
												</div>
											</div>
										</div>
										<div class="row1">
											<div class="col-12 col-sm-12 col-md-12 col-lg-12">
												<div class="ux-nav-tabs" style="margin:0">
													<div class="responsive3">
														<ul class="nav nav-tabs custom-tabs bor-n" role="tablist">
															<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#scheduled"  (click)="onTransactionTabChange('scheduled')">Scheduled</a> </li>
															<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#completed"  (click)="onTransactionTabChange('completed')">Completed</a> </li>
															<!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#imps">IMPS</a> </li> -->
														</ul>
														<!-- Tab panes -->
														<div class="tab-content custom-tab-content pad-n">
															<div id="scheduled" class=" tab-pane active">
																<div class="row1">
																	<div class="col-sm-12 col-12 col-md-12">
																		<div class="widget-box5 custom-bg">
																			<div class="component-title6 custom-pad">
																				<div class="row1">
																					<div class="col-12 col-md-4 col-lg-4 col-xl-4">
																						<h4 class="default-grey">Scheduled Transactions</h4> </div>
																					<div class="col-12 col-md-8 col-lg-8 col-xl-8">
																						<div class="row1">
																							<div class="col-12 col-md-7 hide-m text-right">
																								<ul class="link-list3 hide-m">
																									<li style="visibility: hidden;">
																										<a><img src="assets/images/svg/email.svg" alt="email-icon">Sent Over Mail</a>
																									</li>
																									<li style="visibility: hidden;">
																										<a><img src="assets/images/svg/download.svg" alt="download-icon">Download</a>
																									</li>
																									<li style="visibility: hidden;">
																										<a> <img src="assets/images/svg/print.svg" alt="print-icon">Print</a>
																									</li>
																								</ul>
																							</div>
																							<div class="col-12 col-md-5">
																								<div class="search-input ux-input  mt-0 mb-0">
																									<!-- <input type="text" name="search" placeholder="Search here" required=""> <em class="show-searchicon"></em> -->
                                                  <input type="text" [(ngModel)]="searchText" (ngModelChange)="searchAccount($event)"  name="search" placeholder="Search here" > <em class="show-searchicon"></em>
																									<p class="error-message"></p>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="grey-container">
																				<div class="row1">
																					<div class="col-6 col-md-6 text-left">
																						<button class="ux-linkbutton link-text primary"> <img src="assets/images/svg/email.svg" alt="email-icon"> Sent Over Mail</button>
																					</div>
																					<div class="col-6 col-md-6 text-right">
																						<button class="ux-linkbutton link-text primary"> <img src="assets/images/svg/download.svg" alt="download-icon"> Download</button>
																					</div>
																				</div>
																			</div>
																			<div class="bg-white1 pt-0">
																				<div class="row">
																					<ul class="transaction-grid">
																						<li class="grey-th">
																							<div class="grid-info">
																								<div class="full-info">
																									<h6>Account Name</h6> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6>Account Number</h6> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6>Due on</h6> </div>
																							</div>
																							<!-- <div class="grid-info">
																								<div class="full-info">
																									<h6>Remarks</h6> </div>
																							</div> -->
																							<div class="grid-info">
																								<div class="full-info">
																									<h6>Installment</h6> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6>Frequency</h6> </div>
																							</div>

																							<div class="grid-info">
																								<div class="full-info">
																									<h6>Transaction Reference</h6> </div>
																							</div>

																							<div class="grid-info">
																								<div class="full-info">
																									<h6>Sent</h6> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6>Status</h6> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info"> </div>
																							</div>
																						</li>
																						<li  *ngFor="let sortdata of sortedList | paginate:config1, let i= index">
																							<div class="grid-info">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>{{sortdata.benefName}}</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>{{sortdata.toAccountNo}}</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Due on</h6>
																									<h5>{{sortdata.paymentEndDate}}</h5> </div>
																							</div>
																							<!-- <div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>Remark</h5> </div>
																							</div> -->
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>{{sortdata.emiExecuted}}</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>{{sortdata.paymentFreqType}}</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Reference</h6>
																									<h5>{{sortdata.ID}}</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon">{{sortdata.emiAmount}}</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="pending-text"><img src="assets/images/svg/pending1.svg" alt="pending-icon" *ngIf="sortdata.statusId === 'ACTIVE'"> Pending</span></h5> </div>
																							</div>
																							<!-- <div class="grid-info">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div> -->
																						</li>
																						<!-- <li>
																							<div class="grid-info">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>Mahendra Kadam</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>8494 2348 7263</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Due on</h6>
																									<h5>01/06/2021</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>Food Bazaar - shopping</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>2/6</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>Monthly</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 9,000.00</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="pending-text"><img src="assets/images/svg/pending1.svg" alt="pending-icon"> Pending</span></h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div>
																						</li>
																						<li>
																							<div class="grid-info">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>Sachin Kadam</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>8494 2348 7263</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Due on</h6>
																									<h5>01/06/2021</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>Food Bazaar - shopping</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>2/6</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>Monthly</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 9,000.00</h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="pending-text"><img src="assets/images/svg/pending1.svg" alt="pending-icon"> Pending</span></h5> </div>
																							</div>
																							<div class="grid-info">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div>
																						</li> -->
																						<li>
                                          <div class="col-12">
                                          <div class="row mt-3 mb-2">
                                            <div class="col-12 col-lg-6 col-md-6 col-sm-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block">
                                              <div id="dt-sample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                <div class="dataTables_info pt-2" id="dt-sample_info" role="status" aria-live="polite">Showing 1 to {{this.sortedList.length}} of <b>{{this.config1.itemsPerPage}}</b> entries</div>
                                              </div>
                                            </div>
                                            <div class="col-12 col-lg-6 col-md-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block text-right">
                                            <div class="pagination-container pull-right" *ngIf="this.sortedList.length > 10">
                                              <pagination-controls id="basicPaginate1" (pageChange)="pageChanged1($event)" class="my-pagination"></pagination-controls>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
																							<!-- <div class="col-12">
																								<div class="row  mt-3 mb-2">
																									<div class="col-12 col-lg-6 col-md-6 col-sm-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block">
																										<div id="dt-sample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
																											<div class="dataTables_info pt-2" id="dt-sample_info" role="status" aria-live="polite">Showing 1 to 2 of <b>2</b> entries</div>
																										</div>
																									</div>
																									<div class="col-12 col-lg-6 col-md-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block text-right">
																										<div class="custom-paging">
																											<div class="dataTables_wrapper">
																												<div class="dataTables_paginate">
																													<ul class="pagination">
																														<li class="page-item previous disabled"> <a href="javascript:;" class="page-link">Previous</a> </li>
																														<li class="page-item active"> <a href="javascript:;" class="page-link">1</a> </li>
																														<li class="page-item"> <a href="javascript:;" class="page-link">2</a> </li>
																														<li class="page-item next"> <a href="javascript:;" class="page-link">Next</a> </li>
																													</ul>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div> -->
																						</li>
                                            <li *ngIf="scheduledTransactionList.length == 0">
                                              <h5 class="text-center" >No Records Found</h5>
                                            </li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div id="completed" class="tab-pane fade">
																<div class="row1">
																	<div class="col-sm-12 col-12 col-md-12">
																		<div class="widget-box5 custom-bg">
																			<div class="component-title6 custom-pad">
																				<div class="row1">
																					<div class="col-12 col-md-4 col-lg-4 col-xl-4">
																						<h4 class="default-grey">Completed Transactions</h4> </div>
																					<div class="col-12 col-md-8 col-lg-8 col-xl-8">
																						<div class="row1">
																							<div class="col-12 col-md-7 hide-m text-right">
																								<!-- <ul class="link-list3 hide-m">
																									<li>
																										<a><img src="assets/images/svg/email.svg" alt="email-icon">Sent Over Mail</a>
																									</li>
																									<li>
																										<a><img src="assets/images/svg/download.svg" alt="download-icon">Download</a>
																									</li>
																									<li>
																										<a> <img src="assets/images/svg/print.svg" alt="print-icon">Print</a>
																									</li>
																								</ul> -->
																							</div>
																							<div class="col-12 col-md-5">
																								<div class="search-input ux-input  mt-0 mb-0">
																									<input type="text" name="search" placeholder="Search here" required=""> <em class="show-searchicon"></em>
																									<p class="error-message"></p>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="grey-container">
																				<div class="row1">
																					<div class="col-6 col-md-6 text-left">
																						<button class="ux-linkbutton link-text primary"> <img src="assets/images/svg/email.svg" alt="email-icon"> Sent Over Mail</button>
																					</div>
																					<div class="col-6 col-md-6 text-right">
																						<button class="ux-linkbutton link-text primary"> <img src="assets/images/svg/download.svg" alt="download-icon"> Download</button>
																					</div>
																				</div>
																			</div>
																			<div class="bg-white1 pt-0">
																				<div class="row">
																					<ul class="transaction-grid">
																						<li class="grey-th">
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Account Name</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Account Number</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Transaction Date</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Remarks</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Installment</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Frequency</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Transaction Reference</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Sent</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Status</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info"> </div>
																							</div>
																						</li>
																						<li  *ngFor="let completedData of completedTransactionList | paginate:config1, let i= index">
																							<div class="grid-info2">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>{{completedData.benefName}}</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>{{completedData.fromAccNumber}}</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Date</h6>
																									<h5>{{completedData.paymentStartDate}}</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>{{completedData.remarks}}</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>{{completedData.emiExecuted}}</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>{{completedData.paymentFrequency}}</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Reference</h6>
																									<h5>{{completedData.ID}}</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon">{{completedData.emiAmount}}</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="success-text"><img src="assets/images/svg/success-circle.svg" alt="success-icon" *ngIf="completedData.statusId === 'ACTIVE'"> Success</span></h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div>
																						</li>
																						<!-- <li>
																							<div class="grid-info2">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>Mahendra Kadam</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>8494 2348 7263</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Date</h6>
																									<h5>01/06/2021</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>Food Bazaar - shopping</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>2/6</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>Monthly</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Reference</h6>
																									<h5>#9506939201</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 9,000.00</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="failed-text"><img src="assets/images/svg/declined.svg" alt="reject-icon"> Failed</span></h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div>
																						</li>
																						<li>
																							<div class="grid-info2">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>Ashmita Gosavi</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>7789 8348 5463</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Date</h6>
																									<h5>01/06/2021</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>Food Bazaar - shopping</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>1/5</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>Monthly</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Reference</h6>
																									<h5>#9506939201</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 2,000.00</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="success-text"><img src="assets/images/svg/success-circle.svg" alt="success-icon">Success</span></h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div>
																						</li> -->
																						<li>
                                              <div class="col-12">
                                                <div class="row mt-3 mb-2">
                                                  <div class="col-12 col-lg-6 col-md-6 col-sm-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block">
                                                    <div id="dt-sample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                      <div class="dataTables_info pt-2" id="dt-sample_info" role="status" aria-live="polite">Showing 1 to {{this.sortedList.length}} of <b>{{this.config2.itemsPerPage}}</b> entries</div>
                                                    </div>
                                                  </div>
                                                  <div class="col-12 col-lg-6 col-md-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block text-right">
                                                  <div class="pagination-container pull-right" *ngIf="this.sortedList.length > 10">
                                                    <pagination-controls id="basicPaginate2" (pageChange)="pageChanged2($event)" class="my-pagination"></pagination-controls>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
																							<!-- <div class="col-12">
																								<div class="row  mt-3 mb-2">
																									<div class="col-12 col-lg-6 col-md-6 col-sm-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block">
																										<div id="dt-sample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
																											<div class="dataTables_info pt-2" id="dt-sample_info" role="status" aria-live="polite">Showing 1 to 2 of <b>2</b> entries</div>
																										</div>
																									</div>
																									<div class="col-12 col-lg-6 col-md-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block text-right">
																										<div class="custom-paging">
																											<div class="dataTables_wrapper">
																												<div class="dataTables_paginate">
																													<ul class="pagination">
																														<li class="page-item previous disabled"> <a href="javascript:;" class="page-link">Previous</a> </li>
																														<li class="page-item active"> <a href="javascript:;" class="page-link">1</a> </li>
																														<li class="page-item"> <a href="javascript:;" class="page-link">2</a> </li>
																														<li class="page-item next"> <a href="javascript:;" class="page-link">Next</a> </li>
																													</ul>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div> -->
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div id="imps" class="tab-pane fade">
																<div class="row1">
																	<div class="col-sm-12 col-12 col-md-12">
																		<div class="widget-box5 custom-bg">
																			<div class="component-title6 custom-pad">
																				<div class="row1">
																					<div class="col-12 col-md-4 col-lg-4 col-xl-4">
																						<h4 class="default-grey">IMPS Transactions</h4> </div>
																					<div class="col-12 col-md-8 col-lg-8 col-xl-8">
																						<div class="row1">
																							<div class="col-12 col-md-7 hide-m text-right">
																								<ul class="link-list3 hide-m">
																									<li>
																										<a><img src="assets/images/svg/email.svg" alt="email-icon">Sent Over Mail</a>
																									</li>
																									<li>
																										<a><img src="assets/images/svg/download.svg" alt="download-icon">Download</a>
																									</li>
																									<li>
																										<a> <img src="assets/images/svg/print.svg" alt="print-icon">Print</a>
																									</li>
																								</ul>
																							</div>
																							<div class="col-12 col-md-5">
																								<div class="search-input ux-input  mt-0 mb-0">
																									<input type="text" name="search" placeholder="Search here" required=""> <em class="show-searchicon"></em>
																									<p class="error-message"></p>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="grey-container">
																				<div class="row1">
																					<div class="col-6 col-md-6 text-left">
																						<button class="ux-linkbutton link-text primary"> <img src="assets/images/svg/email.svg" alt="email-icon"> Sent Over Mail</button>
																					</div>
																					<div class="col-6 col-md-6 text-right">
																						<button class="ux-linkbutton link-text primary"> <img src="assets/images/svg/download.svg" alt="download-icon"> Download</button>
																					</div>
																				</div>
																			</div>
																			<div class="bg-white1 pt-0">
																				<div class="row">
																					<ul class="transaction-grid">
																						<li class="grey-th">
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Account Name</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Account Number</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Transaction Date</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Remarks</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Installment</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Frequency</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Transaction Reference</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Sent</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6>Status</h6> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info"> </div>
																							</div>
																						</li>
																						<li>
																							<div class="grid-info2">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>Ashmita Gosavi</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>7789 8348 5463</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Date</h6>
																									<h5>01/06/2021</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>Food Bazaar - shopping</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>1/5</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>Monthly</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Reference</h6>
																									<h5>#9506939201</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 2,000.00</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="success-text"><img src="assets/images/svg/success-circle.svg" alt="success-icon"> Success</span></h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div>
																						</li>
																						<li>
																							<div class="grid-info2">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>Mahendra Kadam</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>8494 2348 7263</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Date</h6>
																									<h5>01/06/2021</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>Food Bazaar - shopping</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>2/6</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>Monthly</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Reference</h6>
																									<h5>#9506939201</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 9,000.00</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="failed-text"><img src="assets/images/svg/declined.svg" alt="reject-icon"> Failed</span></h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div>
																						</li>
																						<li>
																							<div class="grid-info2">
																								<div class="full-info">
																									<div class="left-info">
																										<h5>Ashmita Gosavi</h5> </div> <em></em> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Account Number</h6>
																									<h5>7789 8348 5463</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Date</h6>
																									<h5>01/06/2021</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Remarks</h6>
																									<h5>Food Bazaar - shopping</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Installment</h6>
																									<h5>1/5</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Frequency</h6>
																									<h5>Monthly</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Transaction Reference</h6>
																									<h5>#9506939201</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Sent</h6>
																									<h5><img src="assets/images/svg/rupee-bl.svg" alt="rupees-icon"> 2,000.00</h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info">
																									<h6 class="display-mt">Status</h6>
																									<h5><span class="success-text"><img src="assets/images/svg/success-circle.svg" alt="success-icon">Success</span></h5> </div>
																							</div>
																							<div class="grid-info2">
																								<div class="full-info text-right">
																									<button class="ux-button sm primary-custom md">View Details</button>
																								</div>
																							</div>
																						</li>
																						<li>
																							<div class="col-12">
																								<div class="row  mt-3 mb-2">
																									<div class="col-12 col-lg-6 col-md-6 col-sm-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block">
																										<div id="dt-sample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
																											<div class="dataTables_info pt-2" id="dt-sample_info" role="status" aria-live="polite">Showing 1 to 2 of <b>2</b> entries</div>
																										</div>
																									</div>
																									<div class="col-12 col-lg-6 col-md-6 px-0 d-none d-sm-none d-xl-block d-lg-block d-md-block text-right">
																										<div class="custom-paging">
																											<div class="dataTables_wrapper">
																												<div class="dataTables_paginate">
																													<ul class="pagination">
																														<li class="page-item previous disabled"> <a href="javascript:;" class="page-link">Previous</a> </li>
																														<li class="page-item active"> <a href="javascript:;" class="page-link">1</a> </li>
																														<li class="page-item"> <a href="javascript:;" class="page-link">2</a> </li>
																														<li class="page-item next"> <a href="javascript:;" class="page-link">Next</a> </li>
																													</ul>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Greencard2 End here -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>

<!-- Select Accounts Popup Start-->
<div class="popup-bottom sel-account">
	<div class="row1">
		<div class="col-10">
			<h4>Select From Account</h4> </div>
		<div class="col-2">
			<button class="ux-button-icon close-btn" (click)="closePopup()"> <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall"> </button>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<div class="row1">
				<div class="col-12 col-md-12" *ngFor="let item of formAccList; let i = index">
					<div class="ux-selection mar-custom">
						<label class="ux-selection2">{{item.accountDescription}} : {{item.accountNo}}
							<input type="radio"  [value]="item.accountNo" [checked]="selectedAccount == item?.accountNo ? true : false" [(ngModel)]="selectedAccount" [ngModelOptions]="{standalone: true}" name="upi-account"> <span class="checkmark"></span> </label>
					</div>
				</div>
				<!-- <div class="col-12 col-md-12">
					<div class="ux-selection mar-custom">
						<label class="ux-selection2">Saving Account: XXXX XXX 968
							<input type="radio" value=" XXXX XXX 968" name="upi-account"> <span class="checkmark"></span> </label>
					</div>
				</div>
				<div class="col-12 col-md-12">
					<div class="ux-selection mar-custom">
						<label class="ux-selection2">Saving Account: XXXX XXX 969
							<input type="radio" value=" XXXX XXX 969" name="upi-account"> <span class="checkmark"></span> </label>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 text-center">
			<button class="ux-button primary submit-btn2" (click)="accountSelect()">{{ 'SUBMIT' | translate }}</button>
		</div>
	</div>
</div>
<!-- Select Accounts Popup End-->
<div class="ios-nav-overlay"></div>
