<div class="main">


    <div class="right-main-column minus-rt-col mar-custom">
        <div class="right-col-container">

            <div class="body-page-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg-section">
                            <div class="col-12">
                                <div class="row1">
                                    <div class="col-sm-12 col-12 col-md-12">
                                        <div class="white-bg1 pad-custom">
                                            <ul class="payment-list">
                                                <li>
                                                    <a (click)="goToPage('raiseComplaintTransactionDurationSuccess')">
                                                        <div class="full-container">
                                                            <div class="row1">
                                                                <div class="col-8 col-md-8">
                                                                    <div class="left-info">
                                                                        <h5>Money Sent</h5>
                                                                        <h6>To : Mahanagar Gas</h6>
                                                                        <div class="rupee-info">
                                                                            <span class="red1">
                                                                                <img src="assets/images/svg/rupee-r.svg"
                                                                                    alt="rupees-icon">
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-md-4">
                                                                    <div class="right-info">
                                                                        <h5> <img
                                                                                src="assets/images/svg/rupee-bl.svg"
                                                                                alt="rupees-icon"> 1200.<span>00</span>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="full-container">
                                                            <div class="row1">
                                                                <div class="col-8 col-md-8">
                                                                    <div class="left-info1">
                                                                        <em>05 Aug 2020 12:18</em>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-md-4">
                                                                    <div class="right-info">
                                                                        <em>Successful <img
                                                                                src="assets/images/svg/success-circle.svg"
                                                                                alt="success-icon" class="img-small">
                                                                        </em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <div class="full-container">
                                                            <div class="row1">
                                                                <div class="col-8 col-md-8">
                                                                    <div class="left-info">
                                                                        <h5>Money Sent</h5>
                                                                        <h6>To : BSNL Mobile Prepaid</h6>
                                                                        <div class="rupee-info">
                                                                            <span class="red1">
                                                                                <img src="assets/images/svg/rupee-r.svg"
                                                                                    alt="rupees-icon">
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-md-4">
                                                                    <div class="right-info">
                                                                        <h5> <img
                                                                                src="assets/images/svg/rupee-bl.svg"
                                                                                alt="rupees-icon"> 976.<span>00</span>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="full-container">
                                                            <div class="row1">
                                                                <div class="col-8 col-md-8">
                                                                    <div class="left-info1">
                                                                        <em>20 July 2020 10:10</em>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-md-4">
                                                                    <div class="right-info">
                                                                        <em>Successful <img
                                                                                src="assets/images/svg/success-circle.svg"
                                                                                alt="success-icon" class="img-small">
                                                                        </em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <div class="full-container">
                                                            <div class="row1">
                                                                <div class="col-8 col-md-8">
                                                                    <div class="left-info">
                                                                        <h5>Money Sent</h5>
                                                                        <h6>To : Adani Electricity</h6>
                                                                        <div class="rupee-info">
                                                                            <span class="red1">
                                                                                <img src="assets/images/svg/rupee-r.svg"
                                                                                    alt="rupees-icon">
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-md-4">
                                                                    <div class="right-info">
                                                                        <h5> <img
                                                                                src="assets/images/svg/rupee-bl.svg"
                                                                                alt="rupees-icon"> 1500.<span>00</span>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="full-container">
                                                            <div class="row1">
                                                                <div class="col-8 col-md-8">
                                                                    <div class="left-info1">
                                                                        <em>12 June 2020 10:10</em>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-md-4">
                                                                    <div class="right-info">
                                                                        <em>Successful <img
                                                                                src="assets/images/svg/success-circle.svg"
                                                                                alt="success-icon" class="img-small">
                                                                        </em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>