
        <div  class="prelogin-page">

            <div class="registration-steps ">
                <div class="row1">
                    <div class="col-12 position-static">
                        <div class="inner-header">
                            <div class="registration-container">
                                <a class="prev-tab" (click)="goBack()"><img src="assets/images/svg/left-arrow.svg">Back to Login</a>
                                <h4>{{'ACCOUNT_OPENING' | translate }}</h4>
                                <a class="closewindow close-registration"><img src="assets/images/svg/close-w.svg" (click)=" goBack()"></a>
                            </div>
                        </div>
                        <div class="registrationsteps-block registration-container eq-pad ">
                            <div class="row1">
                                <div class="col-12">
                                    <div class="owl-carousel social-sec-scheme-owl"
                                        role="list">
                                        <div class="item" role="listitem">
                                            <div>
                                                <img src="assets/images/banner/AC-Opening.png"
                                                    alt="banner-img" />
                                            </div>
                                        </div>
                                        <div class="item" role="listitem">
                                            <div>
                                                <img src="assets/images/banner/AC-Opening.png"
                                                    alt="banner-img" />
                                            </div>
                                        </div>
                                        <div class="item" role="listitem">
                                            <div>
                                                <img src="assets/images/banner/AC-Opening.png"
                                                    alt="banner-img" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row1 text-center">
                                <div class="col-12 text-center mt-4">
                                    <button class="ux-button primary md" (click)="routeTo('/accountOpeningBasicDetails')">{{'OPEN_UR_ACC_NOW' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
        </div>
        <!-- .prelogin-page -->

 
        
