<form id="request-form" [formGroup]="requestMandateForm" (ngSubmit)="requestMandate()">
  <div class="main main-bg2">
    <div class="right-main-column mar-custom">
      <div class="right-col-container pad-b pb-0">
        <div class="body-page-container">
          <div class="vspacer5 d-sm-block d-none"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="bg-section2">
                <div class="col-12">
                  <div class="row1">
                    <div class="col-sm-5 col-8 col-md-3 m-auto">
                      <div class="ux-input white-input mar-tb">
                        <!-- Android Keyboard Start -->
                        <!-- <input type="tel" placeholder="₹ 0" autocomplete="off" formControlName="amount" limit-to="12" (blur)="formatCurrency($event.target.value)" id="amt" data-a-sign="Rs."> -->
                        <!-- Android Keyboard End -->
                        <!-- iOS Keyboard Start -->
                        <input type="text" inputmode="decimal" placeholder="₹ 0" autocomplete="off"
                          formControlName="amount" limit-to="12" (blur)="formatCurrency($event.target.value)" id="amt"
                          data-a-sign="Rs.">
                        <!-- iOS Keyboard End -->
                        <p class="text-center error-message"
                          *ngIf="requestMandateForm.controls['amount'].hasError('required')  && requestMandateForm.controls['amount'].touched">
                          {{ 'ENTER_AMOUNT_ERROR' | translate }}
                        </p>
                        <p class="text-center error-message"
                          *ngIf="requestMandateForm.controls['amount'].hasError('pattern')">
                          {{ 'ENTER_NUMBER_ERROR' | translate}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row1">
                    <div class="col-sm-5 col-5 col-md-3 m-auto">
                      <div class="ux-input dark-input mar-tb">
                        <input type="text" formControlName="remarks" autocomplete="off" limit-to="100"
                          placeholder="{{'REMARKS' | translate}}">
                        <p class="text-center error-message"
                          *ngIf="requestMandateForm.controls['remarks'].hasError('pattern')">
                          {{ 'ENTER_SPECIAL_CHARACTOR_ERROR' | translate}}</p>
                        <!-- <p class="text-center error-message"></p> -->
                      </div>
                    </div>
                  </div>


                  <!-- Info Bottom Container Start -->
                  <div class="info-bottom-container2">
                    <div class="row1">
                      <div class="col-sm-12 col-12 col-md-12 m-auto">
                        <!-- Deposit Start -->
                        <div class="bottom-info">
                          <div class="row1">
                            <div class="col-12">
                              <div class="payee-info">
                                <div class="info-lft">
                                  <span class="green1">
                                    <!-- <img src="assets/images/icons/user14.png" alt="user-img"> -->
                                    <h6>{{DataService.validateAddressResp.MASKNAME | firstLastChar}}</h6>

                                  </span>
                                </div>
                                <div class="info-rit">
                                  <h5>{{DataService.validateAddressResp.MASKNAME}}
                                  </h5>
                                  <h6>{{'UPI_ID' | translate }} : {{DataService.validateAddressResp.validatedVpa}}
                                  </h6>
                                  <!-- <em>9875142547</em> -->
                                  <span class="small-icons" *ngIf="isAmountLimitExceeded"
                                    (click)="openPopup('div.popup-bottom.information1')">
                                    <a class="info-btn"><img src="assets/images/svg/question.svg"
                                        alt="question-icon" /></a>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="bottom-info-inner">
                            <div class="row1">
                              <div class="col-6">
                                <div class="ux-input ">
                                  <label>{{'START_DATE' | translate}}</label>
                                  <input type="text" formControlName="startDate" class="datepicker1"
                                    placeholder="DD/MM/YYYY" id="datepickerStartDate" readonly
                                    (click)="openDatePicker('startDate')">
                                  <p class="error-message"
                                    *ngIf="requestMandateForm.controls['startDate'].hasError('required')">
                                    {{ 'ENTER_START_DATE' | translate }}
                                  </p>
                                  <em class="calendar-ic cal-top" (click)="openDatePicker('startDate')"></em>
                                  <p class="mb0"></p>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="ux-input">
                                  <label>{{'END_DATE' | translate}}</label>
                                  <input type="text" formControlName="endDate" class="datepicker1"
                                    placeholder="DD/MM/YYYY" id="datepickerEndDate" readonly
                                    (click)="openDatePicker('endDate')">
                                  <p class="error-message"
                                    *ngIf="requestMandateForm.controls['endDate'].hasError('required')">
                                    {{ 'ENTER_END_DATE' | translate }}
                                  </p>
                                  <em class="calendar-ic cal-top" (click)="openDatePicker('endDate')"></em>
                                  <p class="mb0"></p>
                                </div>
                              </div>
                            </div>
                            <div class="row1">
                              <!-- <div class="col-12">
                                <div class="ux-input ">
                                  <label for="frequency">{{'FREQUENCY' | translate}}</label>
                                  <select required="">
                                    <option value="">{{'SELECT' | translate}}</option>
                                    <option value="Monthly">Monthly</option>
                                  </select>
                                  <p class="mb0"></p>
                                </div>
                              </div> -->
                              <div class="col-12">
                                <div class="ux-input">
                                  <label for="frequency">{{'FREQUENCY' |
                                                                        translate}}</label>
                                  <select formControlName="frequency" (change)="onFrequencyChange($event.target.value)">
                                    <option value="">{{'SELECT' | translate}}
                                    </option>
                                    <option *ngFor="let frequency of upiFrequencyList" [value]="frequency.name">
                                      {{frequency.frequencyName | translate}}
                                    </option>
                                    <!-- <option value="One Time">One Time</option> -->
                                  </select>
                                  <p class="error-message"
                                    *ngIf="requestMandateForm.controls['frequency'].hasError('required')  && requestMandateForm.controls['frequency'].touched">
                                    {{ 'ENTER_FREQ_ERROR' | translate }}
                                  </p>
                                  <p class="mb0"></p>
                                </div>
                              </div>
                              <div class="col-12" *ngIf="DataService.requestMandateObj.showDebitDay">
                                <div class="ux-input">
                                  <label>{{'DEBIT_DAY' | translate}}</label>
                                </div>
                              </div>
                              <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                                *ngIf="DataService.requestMandateObj.showDebitDay">
                                <div class="row1">
                                  <div class="col-4 col-md-4" *ngFor="let debitDay of debitDayList">
                                    <div class="ux-selection mar-custom">
                                      <label class="ux-selection2">{{debitDay.debitName
                                                                                | translate}}
                                        <input type="radio" formControlName="debitDay" [value]="debitDay.value"
                                          name="debitDay">
                                        <span class="checkmark"></span>
                                      </label>
                                      <div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="divider-line"></div>
                            </div>
                            <div *ngIf="DataService.upiMandateVpaList.length > 0">
                              <div *ngFor="let vpaDetails of DataService.upiMandateVpaList"
                                [hidden]="!vpaDetails?.isSelected">
                                <div class="row1">
                                  <div class="col-12">
                                    <h4>{{'FROM_UPI_ID' | translate}}</h4>
                                  </div>
                                </div>
                                <div *ngIf="vpaDetails.isSelected">
                                  <div class="row1 mt-s" *ngFor="let accDetails of vpaDetails.accounts"
                                    [hidden]="!accDetails?.isSelected">
                                    <div class="col-12 col-md-12">
                                      <h5>{{'UPI_ID' | translate }} : {{vpaDetails.paymentAddress}}</h5>
                                      <h6>{{accDetails.accType}}
                                        {{accDetails.maskedAccountNumber}}</h6>
                                      <em>{{accDetails.bankName}}</em>
                                      <br />
                                      <!-- <em style="color: red;" *ngIf="accDetails.mbeba == 'N'">{{ 'UPI_PIN_IS_NOT_SET_FOR_THIS_ACCOUNT' | translate}}</em> -->
                                    </div>
                                    <div class="col-12 col-md-12 mt-1">
                                      <div>
                                        <a (click)="goToPage('mandateUpiIdList')" class="reg-txt">{{'CHANGE_AC' |
                                                                                    translate}}</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row1 mt-2">
                            <div class="col-12 text-center">
                              <button class="ux-button primary submit md"
                                [disabled]="requestMandateForm.invalid ||  mbebaFlag == 'N'"
                                type="submit">{{'PROCEED' | translate}}</button>
                            </div>
                          </div>

                          <!-- <div class="row1">
                              <div class="col-12 text-center mt-4">
                                <div class="powered-logo">
                                  <img src="assets/images/logo/powered-upi-logo.svg" alt="powered-upi-logo">
                                </div>
                              </div>
                            </div> -->
                        </div>
                        <!-- Deposit End -->

                      </div>
                    </div>
                  </div>
                  <!-- Info Bottom Container End -->

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- main -->

  <!-- Info Bottom Start -->
  <!-- <div class="info-section">
<div class="row1">
<div class="col-6 col-xl-6 col-lg-6 col-md-6">
<h6>Validity Set</h6>
<h6>04/05/2020, 10:00:00</h6>
</div>
<div class="col-6 col-xl-6 col-lg-6 col-md-6">
<a href="#" class="reg-txt">Edit Validity</a>
</div>
</div>
</div> -->
  <!-- Info Bottom End -->



  <!-- Information Popup Start -->

  <div class="popup-bottom information1">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center"> <img src="./assets/images/svg/information.svg"
            alt="information-icon">{{'INFORMATION' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="mb-0">
          <!-- You are creating a recurring mandate for amount more than Rs.2000 and it is necessary to provide authentication for every mandate execution in future, failing which mandate will not be executed. -->
          {{'MANDATE_AMOUNT_EXCEEDS_MSG' | translate}}
        </p>
      </div>
    </div>
    <div class="row1 mt-2">
      <div class="col-12 text-center">
        <button class="ux-button primary md" (click)="closePopup('div.popup-bottom.information1')">{{'OK' |
                    translate}}</button>
      </div>
    </div>
  </div>

  <!-- Information Popup End -->

  <!-- Information Popup Start -->

  <div class="popup-bottom requestMandatePaymentInfo">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center"> <img src="./assets/images/svg/information.svg"
            alt="information-icon">{{'INFORMATION' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="mb-0">
          <!-- You are creating a recurring mandate for amount more than Rs.2000 and it is necessary to provide authentication for every mandate execution in future, failing which mandate will not be executed. -->
          {{'MANDATE_AMOUNT_EXCEEDS_MSG' | translate}}
        </p>
      </div>
    </div>
    <div class="row1 mt-2">
      <div class="col-12 text-center">
        <button class="ux-button primary md" (click)="goToPage('createMandateConfirmation')">{{'OK' |
                    translate}}</button>
      </div>
    </div>
  </div>

  <!-- Information Popup End -->

  <!-- Information Popup Start -->

  <div class="popup-bottom dayLimitValidation">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center"> <img src="./assets/images/svg/information.svg"
            alt="information-icon">{{'INFORMATION' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="mb-0">
          {{'DIFFERENCE_BETWEEN_START_END_DATE_MSG' | translate}} {{popupData}} {{'DAYS' | translate}}
        </p>
      </div>
    </div>
    <div class="row1 mt-2">
      <div class="col-12 text-center">
        <button class="ux-button primary md" (click)="closePopup('div.popup-bottom.dayLimitValidation')">{{'OK' |
                  translate}}</button>
      </div>
    </div>
  </div>

  <!-- Information Popup End -->

  <!-- <div class="ios-nav-overlay"></div> -->
