<div class="prelogin-page">
	<div class="registration-steps">
		<div class="row1">
			<div class="col-12 position-static">
				<div class="inner-header">
					<div class="registration-container">
						<!-- <a class="prev-tab"> <img src="assets/images/icons_old/cross-w.png" alt="cross-w"></a> -->
						<h4>More Services</h4>
						<a class="close-registration"><img (click)="closeService()" src="assets/images/svg/close-w.svg"></a>
					</div>
				</div>
				<div class="registrationsteps-block registration-container clearfix more-service mb-2">
					<div class="moreservice-container"> <img src="assets/images/icons/products_image.png">
						<div class="service-list">
							<ul>
								<!-- <li>
									<a> <img src="assets/images/svg/feedback.svg" alt="feedback-icon"> <em>Feedback</em> </a>
								</li> -->
								<li>
									<a target="_blank" href="https://imsva91-ctp.trendmicro.com:443/wis/clicktime/v1/query?url=https%3a%2f%2fpunjabandsindbank.co.in%2fcontent%2fccharter&umid=223C4AF9-CCD6-3005-B004-5FC46187CC68&auth=d0d3c7fa60851c0aee9af761ed28513a7881c254-5f403d625a5780afa8577927c3f91c4dd00adfef"> <img src="assets/images/svg/about-us.svg" alt="aboutus-icon"> <em>About us</em> </a>
								</li>
								<li>
									<a (click)="openTermsCondition()"> <img src="assets/images/svg/about-us.svg" alt="t&c-icon"> <em>Terms & Conditions</em> </a>
								</li>
								<li>
									<a  (click)="openLoanLeadpopup()"> <img src="assets/images/svg/about-us.svg" alt="cross-w"> <em>Products</em> </a>
								</li>
								<li>
									<a  (click)="comingSoon()"> <img src="assets/images/svg/refer-friend1.svg" alt="refer-icon"> <em>Refer a Friend</em> </a>
								</li>
								<!-- <li>
									<a> <img src="assets/images/svg/OFFERS.svg" alt="offer-icon"> <em>Offers</em> </a>
								</li>
								<li>
									<a> <img src="assets/images/svg/about-us.svg" alt="gift-icon"> <em>Gift Cards</em> </a>
								</li>
								<li>
									<a> <img src="assets/images/svg/mobile-recharge.svg" alt="recharge-icon"> <em>Recharge</em> </a>
								</li> -->
								<li>
									<a (click)="comingSoon()"> <img src="assets/images/svg/recharge-bill-pay.svg" alt="bbps-icon"> <em>BBPS</em> </a>
								</li>
							
								<li>
									<a (click)="comingSoon()"> <img src="assets/images/svg/about-us.svg" alt="do-icon"> <em> Secured Banking Guide</em> </a>
								</li>
								<li>
									<a target="_blank" href="https://imsva91-ctp.trendmicro.com:443/wis/clicktime/v1/query?url=https%3a%2f%2fpunjabandsindbank.co.in%2fcontent%2finterestdom&umid=223C4AF9-CCD6-3005-B004-5FC46187CC68&auth=d0d3c7fa60851c0aee9af761ed28513a7881c254-8fe44f0ac416edad56eebe4ddd2dbaf37c07da42"> <img src="assets/images/svg/about-us.svg" alt="interest-rare-icon"> <em>Interest Rates </em> </a>
								</li>
								<li>
									<a (click)="goto('reissueCard')"> <img src="assets/images/svg/block-reissue-card.svg" alt="block-icon"> <em>Block/ Unblock card</em> </a>
								</li>
								<li>
									<a  target="_blank"  href="https://imsva91-ctp.trendmicro.com:443/wis/clicktime/v1/query?url=https%3a%2f%2fpunjabandsindbank.co.in%2fcontent%2fe%2dkyc&umid=223C4AF9-CCD6-3005-B004-5FC46187CC68&auth=d0d3c7fa60851c0aee9af761ed28513a7881c254-e24a8c8f4558665c8e9535d445c6c49b62d4d3bf"> <img src="assets/images/svg/about-us.svg" alt="adhar-icon"> <em>Aadhaar Seeding </em> </a>
								</li>
								<li>
									<a  target="_blank" href="https://imsva91-ctp.trendmicro.com:443/wis/clicktime/v1/query?url=https%3a%2f%2fpunjabandsindbank.co.in%2fcontent%2fservmain07&umid=223C4AF9-CCD6-3005-B004-5FC46187CC68&auth=d0d3c7fa60851c0aee9af761ed28513a7881c254-b6cd39ab3c9651823d58fb964284bff47983a491"> <img src="assets/images/svg/about-us.svg" alt="service-icon"> <em>Service Charge List</em> </a>
								</li>
								<li>
									<a  target="_blank"  href="https://www.psbloansin59minutes.com/home"> <img src="assets/images/svg/about-us.svg" alt="loans-icon"> <em>Loans in Just 59 minutes</em> </a>
								</li>
								<li>
									<a (click)="goto('freezeAccount')" ><img src="assets/images/svg/about-us.svg" alt="media-c-icon"> <em>Freeze Account</em> </a>
								</li>
								<li>
									<a (click)="goto('donations')" ><img src="assets/images/svg/about-us.svg" alt="media-c-icon"> <em>Donation</em> </a>
								</li>
								<li>
									<a (click)="goto('sendMoney')" ><img src="assets/images/svg/about-us.svg" alt="media-c-icon"> <em>Send Money</em> </a>
								</li>
								<!-- <li>
									<a> <img src="assets/images/svg/about-us.svg" alt="media-c-icon"> <em>Media Center</em> </a>
								</li> -->

							</ul>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
	<!-- .full-container -->
</div>
<!-- .prelogin-page -->

<!-- .Loan Lead Popup -->
<div class="popup-bottom lg-popup loanLead">
	<div class="row1">
		<div class="col-10">
			<h4 class="text-left">Loan enquiry </h4> </div>
		<div class="col-2">
			<button class="ux-button-icon close-btn" (click)="closePopup()"> <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall"> </button>
		</div>
	</div>
	<div >
	<form [formGroup]="loanForm" (ngSubmit)="loanRequest()">
		<div class="row1 mt-2">
			<div class="col-4">
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}" >
					<label>{{"FULL_NAME" | translate}}</label>
					<input type="text" placeholder='{{"ENTER_FULL_NAME" | translate}}' formControlName="FullName"> 
					<p class="error-message" *ngIf="loanForm.controls['FullName'].touched && loanForm.controls['FullName'].hasError('required')">{{"PLEASE_ENTER_FULL_NAME" | translate }}</p>
					<p class="error-message" *ngIf="!loanForm.controls['FullName'].hasError('required') && loanForm.controls['FullName'].hasError('pattern')">{{"PLEASE_ENTER_VALID_NAME" | translate }}</p>
				</div>
				
			</div>
			<div class="col-4">
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}" >
					<label>{{"MOBILE_NUMBER" | translate}}</label>
					<input type="text" placeholder='{{"ENTER_MOBILE_NO" | translate}}' formControlName="mobNumber" numbersOnly limit-to="10"> 
					<p class="error-message" *ngIf="loanForm.controls['mobNumber'].touched && loanForm.controls['mobNumber'].hasError('required')">{{"PLEASE_ENTER_MOBILE_NO" | translate }}</p>
					<p class="error-message" *ngIf="!loanForm.controls['mobNumber'].hasError('required') && loanForm.controls['mobNumber'].hasError('pattern')">{{"PLEASE_ENTER_VALID_MOBILE_NO" | translate }}</p>
				</div>
				
			</div>
			
			<div class="col-4">
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}">
					<label>Date of Birth</label>
					<!-- <input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" readonly  formControlName="dob" (ngModelChange)="onDateChange($event)"> -->
					<input type="text" [owlDateTime]="dt1"  [owlDateTimeTrigger]="dt1" placeholder="Date of Birth" readonly  formControlName="DOB" [max]="todayDate">
					<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time><em class=" calendar-ic cal-top"></em>
					<em class=" calendar-ic cal-top"  [owlDateTimeTrigger]="dt1"></em>
					<span class="errormsg"
					*ngIf="loanForm.controls['DOB'].hasError('required')  && loanForm.controls['DOB'].touched">
					{{ 'ENTER_DATE_OF_BIRTH' | translate }}
				  </span>
				 </div>
			</div>
			<div class="col-4">
				<div class="ux-input " [ngClass]="{'ux-disabled': fromSubmitFlag}">
					<label>{{'EMAIL_ID' | translate }}</label>

					<input id="userEmail" type="text" placeholder='ENTER_EMAIL_ID'
						formControlName="EmailId" limit-to="100" >

						<span class="errormsg"
						*ngIf="loanForm.controls['EmailId'].hasError('required')  && loanForm.controls['EmailId'].touched">
						{{ 'ENTER_EMAIL_ID_ERROR' | translate }}
					  </span>
					  <span class="errormsg"
						*ngIf="loanForm.controls['EmailId'].hasError('pattern') && loanForm.controls['EmailId'].touched">
						{{ 'INVALID_EMAIL_ID' | translate }}
					  </span>

				</div>
			</div>
			<div class="col-4" >
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}">
					<label>Type</label>
					<select formControlName="LeadSector">
						<option *ngFor= "let list of loantype" [value]="list">{{list}}</option>
						
						
					</select>
					<p class="error-message" *ngIf="loanForm.controls['LeadSector'].touched && loanForm.controls['LeadSector'].hasError('required')">{{"REQUIRED" | translate }}</p>
				
				</div>
			</div>
			<div class="col-4" >
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}">
					<label>Category	</label>
					<select formControlName="LeadCategory">
						<option *ngFor= "let list2 of CategoryList" [value]="list2">{{list2}}</option>
		
					</select>
					<p class="error-message" *ngIf="loanForm.controls['LeadCategory'].touched && loanForm.controls['LeadCategory'].hasError('required')">{{"REQUIRED" | translate }}</p>
				
				</div>
			</div>
			<div class="col-4" >
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}">
					<label>Sub Category	</label>
					<select formControlName="LeadSubCategory">
						<option *ngFor= "let list2 of LeadSubCategory" [value]="list2">{{list2}}</option>
		
					</select>
					<p class="error-message" *ngIf="loanForm.controls['LeadSubCategory'].touched && loanForm.controls['LeadSubCategory'].hasError('required')">{{"REQUIRED" | translate }}</p>
				
				</div>
			</div>
			<div class="col-4">
				<div class="ux-input"  [ngClass]="{'ux-disabled': fromSubmitFlag}">
					<label>Are you an existing PSB customer?</label>
					<select formControlName="IsAccount" (change)="onTypeChange(loanForm.value.IsAccount)">
						<option  value="No">No</option>
						<option  value="Yes">Yes</option>
		
					</select>
					<p class="error-message" *ngIf="loanForm.controls['IsAccount'].touched && loanForm.controls['IsAccount'].hasError('required')">{{"REQUIRED" | translate }}</p>
				</div>
			</div>
			<div class="col-4" *ngIf="isPSBCustomer" >
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}">
					<label>{{"ACCOUNT_NUMBER" | translate}}</label>
					<input type="text" placeholder='{{"ENTER_ACCOUNT_NUMBER" | translate}}' formControlName="AccountNumber" numbersOnly limit-to="16"> 
					<p class="error-message" *ngIf="loanForm.controls['AccountNumber'].touched && loanForm.controls['AccountNumber'].hasError('required')">{{"PLEASE_ENTER_ACCOUNT_NUMBER" | translate }}</p>
					<p class="error-message" *ngIf="!loanForm.controls['AccountNumber'].hasError('required') && loanForm.controls['AccountNumber'].hasError('pattern')">{{"PLEASE_ENTER_ACCOUNT_NUMBER" | translate }}</p>
				</div>
				
			</div>
			<div class="col-4" >
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}" >
					<label>{{"PRESENT_ADDRESS" | translate}}</label>
					<input type="text" placeholder='{{"ENTER_ADDRESS" | translate}}' formControlName="PresentAddress"> 
					<p class="error-message" *ngIf="loanForm.controls['PresentAddress'].touched && loanForm.controls['PresentAddress'].hasError('required')">{{"PLEASE_ENTER_ADDRESS" | translate }}</p>
				
				</div>
				
			</div>
			<div class="col-4" >
				<div class="ux-input" [ngClass]="{'ux-disabled': fromSubmitFlag}" >
					<label>{{"PRESENT_COUNTRY" | translate}}</label>
					<input type="text" placeholder='{{"ENTER_PRESENT_COUNTRY" | translate}}' formControlName="PresentCountry"> 
					<p class="error-message" *ngIf="loanForm.controls['PresentCountry'].touched && loanForm.controls['PresentCountry'].hasError('required')">{{"PLEASE_ENTER_ADDRESS" | translate }}</p>
				
				</div>
				
			</div>
			<div class="col-12" >
				<div *ngIf="fromSubmitFlag" class="text-center my-3">
					<p>Please Provide this Lead Number <b>{{resultmsg}}</b>  to the customer care executive <br> Thank You!</p>
					<p class="errormsg">{{errormsg}}</p>
				</div>
			</div>
			<div class="col-12 text-center">
				<button type="submit" class="ux-button primary" *ngIf="!fromSubmitFlag">{{"SUBMIT" | translate }}</button>
				<button type="button " (click)="closePopup()" class="ux-button secondary" *ngIf="fromSubmitFlag">{{"CLOSE" | translate }}</button>
			</div>
		</div>
	</form>
</div>
</div>

<app-terms-conditons></app-terms-conditons>
