<div class="ios-nav-overlay"></div>
<div class="prelogin-page">
	<div class="registration-steps ">
		<div class="row1">
			<div class="col-12 position-static">
				<div class="inner-header">
					<div class="registration-container">
						<a class="prev-tab" (click)="backToPrevPage()"><img src="assets/images/svg/left-arrow.svg">Back to Login</a>
						<h4>{{isFromForgotMPIN ? 'Forgot MPIN' : 'FORGOT PASSWORD'}}</h4>
						<a class="close-registration"><img  (click)="goToLogin()" src="assets/images/svg/close-w.svg"></a> <!--(click)="mobPrevclick('cross')"-->
					</div>
				</div>
				<div class="registrationsteps-block custom-pad registration-container ">
					<!--acc-opening-page-->
					<div class="row1">
						<div class="background-block" style="background-image: url(assets/images/background/basic-background.png);"> </div>
						<div class="middle-block">
							<div class="pageHeader">
								<!-- <h3>Help us with your Bank details</h3> -->
								<h4>Provide Banking Details</h4>
								<h6>Please enter details registered in your bank account</h6> </div>
							<form [formGroup]="forgotpassword" (ngSubmit)="submitForm()">
								<div class="row1">
									<div class="col-12 col-md-12 col-xl-12 col-lg-12">
										<div class="ux-input">
											<label for="userName">User Name</label>
											<input type="text" limit-to="20" username name="userName" placeholder="Enter User Name" formControlName="username" autocomplete="off">
											<p class="error-message" *ngIf="forgotpassword.controls['username'].hasError('required')  && forgotpassword.controls['username'].touched"> {{ 'ENTER_USERNAME' | translate }} </p>
										</div>
									</div>
								</div>
								<div class="row1">
									<div class="col-12 col-md-12 col-xl-12 col-lg-12">
										<div class="ux-input">
											<label>{{"CUST_ID" | translate}}</label>
											<input limit-to="9" type="tel" placeholder='{{"ENTER_CUST_ID" | translate}}' formControlName="custId" numbersOnly> 
                  <p class="error-message" *ngIf="forgotpassword.controls['custId'].touched && forgotpassword.controls['custId'].hasError('required')">{{"PLEASE_ENTER_CUST_ID" | translate }}</p>
				  <p class="error-message" *ngIf="!forgotpassword.controls['custId'].hasError('required') && forgotpassword.controls['custId'].hasError('pattern')">{{"PLEASE_ENTER_VALID_CUST_ID" | translate }}</p>
										</div>
									</div>
								</div>
								<div class="row1">
									<div class="col-12 col-md-12 col-xl-12 col-lg-12">
										<div class="ux-input">
											<label>{{"ACCOUNT_NUMBER" | translate}}</label>
									<input limit-to="14" type="tel" placeholder='{{"ENTER_ACCOUNT_NUMBER" | translate}}' formControlName="accNo" numbersOnly> 
                  <p class="error-message" *ngIf="forgotpassword.controls['accNo'].touched && forgotpassword.controls['accNo'].hasError('required')">{{"PLEASE_ENTER_ACC" | translate }}</p>
				  <p class="error-message" *ngIf="!forgotpassword.controls['accNo'].hasError('required') && forgotpassword.controls['accNo'].hasError('pattern')">{{"PLEASE_ENTER_VALID_ACC" | translate }}</p>
										</div>
									</div>
								</div>
								<div class="row1">
									<div class="col-12 position-static">
										<div class="text-center button-block">
											<button type="submit" class="ux-button primary">{{ 'CONTINUE' | translate }}</button>
										</div>
									</div>
								</div>
								<!-- <div class="ux-input  ">
                            <label>Username</label>

                            <input id="username" type="text" placeholder='Enter Username'
                                formControlName="username" autocomplete="off" >

                                <span class="errormsg"
                                *ngIf="forgotpassword.controls['username'].hasError('required')  && forgotpassword.controls['username'].touched">
                                {{ 'ENTER_USERNAME' | translate }}
                              </span>
                        </div> -->
								<!-- <div class="text-center button-block">
                            <button  type="submit" class="ux-button primary" > {{ 'CONTINUE' | translate }}</button>
                        </div> -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
