<div class="main bg-m">
	<div class="nav-overlay"></div>
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad mycards">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<div class="breadcrumb">
								<ul class="lst-breadcrumb">
									<!-- <li> <a>Cheque Book</a> </li>
									<li> Inward Cheque Inquiry </li> -->
                                    <li *ngFor="let name of DataService.breadcrumblist">
                                        <a (click)="DataService.breadcrumroute(name.routeName)">{{name.currentRoute | translate}}</a>
                                </li>
								</ul>
							</div>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-xl-block d-lg-block d-md-none d-sm-none "></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12  col-xl-9">
									<div class="greencard2 tracklist">
										<div class="row1 hide-m">
											<div class="col-md-8 col-12">
												<h4>Inward Cheque Inquiry</h4> </div>
											<div class="col-md-4 col-12"> </div>
										</div>
										<div class="row1">
											<div class="col-12 col-sm-12 col-md-12 col-lg-12">
												<div class="widget-box5 mb-3">
													<div class="bg-white1 pad-custom p-0">
														<ul class="inward-grid-list">
															<li *ngFor="let inwardchecks of inwardchecks">
																<div class="grid-info">
																	<div class="full-info">
																		<h6>Cheque Number</h6>
																		<!-- <h5>{{inwardchecks.cheque_Number}}</h5> -->
																		<em *ngIf="inwardchecks.cheque_Number.length==1"> {{'00000' + inwardchecks.cheque_Number}}</em>
																		 <em *ngIf="inwardchecks.cheque_Number.length==2"> {{'0000' + inwardchecks.cheque_Number}}</em>
																		<em *ngIf="inwardchecks.cheque_Number.length==3"> {{'000' + inwardchecks.cheque_Number}}</em>
																		 <em *ngIf="inwardchecks.cheque_Number.length==4"> {{'00' + inwardchecks.cheque_Number}}</em>
																		<em *ngIf="inwardchecks.cheque_Number.length==5"> {{'0' + inwardchecks.cheque_Number}}</em>
																		<em *ngIf="inwardchecks.cheque_Number.length==6"> {{inwardchecks.cheque_Number}}</em>
																		 </div>
																</div>
																<div class="grid-info">
																	<div class="full-info">
																		<h6>Issue Date</h6>
																		<h5 *ngIf="inwardchecks.dateOfIssue!=''">{{inwardchecks.dateOfIssue}}</h5>
																		<h5 *ngIf="inwardchecks.dateOfIssue==''">xx-xx-xxxx</h5> </div>
																</div>
																<div class="grid-info">
																	<div class="full-info">
																		<h6>Passing Date/Rejection Date</h6>
																		<h5 *ngIf="inwardchecks.inquiryStatus=='PASSED'">{{inwardchecks.dateOfPassing}}</h5>
																		<h5 *ngIf="inwardchecks.inquiryStatus=='REJECTED'">{{inwardchecks.dateOfRejection}}</h5> </div>
																</div>
																<div class="grid-info">
																	<div class="full-info">
																		<h6>Amount</h6>
																		<h5>{{inwardchecks.amount  | customcurrency: "symbol"}}</h5> </div>
																</div>
																<div class="grid-info" *ngIf="inwardchecks.inquiryStatus==''">
																	<div class="full-info text-status"> <em class="text-present"><img
                                                                                src="assets/images/svg/pending1.svg"
                                                                                alt="pending-icon">Presented</em> </div>
																</div>
																<div class="grid-info" *ngIf="inwardchecks.inquiryStatus=='PASSED'">
																	<div class="full-info text-status"> <em class="text-pass"><img
                                                                              src="assets/images/svg/success-circle.svg"
                                                                              alt="reject-icon">Passed</em> </div>
																</div>
																<div class="grid-info" *ngIf="inwardchecks.inquiryStatus=='REJECTED'">
																	<div class="full-info text-status"> <em class="text-reject"><img
                                                                            src="assets/images/svg/declined.svg"
                                                                            alt="reject-icon">Rejected</em> </div>
																</div>
																<div class="grid-info">
																	<div class="full-info view-btn text-right">
																		<button class="ux-button sm secondary md" (click)="gotoInwardcheckDetail(inwardchecks)">View</button>
																	</div>
																</div>
															</li>
															<!-- <li>
                                                                <div class="grid-info">
                                                                    <div class="full-info">
                                                                        <h6>Cheque Number</h6>
                                                                        <h5>8690434</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info">
                                                                        <h6>Instrument Date</h6>
                                                                        <h5>25 March 2020</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info">
                                                                        <h6>Rejection Date</h6>
                                                                        <h5>26 June 2020</h5>

                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info">
                                                                        <h6>Amount</h6>
                                                                        <h5>₹ 300</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info text-status">
                                                                        <em class="text-reject"><img
                                                                                src="assets/images/svg/declined.svg"
                                                                                alt="reject-icon">Rejected</em>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info view-btn text-right">
                                                                        <button class="ux-button sm secondary md" (click)="goToPage('inwardChequeInquiryDetails')">View</button>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="grid-info">
                                                                    <div class="full-info">
                                                                        <h6>Cheque Number</h6>
                                                                        <h5>8690434</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info">
                                                                        <h6>Instrument Date</h6>
                                                                        <h5>25 March 2020</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info">
                                                                        <h6>Rejection Date</h6>
                                                                        <h5>26 June 2020</h5>

                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info">
                                                                        <h6>Amount</h6>
                                                                        <h5>₹ 300</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info text-status">
                                                                        <em class="text-pass"><img
                                                                                src="assets/images/svg/success-circle.svg"
                                                                                alt="reject-icon">Passed</em>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-info">
                                                                    <div class="full-info view-btn text-right">
                                                                        <button class="ux-button sm secondary md" (click)="goToPage('inwardChequeInquiryDetails')">View</button>
                                                                    </div>
                                                                </div>
                                                            </li> -->
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-xl-block">
									<div class="right-ads">
										<a> <img src="assets/images/banner/my-card-banner.jpg"> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--.container-fluid-->
			</div>
			<!--.body-page-container-->
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
