<div class="row1">
	<div class="col-12 col-lg-6 col-md-12 col-sm-12 position-static">
		<div class="row1">
			<div class="col-12">
				<ul class="step-list">
					<li class="step-matched"> <em> <span class="primary">STEP 4 </span>
                            <span class="secondary">of STEP 6</span> </em> </li>
				</ul>
				<div class="tab-header">
					<div class="row1">
						<div class="col-12 col-md-12">
							<h4>Create UPI (Unified Payment Interface) ID</h4> </div>
					</div>
					<div class="row1">
						<div class="col-12 col-md-12"> <small class="link-text mb-3">
                                UPI is an instant payment system helping in transferring the funds <a>More</a>
                            </small> </div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="details-section">
					<div class="row1">
						<div Class="col-12 col-md-12">
							<form [formGroup]="registrationFormUpiDtl">
								<div class="ux-input pb-0" [ngClass]="{'ux-disabled-transperent': isUpiAvailable === true }">
									<label for="upiId">UPI ID <img src="assets/images/svg/completed.svg" class="tick-img" *ngIf="upiVerified"></label>
									<input type="text" name="upiId" placeholder="Enter UPI ID/Mobile Number" value="" formControlName="upiId" [readonly]="isUpiAvailable == true" autocomplete="off"> <span class="show-info2" style="background-color : transparent !important;" >@psb</span> </div>
							</form>
						</div>
						<div class="col-12 col-md-12">
							<div class="text-right">
								<!-- <a href="javascript:;"  data-toggle="modal" data-target="#usernamePolicy" class="reg-txt">{{'USERNAME_POLICY' |translate}}</a> --><a href="javascript:;" class="check-availability" (click)="checkAvailability()" *ngIf="isUpiAvailable == false">Check Availability</a> </div>
						</div>
					</div>
					<div class="row1">
						<div Class="col-12 col-md-12" *ngIf="ifAlreadyLinked">
							<div class="link-upi-account ">
								<label>Linked Bank Account</label>
								<a class="clearfix"> <img src="assets/images/logo/logo-small.png">
									<div class="txt-block"> <span><sup>**** ****  ****</sup>{{getLast4digit(selVpaAcc.accNum)}} </span> <b>{{selVpaAcc.accType}}</b> </div>
								</a>
							</div>
						</div>
						<div Class="col-12 col-md-12" *ngIf="onGetAccList">
							<div class="link-upi-account ">
								<label>Linked Bank Account</label>
								<a class="clearfix" *ngFor="let account of vpaAddressList"> <img src="assets/images/logo/logo-small.png">
									<div class="txt-block"> <span><sup>**** ****  ****</sup>{{getLast4digit(account.ACCNUMBER)}} </span> <b>{{account.accType | titlecase}}</b> </div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-10 col-md-12 col-sm-12 position-static">
				<div class="ux-footer border-n">
					<div class="row1">
						<div class="col-12 col-md-12">
							<ul class="bottom-footer1">
								<li>
									<div class="btn-div custom-mar">
										<button class="ux-button secondary sm-mob" (click)="_skip()">Skip</button>
									</div>
									<div class="btn-div custom-mar w50">
										<button class="create-upi ux-button primary sm-mob" (click)="submitStep4()" [disabled]="!upiVerified">Next</button>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-md-2 col-sm-12 d-none d-lg-block d-xl-block"> <img src="assets/images/svg/UPIID.svg" class="right-regImg"> </div>
</div>
