.toknerrormsg{
    text-align: left;
    width: 100%;
    margin-top: 0.25rem;
    bottom: -2px;
    left: 0;
    font-size: 80%;
    color: #dc3545;
}

.registration-text{
    margin-left: 1.3rem;
    font-size: 1.8rem !important;
}

